<!-- <div class="login-container">
          <h1>Citizen Registration goes here</h1><br>
          <button class="add-candidate" ng-click="citizenRegistration()">Register</button>

</div>  -->

<div ng-init="enableLoginSection()">
<div id="loginDiv" ng-if="showLogin" class="login-container">
	<h1 translate="citizenlogin_label"></h1><br>
	<div class="validation-err" ng-if="loginErrMsg" ng-bind="loginErrMsg"></div>
          <form name="citizenloginform" novalidate>
            <input type="email" name="username" placeholder="{{ 'username_string' | translate }}" 
            ng-model="citizenLoginControl.username" ng-class="{ 'has-error': citizenloginform .username.$touched && citizenloginform .username.$error }" required>
            <div ng-messages="citizenloginform .username.$error" ng-show="citizenloginform .username.$touched || isButtonClicked">
                <p ng-message="required" translate="username_required_error" class="validation-err"></p>
                <p ng-message="email" translate="username_invalid_error" class="validation-err"></p>
            </div>
            
            <input type="password" name="password" placeholder="{{ 'password_string' | translate }}" 
            ng-model="citizenLoginControl.password" ng-class="{ 'has-error': citizenloginform .username.$touched && citizenloginform .username.$error }" required>
            <div ng-messages="citizenloginform .password.$error" ng-show="citizenloginform .password.$touched || isButtonClicked">
                <p ng-message="required" translate="password_required_error" class="validation-err"></p>
            </div>

            <input type="submit" name="login" class="login loginmodal-submit" ng-click="citizenLogin(citizenloginform )" 
            value="{{ 'login_heading' | translate }}">


            <button class="btn btn-primary new-citizen-reg" type="button" ng-click="enableRegisterSection()">
                {{ 'registerherelink_label' | translate }} </button>

            <button class="btn btn-primary new-citizen-reg" translate="forgot_password" type="button" ng-click="openForgotPassPopUp()"></button>

            
          </form>

	</div>

<div id="registerDiv" ng-if="showRegistration">
	<div ng-include="'../app/components/citizenManager/registration/registration.html'"></div>
</div>


<div id="otpVerify" ng-if="showOTPVerification">

	
        <div class="otp-box">
            <div class="otp-heading">Verify OTP</div>
            <div class="otp-text">Please enter six digit verification code / OTP (One Time Password) which we have sent at your registered mobile number -'{{CitizenOTPControl.phone}}' </div>
            <div>
                <input class="input-search" name="OTP" ng-model="CitizenOTPControl.OTP" placeholder="Enter OTP" required/>
            </div>        
            <div class="otp-buttons">
                <button class="btn btn-primary" type="button" ng-click="submitCitizenOTP()">पाठवा</button>
                <button class="btn btn-warning" type="button" ng-click="ResendOTP()">OTP परत पाठवा</button>
            </div>
        </div>

</div>

</div>