
  <div class="clear-left" id="commercialformid">
    <button type="button" class="btn btn-info" ng-if="showAddButton" ng-click="enableServiceForm('commercialservicesform','commercialServiceFormControl')"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> {{'addnewservice_label' | translate}}</button>
  </div>
  <div ng-if="commercialservicesform">
  <form novalidate name="commercialserviceform" enctype="multipart/form-data" id="">
 
  <div class="col-md-6">
      <div class="form-group">
        <label translate="selectservice_label">*</label>
        <select name="servicename" ng-model="commercialServiceFormControl.servicename" required>
             <option value="">Select Service</option>
             <option value="{{muniService}}" ng-selected="{{muniService == commercialServiceFormControl.servicename}}" ng-repeat="muniService in commercialServices">{{muniService}}</option>
        </select>
        <div ng-messages="commercialserviceform.servicename.$error" ng-show="commercialserviceform.servicename.$touched || isButtonClicked">
              <p ng-message="required" translate="servicename_required_error" class="validation-err"></p>
        </div> 
      </div>
      
      <div class="form-group" ng-if="commercialServiceFormControl.servicename == 'Other'">
        <label translate="servicename_label">*</label>
        <input type="text" name="customservicename" ng-model="commercialServiceFormControl.customservicename" class="form-control" required>
         <div ng-messages="commercialserviceform.customservicename.$error" ng-show="commercialserviceform.customservicename.$touched || isButtonClicked">
              <p ng-message="required" translate="servicename_required_error" class="validation-err"></p>
        </div> 
      </div>

      <div class="form-group">
        <label translate="serviceheading_label">*</label>
        <input type="text" name="serviceheading" ng-model="commercialServiceFormControl.serviceheading" class="form-control" required>
         <div ng-messages="commercialserviceform.serviceheading.$error" ng-show="commercialserviceform.serviceheading.$touched || isButtonClicked">
              <p ng-message="required" translate="serviceheading_required_error" class="validation-err"></p>
        </div> 
      </div>

      <div class="form-group">
        <label translate="contperson_label">*</label>
        <input type="text" name="servicecontactperson" ng-model="commercialServiceFormControl.servicecontactperson" class="form-control" required>
        <div ng-messages="commercialserviceform.servicecontactperson.$error" ng-show="commercialserviceform.servicecontactperson.$touched || isButtonClicked">
              <p ng-message="required" translate="servicecontactperson_required_error" class="validation-err"></p>
        </div> 
      </div>

      <div class="form-group">
        <label translate="designation_label">:</label>
        <input type="text" name="servicedesignation" ng-model="commercialServiceFormControl.servicedesignation" class="form-control">
      </div>

      <div class="form-group col-md-6 assembly yes-no-redio">
          <label translate="enableservice_label"></label>
          <div class="btn-group">
            <label style="color: #fff;" class="btn btn-primary" ng-model="commercialServiceFormControl.servicestatus" uib-btn-radio="'1'">{{'yes_label' | translate}}</label>
            <label style="color: #fff;" class="btn btn-primary" ng-model="commercialServiceFormControl.servicestatus" uib-btn-radio="'0'">{{'no_label' | translate}}</label>
          </div>
      </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
          <label translate="servicepic_label"></label>
          <span class="uploaded-pic service-pic">
            <img onerror="this.src='./assets/img/noimage.jpg'" class="uploaded-pic thumb" ngf-thumbnail="commercialServiceFormControl.filedata" alt="Service Image">
          </span>
          
          <div class="clear"></div>
          <input type="file" imagetype="filedata" ngf-select ng-model="commercialServiceFormControl.filedataTemp" name="filedataTemp"    
               accept="image/*"
               ngf-pattern="'image/*'"
               ngf-model-invalid="errorFiles"
               ng-change="handleFileSelect(commercialServiceFormControl.filedataTemp,'commercialServiceFormControl','filedata',null)">
          <div ng-messages="commercialserviceform.filedataTemp.$error" ng-show="commercialserviceform.filedataTemp.$touched || isButtonClicked">
              <!-- <p ng-message="required" translate="profile_required_error" class="validation-err"></p> -->
              <p ng-message="pattern" translate="unsupportedfile_required_error" class="validation-err"></p>
              
          </div>
    </div>

     <div class="form-group">
         <label translate="contnum_label">*</label>
        <input type="text" name="servicephone" ng-model="commercialServiceFormControl.servicephone" class="form-control" required>
        <div ng-messages="commercialserviceform.servicephone.$error" ng-show="commercialserviceform.servicephone.$touched || isButtonClicked">
              <p ng-message="required" translate="servicecontactphone_required_error" class="validation-err"></p>
        </div> 
    </div> 

   <!--  <div class="form-group">
        <label translate="contnum_label">*</label>
        <span style="margin-right:23%;">
          <span>
            <input type="text" name="tempservicephone" ng-model="commercialServiceFormControl.tempservicephone" class="form-
            control" required>
          </span>
          <span>
            <a href="" ng-click="addServiceContactNumber('commercialServiceFormControl',commercialserviceform)"><span class="glyphicon glyphicon-plus"  aria-hidden="true"></span> </a>
          </span>
        
          <span ng-if="commercialServiceFormControl.servicephone.length > 0">
             
             <table class="full-table">
               <tr ng-repeat="phone in commercialServiceFormControl.servicephone track by $index">
                  <td width="90%">{{phone.servicephone}}</th>
                  <td width="10%"><a href="" ng-click="removeServiceContactNumber('commercialServiceFormControl',$index)"><span class="glyphicon glyphicon-remove" style="color:red;" aria-hidden="true"></span></a>
                  </th>
                  
               </tr>
              </table>
          </span>
        <span>

        <div ng-show="(commercialServiceFormControl.servicephone.length == 0) && isButtonClicked">
              <p  translate="servicecontactphone_required_error" class="validation-err"></p>
        </div> 

        <div ng-messages="commercialserviceform.tempservicephone.$error" ng-show="commercialserviceform.tempservicephone.$touched && isPhoneAddButtonClicked">
              <p ng-message="required" translate="servicecontactphone_required_error" class="validation-err"></p>
        </div>
      </div>
 -->

      <div class="form-group">
        <label translate="addr_label">:</label>
        <textarea name="serviceaddress" ng-model="commercialServiceFormControl.serviceaddress" class="form-control"></textarea>
      </div>
      
      
  </div> 
  <div class="clear-center">
    <button type="button" class="btn btn-info" ng-click="addServiceDetails(commercialserviceform ,'Commercial Services','commercialServiceFormControl','commercialServicesArray')">{{ 'save_label' | translate}}</button>
    <button type="button" class="btn btn-info" ng-click="disableServiceForm('commercialservicesform')">{{'cancel_label' | translate}}</button>
  </div>
</form>
 </div>
  


  <div ng-if="commercialServicesArray.length != 0">
    <table class="full-table">
       <tr>
          <th width="15%">Photo</th>
          <th width="10%">Service</th>
          <th width="10%">Contact Person</th>
          <th width="10%">Designation</th>
          <th width="10%">Contact number</th>
          <th width="20%">Address</th>
          <th width="15%">Enable/Disable</th>
          <th width="5%">Edit</th>
          <th width="5%">Delete</th>
       </tr>

       <tr ng-repeat="commercialService in commercialServicesArray"> <!-- servicecategoryid -->
          <td><image class="tablelistpiccol" ng-src="{{commercialService.serviceimage}}" onerror="this.src='./assets/img/noimage.jpg'"/></td>
          <td ng-bind="commercialService.servicename"></td>
          <td ng-bind="commercialService.servicecontactperson"></td>
          <td ng-bind="commercialService.servicedesignation"></td>
          <td ng-bind="commercialService.servicephone"></td>
          <!-- <td>
                <li ng-repeat="phone in commercialService.servicephone" ng-bind="phone"></li>
          </td> -->

          <td ng-bind="commercialService.serviceaddress"></td>
          <td><div class="btn-group">
              <label style="color: #fff;" class="btn btn-primary" ng-model="commercialService.servicestatus" uib-btn-radio="'1'" ng-click="updateServiceStatus('1','Commercial Services',commercialService,'commercialServicesArray')">Enable</label>
              <label style="color: #fff;" ng-click="updateServiceStatus('0','Commercial Services',commercialService,'commercialServicesArray')" class="btn btn-primary" ng-model="commercialService.servicestatus" uib-btn-radio="'0'">Disable</label>
            </div>
          </td>
          <td>
            <button class="btn btn-default edit-button" ng-click="goToeditService(commercialService, 'commercialServiceFormControl','commercialservicesform','commercialformid','commercialServices')"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></button>
          </td>
          <td class="delete-td delete-td-adjst"><span class="delete" ng-click="deleteServiceCategory('Commercial Services',commercialService,'commercialServicesArray')">X</span></td>
       </tr>
       
    </table>
  </div>
