
  <div class="clear-left" id="emergencyformid">
    <button type="button" class="btn btn-info" ng-if="showAddButton" ng-click="enableServiceForm('emergencyservicesform','emergencyServiceFormControl')"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> {{'addnewservice_label' | translate}}</button>
  </div>
  <div ng-if="emergencyservicesform">
  <form novalidate name="emergencyserviceform" enctype="multipart/form-data" id="">
 
  <div class="col-md-6">
      <div class="form-group">
         <label translate="selectservice_label">*</label>
        <select name="servicename" ng-model="emergencyServiceFormControl.servicename" required>
             <option value="">Select Service</option>
             <option value="{{emrService}}" ng-selected="{{emrService == emergencyServiceFormControl.servicename}}" ng-repeat="emrService in emergencyServices">{{emrService}}</option>
        </select>
        <div ng-messages="emergencyserviceform.servicename.$error" ng-show="emergencyserviceform.servicename.$touched || isButtonClicked">
              <p ng-message="required" translate="servicename_required_error" class="validation-err"></p>
        </div> 
      </div>
      
      <div class="form-group" ng-if="emergencyServiceFormControl.servicename == 'Other'">
        <label translate="servicename_label">*</label>
        <input type="text" name="customservicename" ng-model="emergencyServiceFormControl.customservicename" class="form-control" required>
         <div ng-messages="emergencyserviceform.customservicename.$error" ng-show="emergencyserviceform.customservicename.$touched || isButtonClicked">
              <p ng-message="required" translate="servicename_required_error" class="validation-err"></p>
        </div> 
      </div>

      <div class="form-group">
        <label translate="serviceheading_label">*</label>
        <input type="text" name="serviceheading" ng-model="emergencyServiceFormControl.serviceheading" class="form-control" required>
         <div ng-messages="emergencyserviceform.serviceheading.$error" ng-show="emergencyserviceform.serviceheading.$touched || isButtonClicked">
              <p ng-message="required" translate="serviceheading_required_error" class="validation-err"></p>
        </div> 
      </div>

      <div class="form-group">
        <label translate="contperson_label">*</label>
        <input type="text" name="servicecontactperson" ng-model="emergencyServiceFormControl.servicecontactperson" class="form-control" required>
        <div ng-messages="emergencyserviceform.servicecontactperson.$error" ng-show="emergencyserviceform.servicecontactperson.$touched || isButtonClicked">
              <p ng-message="required" translate="servicecontactperson_required_error" class="validation-err"></p>
        </div> 
      </div>

      <div class="form-group">
        <label translate="designation_label">:</label>
        <input type="text" name="servicedesignation" ng-model="emergencyServiceFormControl.servicedesignation" class="form-control">
      </div>
      <div class="form-group col-md-6 assembly yes-no-redio">
          <label translate="enableservice_label"></label>
          <div class="btn-group">
            <label style="color: #fff;" class="btn btn-primary" ng-model="emergencyServiceFormControl.servicestatus" uib-btn-radio="'1'">{{'yes_label' | translate}}</label>
            <label style="color: #fff;" class="btn btn-primary" ng-model="emergencyServiceFormControl.servicestatus" uib-btn-radio="'0'">{{'no_label' | translate}}</label>
          </div>
      </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
          <label translate="servicepic_label"></label>
          <span class="uploaded-pic service-pic">
            <img onerror="this.src='./assets/img/noimage.jpg'" class="uploaded-pic thumb" ng-src="{{emergencyServiceFormControl.filedata}}">
          </span>
          
          <div class="clear"></div>
          <input type="file" imagetype="filedata" ngf-select ng-model="emergencyServiceFormControl.filedataTemp" name="filedataTemp"    
               accept="image/*"
               ngf-pattern="'image/*'"
               ngf-model-invalid="errorFiles" 
               ng-change="handleFileSelect(emergencyServiceFormControl.filedataTemp,'emergencyServiceFormControl','filedata',null)">
          <div ng-messages="emergencyserviceform.filedataTemp.$error" ng-show="emergencyserviceform.filedataTemp.$touched || isButtonClicked">
              <!-- <p ng-message="required" translate="profile_required_error" class="validation-err"></p> -->
              <p ng-message="pattern" translate="unsupportedfile_required_error" class="validation-err"></p>
              
          </div>
    </div>

    <div class="form-group">
         <label translate="contnum_label">*</label>
        <input type="text" name="servicephone" ng-model="emergencyServiceFormControl.servicephone" class="form-control" required>
        <div ng-messages="emergencyserviceform.servicephone.$error" ng-show="emergencyserviceform.servicephone.$touched || isButtonClicked">
              <p ng-message="required" translate="servicecontactphone_required_error" class="validation-err"></p>
        </div> 
    </div> 

    <!-- <div class="form-group">
        <label translate="contnum_label">*</label>
        <span style="margin-right:23%;">
          <span>
            <input type="text" name="tempservicephone" ng-model="emergencyServiceFormControl.tempservicephone" class="form-
            control" required>
          </span>
          <span>
            <a href="" ng-click="addServiceContactNumber('emergencyServiceFormControl',emergencyserviceform)"><span class="glyphicon glyphicon-plus"  aria-hidden="true"></span> </a>
          </span>
        
          <span ng-if="emergencyServiceFormControl.servicephone.length > 0">
             <table class="full-table">
               <tr ng-repeat="phone in emergencyServiceFormControl.servicephone track by $index">
                  <td width="90%">{{phone.servicephone}}</th>
                  <td width="10%"><a href="" ng-click="removeServiceContactNumber('emergencyServiceFormControl',$index)"><span class="glyphicon glyphicon-remove" style="color:red;" aria-hidden="true"></span></a>
                  </th>
                  
               </tr>
              </table>
          </span>
        <span>

        <div ng-show="(emergencyServiceFormControl.servicephone.length == 0) && isButtonClicked">
              <p  translate="servicecontactphone_required_error" class="validation-err"></p>
        </div> 

        <div ng-messages="emergencyserviceform.tempservicephone.$error" ng-show="emergencyserviceform.tempservicephone.$touched && isPhoneAddButtonClicked">
              <p ng-message="required" translate="servicecontactphone_required_error" class="validation-err"></p>
        </div>
      </div> -->

      <div class="form-group">
        <label translate="addr_label">:</label>
        <textarea name="serviceaddress" ng-model="emergencyServiceFormControl.serviceaddress" class="form-control"></textarea>
      </div>
      
  </div> 
  <div class="clear-center">
    <button type="button" class="btn btn-info" ng-click="addServiceDetails(emergencyserviceform ,'Emergency Services','emergencyServiceFormControl','emergencyServicesArray')">{{ 'save_label' | translate}}</button>
    <button type="button" class="btn btn-info" ng-click="disableServiceForm('emergencyservicesform')">{{'cancel_label' | translate}}</button>
  </div>
</form>
 </div>
  


  <div ng-if="emergencyServicesArray.length != 0">
    <table class="full-table">
       <tr>
          <th width="15%">Photo</th>
          <th width="10%">Service</th>
          <th width="10%">Contact Person</th>
          <th width="10%">Designation</th>
          <th width="10%">Contact number</th>
          <th width="20%">Address</th>
          <th width="15%">Enable/Disable</th>
          <th width="5%">Edit</th>
          <th width="5%">Delete</th>
       </tr>

       <tr ng-repeat="emergencyService in emergencyServicesArray"> <!-- servicecategoryid -->
          <td><image class="tablelistpiccol" ng-src="{{emergencyService.serviceimage}}" onerror="this.src='./assets/img/noimage.jpg'"/></td>
          <td ng-bind="emergencyService.servicename"></td>
          <td ng-bind="emergencyService.servicecontactperson"></td>
          <td ng-bind="emergencyService.servicedesignation"></td>
          <td ng-bind="emergencyService.servicephone"></td>
          <!-- <td>
                <li ng-repeat="phone in emergencyService.servicephone" ng-bind="phone"></li>
          </td> -->
          <td ng-bind="emergencyService.serviceaddress"></td>
          <td>
          <div class="btn-group">
              <label style="color: #fff;" class="btn btn-primary" ng-model="emergencyService.servicestatus" uib-btn-radio="'1'" ng-click="updateServiceStatus('1','Emergency Services',emergencyService,'emergencyServicesArray')">Enable</label>
              <label style="color: #fff;" ng-click="updateServiceStatus('0','Emergency Services',emergencyService,'emergencyServicesArray')" class="btn btn-primary" ng-model="emergencyService.servicestatus" uib-btn-radio="'0'">Disable</label>
            </div>
          </td>
          <td>
            <button class="btn btn-default edit-button" ng-click="goToeditService(emergencyService, 'emergencyServiceFormControl','emergencyservicesform','emergencyformid','emergencyServices')"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></button>
          </td>
          <td class="delete-td delete-td-adjst"><span class="delete" ng-click="deleteServiceCategory('Emergency Services',emergencyService,'emergencyServicesArray')">X</span></td>
       </tr>
       
    </table>
  </div>
