
  <div class="clear-left" id="importantinfoformid">
    <button type="button" class="btn btn-info" ng-if="showAddButton" ng-click="enableServiceForm('importantInfoservicesform','importantInfoServiceFormControl')"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> {{'addnewservice_label' | translate}}</button>
  </div>
  <div ng-if="importantInfoservicesform">
  <form novalidate name="importantInfoserviceform" enctype="multipart/form-data" id="">
 
  <div class="col-md-6">
      <div class="form-group">
        <label translate="servicename_label">*</label>
        <input type="text" name="servicename" ng-model="importantInfoServiceFormControl.servicename" class="form-control" required>
         <div ng-messages="importantInfoserviceform.servicename.$error" ng-show="importantInfoserviceform.servicename.$touched || isButtonClicked">
              <p ng-message="required" translate="servicename_required_error" class="validation-err"></p>
        </div> 
      </div>
      <div class="form-group">
        <label translate="url_label">*</label>
        <input type="text" name="serviceurl" ng-model="importantInfoServiceFormControl.serviceurl" class="form-control" required>
        <div ng-messages="importantInfoserviceform.serviceurl.$error" ng-show="importantInfoserviceform.serviceurl.$touched || isButtonClicked">
              <p ng-message="required" translate="serviceurl_required_error" class="validation-err"></p>
        </div> 
      </div>

      <div class="form-group col-md-6 assembly yes-no-redio">
          <label translate="enableservice_label"></label></label>
          <div class="btn-group">
            <label style="color: #fff;" class="btn btn-primary" ng-model="importantInfoServiceFormControl.servicestatus" uib-btn-radio="'1'">{{'yes_label' | translate}}</label>
            <label style="color: #fff;" class="btn btn-primary" ng-model="importantInfoServiceFormControl.servicestatus" uib-btn-radio="'0'">{{'no_label' | translate}}</label>
          </div>
        </div>
     
  </div>

  <div class="col-md-6">
      <div class="form-group">
          <label translate="servicepic_label"></label>
          <span class="uploaded-pic service-pic">
            <img onerror="this.src='./assets/img/noimage.jpg'" class="uploaded-pic thumb" ngf-thumbnail="importantInfoServiceFormControl.filedata" alt="Service Image">
          </span>
          
          <div class="clear"></div>
          <input type="file" imagetype="filedata" ngf-select ng-model="importantInfoServiceFormControl.filedataTemp" name="filedataTemp"    
               accept="image/*"
               ngf-pattern="'image/*'"
               ngf-model-invalid="errorFiles" ng-change="handleFileSelect(importantInfoServiceFormControl.filedataTemp,'importantInfoServiceFormControl','filedata',null)">
          <div ng-messages="importantInfoserviceform.filedataTemp.$error" ng-show="importantInfoserviceform.filedataTemp.$touched || isButtonClicked">
              <!-- <p ng-message="required" translate="profile_required_error" class="validation-err"></p> -->
              <p ng-message="pattern" translate="unsupportedfile_required_error" class="validation-err"></p>
              
          </div>
    </div>
  </div>

  <div class="clear-center">
    <button type="button" class="btn btn-info" ng-click="addServiceDetails(importantInfoserviceform ,'Important Information','importantInfoServiceFormControl','importantInfoServicesArray')">{{ 'save_label' | translate}}</button>
    <button type="button" class="btn btn-info" ng-click="disableServiceForm('importantInfoservicesform')">{{'cancel_label' | translate}}</button>
  </div>
</form>
 </div>
  


  <div ng-if="importantInfoServicesArray.length != 0">
    <table class="full-table">
       <tr>
          <th width="15%">Photo</th>
          <th width="15%">Service</th>
          <th width="45%">Service Url</th>
          <th width="15%">Enable/Disable</th>
          <th width="5%">Edit</th>
          <th width="5%">Delete</th>
       </tr>

       <tr ng-repeat="importantInfoService in importantInfoServicesArray"> <!-- servicecategoryid -->
          <td><image class="tablelistpiccol" ng-src="{{importantInfoService.serviceimage}}" onerror="this.src='./assets/img/noimage.jpg'"/></td>
          <td ng-bind="importantInfoService.servicename"></td>
          <td ng-bind="importantInfoService.serviceurl"></td>
          <td><div class="btn-group">
              <label style="color: #fff;" class="btn btn-primary" ng-model="importantInfoService.servicestatus" uib-btn-radio="'1'" ng-click="updateServiceStatus('1','Important Information',importantInfoService,'importantInfoServicesArray')">Enable</label>
              <label style="color: #fff;" ng-click="updateServiceStatus('0','Important Information',importantInfoService,'importantInfoServicesArray')" class="btn btn-primary" ng-model="importantInfoService.servicestatus" uib-btn-radio="'0'">Disable</label>
            </div>
          </td>
          <td>
            <button class="btn btn-default edit-button" ng-click="goToeditService(importantInfoService, 'importantInfoServiceFormControl','importantInfoservicesform','importantinfoformid')"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></button>
          </td>
          <td class="delete-td delete-td-adjst"><span class="delete" ng-click="deleteServiceCategory('Important Information',importantInfoService,'importantInfoServicesArray')">X</span></td>
       </tr>
       
    </table>
  </div>
