
  <div class="clear-left" id="medicalformid">
    <button type="button" class="btn btn-info" ng-if="showAddButton" ng-click="enableServiceForm('medicalassistanceservicesform','medicalassistanceServiceFormControl')"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> {{'addnewservice_label' | translate}}</button>
  </div>
  <div ng-if="medicalassistanceservicesform">
  <form novalidate name="medicalassistanceserviceform" enctype="multipart/form-data" >
 
  <div class="col-md-6">
      <div class="form-group">
        <label translate="servicename_label">*</label>
        <input type="text" name="servicename" ng-model="medicalassistanceServiceFormControl.servicename" class="form-control" required>
         <div ng-messages="medicalassistanceserviceform.servicename.$error" ng-show="medicalassistanceserviceform.servicename.$touched || isButtonClicked">
              <p ng-message="required" translate="servicename_required_error" class="validation-err"></p>
        </div> 
      </div>
      
  </div>

  <div class="col-md-6">
    <div class="form-group">
          <label translate="servicepic_label"></label>
          <span class="uploaded-pic service-pic">
            <img onerror="this.src='./assets/img/noimage.jpg'" class="uploaded-pic thumb" ngf-thumbnail="medicalassistanceServiceFormControl.filedata" alt="Service Image">
          </span>
          
          <div class="clear"></div>
          <input type="file" imagetype="filedata" ngf-select ng-model="medicalassistanceServiceFormControl.filedataTemp" name="filedataTemp"    
               accept="image/*"
               ngf-pattern="'image/*'"
               ngf-model-invalid="errorFiles" ng-change="handleFileSelect(medicalassistanceServiceFormControl.filedataTemp,'medicalassistanceServiceFormControl','filedata',null)">
          <div ng-messages="medicalassistanceserviceform.filedataTemp.$error" ng-show="medicalassistanceserviceform.filedataTemp.$touched || isButtonClicked">
              <!-- <p ng-message="required" translate="profile_required_error" class="validation-err"></p> -->
              <p ng-message="pattern" translate="unsupportedfile_required_error" class="validation-err"></p>
              
          </div>
    </div>
  </div>
  <div class="clear-center">
    <button type="button" class="btn btn-info" ng-click="addServiceDetails(medicalassistanceserviceform ,'Medical Assistance Services','medicalassistanceServiceFormControl','medicalassistanceServicesArray')">{{ 'save_label' | translate}}</button>
    <button type="button" class="btn btn-info" ng-click="disableServiceForm('medicalassistanceservicesform')">{{'cancel_label' | translate}}</button>
  </div>
</form>
 </div>
  


  <div ng-if="medicalassistanceServicesArray.length != 0">
    <table class="full-table">
       <tr>
          <th width="15%">Photo</th>
          <th width="55%">Service</th>
          <th width="20%">Enable/Disable</th>
          <th width="5%">Edit</th>
          <th width="5%">Delete</th>
       </tr>

       <tr ng-repeat="medicalassistanceService in medicalassistanceServicesArray"> <!-- servicecategoryid -->
          <td><image class="tablelistpiccol" ng-src="{{medicalassistanceService.serviceimage}}" onerror="this.src='./assets/img/noimage.jpg'"/></td>
          <td ng-bind="medicalassistanceService.servicename"></td>
          <td> 
            <div class="btn-group">
              <label style="color: #fff;" class="btn btn-primary" ng-model="medicalassistanceService.servicestatus" uib-btn-radio="'1'" ng-click="updateServiceStatus('1','Medical Assistance Services',medicalassistanceService,'medicalassistanceServicesArray')">Enable</label>
              <label style="color: #fff;" ng-click="updateServiceStatus('0','Medical Assistance Services',medicalassistanceService,'medicalassistanceServicesArray')" class="btn btn-primary" ng-model="medicalassistanceService.servicestatus" uib-btn-radio="'0'">Disable</label>
            </div>
          </td>
          <td>
            <button class="btn btn-default edit-button" ng-click="goToeditService(medicalassistanceService, 'medicalassistanceServiceFormControl','medicalassistanceservicesform','medicalformid')"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></button>
          </td>
          <td class="delete-td delete-td-adjst"><span class="delete" ng-click="deleteServiceCategory('Medical Assistance Services',medicalassistanceService,'medicalassistanceServicesArray')">X</span></td>
       </tr>
       
    </table>
  </div>
