
  <div class="clear-left" id="municipalformid">
    <button type="button" class="btn btn-info" ng-if="showAddButton" ng-click="enableServiceForm('municipalservicesform','municipalServiceFormControl')"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> {{'addnewservice_label' | translate}}</button>
  </div>
  <div ng-if="municipalservicesform">
  <form novalidate name="municipalserviceform" enctype="multipart/form-data" id="">
 
  <div class="col-md-6">
      <div class="form-group">
       <label translate="selectservice_label">*</label>
        <select name="servicename" ng-model="municipalServiceFormControl.servicename" required>
             <option value="">Select Service</option>
             <option value="{{muniService}}" ng-selected="{{muniService == municipalServiceFormControl.servicename}}" ng-repeat="muniService in municipalServices">{{muniService}}</option>
        </select>
        <div ng-messages="municipalserviceform.servicename.$error" ng-show="municipalserviceform.servicename.$touched || isButtonClicked">
              <p ng-message="required" translate="servicename_required_error" class="validation-err"></p>
        </div> 
      </div>
      
      <div class="form-group" ng-if="municipalServiceFormControl.servicename == 'Other'">
        <label translate="servicename_label">*</label>
        <input type="text" name="customservicename" ng-model="municipalServiceFormControl.customservicename" class="form-control" required>
         <div ng-messages="municipalserviceform.customservicename.$error" ng-show="municipalserviceform.customservicename.$touched || isButtonClicked">
              <p ng-message="required" translate="servicename_required_error" class="validation-err"></p>
        </div> 
      </div>

      <div class="form-group">
        <label translate="serviceheading_label">*</label>
        <input type="text" name="serviceheading" ng-model="municipalServiceFormControl.serviceheading" class="form-control" required>
         <div ng-messages="municipalserviceform.serviceheading.$error" ng-show="municipalserviceform.serviceheading.$touched || isButtonClicked">
              <p ng-message="required" translate="serviceheading_required_error" class="validation-err"></p>
        </div> 
      </div>

      <div class="form-group">
        <label translate="contperson_label">*</label>
        <input type="text" name="servicecontactperson" ng-model="municipalServiceFormControl.servicecontactperson" class="form-control" required>
        <div ng-messages="municipalserviceform.servicecontactperson.$error" ng-show="municipalserviceform.servicecontactperson.$touched || isButtonClicked">
              <p ng-message="required" translate="servicecontactperson_required_error" class="validation-err"></p>
        </div> 
      </div>

      <div class="form-group">
        <label translate="designation_label">:</label>
        <input type="text" name="servicedesignation" ng-model="municipalServiceFormControl.servicedesignation" class="form-control">
      </div>
      <div class="form-group">
        <label translate="docxrequired_label">:</label>
        <textarea name="requireddocs" ng-model="municipalServiceFormControl.requireddocs" class="form-control"></textarea>
      </div>
      <div class="form-group col-md-6 assembly yes-no-redio">
           <label translate="enableservice_label"></label>
          <div class="btn-group">
            <label style="color: #fff;" class="btn btn-primary" ng-model="municipalServiceFormControl.servicestatus" uib-btn-radio="'1'">{{'yes_label' | translate}}</label>
            <label style="color: #fff;" class="btn btn-primary" ng-model="municipalServiceFormControl.servicestatus" uib-btn-radio="'0'">{{'no_label' | translate}}</label>
          </div>
      </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
          <label translate="servicepic_label"></label>
          <span class="uploaded-pic service-pic">
            <img onerror="this.src='./assets/img/noimage.jpg'" class="uploaded-pic thumb" ngf-thumbnail="municipalServiceFormControl.filedata" alt="Service Image">
          </span>
          
          <div class="clear"></div>
          <input type="file" imagetype="filedata" ngf-select ng-model="municipalServiceFormControl.filedataTemp" name="filedataTemp"    
               accept="image/*"
               ngf-pattern="'image/*'"
               ngf-model-invalid="errorFiles" ng-change="handleFileSelect(municipalServiceFormControl.filedataTemp,'municipalServiceFormControl','filedata',null)">
          <div ng-messages="municipalserviceform.filedataTemp.$error" ng-show="municipalserviceform.filedataTemp.$touched || isButtonClicked">
              <!-- <p ng-message="required" translate="profile_required_error" class="validation-err"></p> -->
              <p ng-message="pattern" translate="unsupportedfile_required_error" class="validation-err"></p>
              
          </div>
    </div>

    <div class="form-group">
        <label translate="contnum_label">*</label>
        <input type="text" name="servicephone" ng-model="municipalServiceFormControl.servicephone" class="form-control" required>
        <div ng-messages="municipalserviceform.servicephone.$error" ng-show="municipalserviceform.servicephone.$touched || isButtonClicked">
              <p ng-message="required" translate="servicecontactphone_required_error" class="validation-err"></p>
        </div> 
      </div>

      <!-- <div class="form-group">
        <label translate="contnum_label">*</label>
        <span style="margin-right:23%;">
          <span>
            <input type="text" name="tempservicephone" ng-model="municipalServiceFormControl.tempservicephone" class="form-
            control" required>
          </span>
          <span>
            <a href="" ng-click="addServiceContactNumber('municipalServiceFormControl',municipalserviceform)"><span class="glyphicon glyphicon-plus"  aria-hidden="true"></span> </a>
          </span>
        
          <span ng-if="municipalServiceFormControl.servicephone.length > 0">
             
             <table class="full-table">
               <tr ng-repeat="phone in municipalServiceFormControl.servicephone track by $index">
                  <td width="90%">{{phone.servicephone}}</th>
                  <td width="10%"><a href="" ng-click="removeServiceContactNumber('municipalServiceFormControl',$index)"><span class="glyphicon glyphicon-remove" style="color:red;" aria-hidden="true"></span></a>
                  </th>
                  
               </tr>
              </table>
          </span>
        <span>

        <div ng-show="(municipalServiceFormControl.servicephone.length == 0) && isButtonClicked">
              <p  translate="servicecontactphone_required_error" class="validation-err"></p>
        </div> 

        <div ng-messages="municipalserviceform.tempservicephone.$error" ng-show="municipalserviceform.tempservicephone.$touched && isPhoneAddButtonClicked">
              <p ng-message="required" translate="servicecontactphone_required_error" class="validation-err"></p>
        </div>
      </div>
 -->


      <div class="form-group">
        <label translate="addr_label">:</label>
        <textarea name="serviceaddress" ng-model="municipalServiceFormControl.serviceaddress" class="form-control"></textarea>
      </div>
      
      
  </div> 
  <div class="clear-center">
    <button type="button" class="btn btn-info" ng-click="addServiceDetails(municipalserviceform ,'Municipal Services','municipalServiceFormControl','municipalServicesArray')">{{ 'save_label' | translate}}</button>
    <button type="button" class="btn btn-info" ng-click="disableServiceForm('municipalservicesform')">{{'cancel_label' | translate}}</button>
  </div>
</form>
 </div>
  


  <div ng-if="municipalServicesArray.length != 0">
    <table class="full-table">
       <tr>
          <th width="15%">Photo</th>
          <th width="10%">Service</th>
          <th width="10%">Contact Person</th>
          <th width="10%">Designation</th>
          <th width="10%">Contact number</th>
          <th width="20%">Address</th>
          <th width="15%">Enable/Disable</th>
          <th width="5%">Edit</th>
          <th width="5%">Delete</th>
       </tr>

       <tr ng-repeat="municipalService in municipalServicesArray"> <!-- servicecategoryid -->
          <td><image class="tablelistpiccol" ng-src="{{municipalService.serviceimage}}" onerror="this.src='./assets/img/noimage.jpg'"/></td>
          <td ng-bind="municipalService.servicename"></td>
          <td ng-bind="municipalService.servicecontactperson"></td>
          <td ng-bind="municipalService.servicedesignation"></td>
          <td ng-bind="municipalService.servicephone"></td>
         <!--  <td>
                <li ng-repeat="phone in municipalService.servicephone" ng-bind="phone"></li>
          </td> -->
          <td ng-bind="municipalService.serviceaddress"></td>
          <td><div class="btn-group">
              <label style="color: #fff;" class="btn btn-primary" ng-model="municipalService.servicestatus" uib-btn-radio="'1'" ng-click="updateServiceStatus('1','Municipal Services',municipalService,'municipalServicesArray')">Enable</label>
              <label style="color: #fff;" ng-click="updateServiceStatus('0','Municipal Services',municipalService,'municipalServicesArray')" class="btn btn-primary" ng-model="municipalService.servicestatus" uib-btn-radio="'0'">Disable</label>
            </div>
          </td>
          <td>
            <button class="btn btn-default edit-button" ng-click="goToeditService(municipalService, 'municipalServiceFormControl','municipalservicesform','municipalformid','municipalServices')"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></button>
          </td>
          <td class="delete-td delete-td-adjst"><span class="delete" ng-click="deleteServiceCategory('Municipal Services',municipalService,'municipalServicesArray')">X</span></td>
       </tr>
       
    </table>
  </div>
