<form novalidate name="candidatejahirnamaform" id="">
<div class="form-group-discription">
       <div class="jahirnama-block" ng-if="candidateFormControl.jahirnama" ng-repeat="jahirnama in candidateFormControl.jahirnama">    
            <img class="uploaded-pic" ng-src="{{jahirnama.image}}" class="thumb">
            <div ng-bind="jahirnama.description" class="jahirnama-text"></div>
        </div>  
                      
</div>                   
 </form>