<form novalidate name="candidatepartyprofileform" id="">
  <div class="row reg-form">
    <h2>Party Profile</h2>
    <div>
      
      <div class="col-md-6">
        <div class="form-group">
          <label translate="partyname_label">: </label>
          <span class="profile-text" ng-bind="candidateFormControl.partyProfile.partyname"></span>
        </div>
        <div class="form-group">
            <label translate="partysymbol_label">:*</label>
            <span class="uploaded-pic party-pic">
              <img ng-if="candidateFormControl.partyProfile.partyname != 'Others'" class="uploaded-pic thumb" ng-src="{{candidateFormControl.partyProfile.partyimage}}" alt="Party Photo">

              <img ng-if="candidateFormControl.partyProfile.partyname == 'Others'" class="uploaded-pic thumb" ng-src="{{candidateFormControl.partyProfile.otherpartyimage}}" alt="Party Photo">

              
            </span>
        </div>
      </div>
      <div class="clear"></div>
      <div class="form-group-discription">
        <label translate="partydesc_label">:*</label>
        <div class="pro-text" ng-bind="candidateFormControl.partyProfile.partydetails"></div>
      </div>
    </div>   
  </div>
</form>  