<uib-accordion close-others="oneAtATime">

                        <uib-accordion-group is-open="true">
                            <uib-accordion-heading>
                              {{'socialwork_label' | translate}} <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                            </uib-accordion-heading>
                            <form novalidate name="candidatesocialworkform" id="">
                              <div class="form-group-discription">

                                <div class="jahirnama-block" ng-if="candidateFormControl.works.social" ng-repeat="socialwork in candidateFormControl.works.social">    
                                <img class="uploaded-pic" ng-src="{{socialwork.image}}" class="thumb">
                                    <div ng-bind="socialwork.description" class="jahirnama-text"></div>
                                </div>  
                              </div>
                          </form>
                        </uib-accordion-group>

                        <uib-accordion-group>
                          <uib-accordion-heading>
                            {{'devwork_label' | translate}} <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                          </uib-accordion-heading>
                          <form novalidate name="candidatedevworkform" id="">
                              <div class="form-group-discription">
                                <div class="jahirnama-block" ng-if="candidateFormControl.works.development" ng-repeat="devwork in candidateFormControl.works.development">    
                                <img class="uploaded-pic" ng-src="{{devwork.image}}" class="thumb">
                                    <div ng-bind="devwork.description" class="jahirnama-text"></div>
                                </div> 
                              </div>
                              
                          </form>
                        </uib-accordion-group>

                        <uib-accordion-group>
                          <uib-accordion-heading>
                            {{'religiouswork_label' | translate}} <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                          </uib-accordion-heading>
                          <form novalidate name="candidatereligiousworkform" id="">
                              <div class="form-group-discription">

                                <div class="jahirnama-block" ng-if="candidateFormControl.works.religious" ng-repeat="religiouswork in candidateFormControl.works.religious">    
                                <img class="uploaded-pic" ng-src="{{religiouswork.image}}" class="thumb">
                                    <div ng-bind="religiouswork.description" class="jahirnama-text"></div>
                                </div> 
                              </div>
                          </form>
                        </uib-accordion-group>


                        <uib-accordion-group>
                          <uib-accordion-heading>
                           {{'sportwork_label' | translate}} <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                          </uib-accordion-heading>
                          <form novalidate name="candidatesportworkform" id="">
                              <div class="form-group-discription">

                                <div class="jahirnama-block" ng-if="candidateFormControl.works.sport" ng-repeat="sportwork in candidateFormControl.works.sport">    
                                <img class="uploaded-pic" ng-src="{{sportwork.image}}" class="thumb">
                                    <div ng-bind="sportwork.description" class="jahirnama-text"></div>
                                </div> 
                              </div>
                              
                          </form>
                        </uib-accordion-group>


                        

                        

                        
                  </uib-accordion>
              </section>