
  


  <div ng-if="socailNetListArray.length != 0">
    <table class="full-table">
       <tr>
          <th width="15%">Photo</th>
          <th width="15%">Social Url Name</th>
          <th width="60%">Url</th>
          <th width="10%">Status</th>
          
       </tr>

       <tr ng-repeat="socialNet in socailNetListArray"> <!-- servicecategoryid -->
        <td><image class="tablelistpiccol" ng-src="{{socialNet.socialimage}}" onerror="this.src='./assets/img/noimage.jpg'"/></td>
          <td ng-bind="socialNet.name"></td>
          <td ng-bind="socialNet.url"></td>
          <td ng-if="socialNet.status == '1'">Enabled</td> 
          <td ng-if="socialNet.status == '0'">Disabled</td>
       </tr>
       
    </table>
  </div>


    
  </div>
