<form novalidate name="candidateprofileform" id="">
  <div class="row reg-form">
   <h2 translate="personalinfo_label"></h2>
    <div>
        <div class="form-group col-md-6">
            <label translate="firstname_label">*</label>
            <div class="pro-text" ng-bind="candidateFormControl.profile.firstname"></div>
        </div>
        <div class="form-group col-md-6">
            <label translate="middlename_label">*</label>
            <div class="pro-text" ng-bind="candidateFormControl.profile.middlename"></div>
        </div>
        <div class="form-group col-md-6">
          <label translate="lastname_label">*</label>
          <div class="pro-text" ng-bind="candidateFormControl.profile.lastname"></div>
        </div>
         <div class="form-group  col-md-6">
          <label translate="selectgender_label">:*</label>
          <div class="pro-text" ng-bind="candidateFormControl.profile.gender"></div>
        </div>
        <div class="form-group  col-md-6">
          <label translate="selectcaste_label">:</label>
          <div class="pro-text" ng-bind="candidateFormControl.profile.caste"></div>
        </div>
        <div class="form-group  col-md-6">
          <label translate="selectreligion_label">:</label>
          <div class="pro-text" ng-bind="candidateFormControl.profile.religion"></div>
        </div>
        <div class="form-group col-md-6">
          <label translate="emailid_label"></label>
          <div class="pro-text" ng-bind="candidateFormControl.profile.email"></div>
        </div>
        <div class="form-group col-md-6">
            <label translate="dob_label">:*</label>
            <div class="pro-text" ng-bind="candidateFormControl.profile.dob"></div>
        </div>
        
        <div class="form-group col-md-6">
          <label translate="phone_label">:*</label>
          <div class="pro-text" ng-bind="candidateFormControl.profile.phone"></div>
          
        </div>
        <div class="form-group col-md-6">
            <label translate="landline_label">:</label>
            <div class="pro-text" ng-bind="candidateFormControl.profile.landline"></div>
        </div>
        <div class="form-group col-md-6">
            <label translate="altphone_label">:</label>
            <div class="pro-text" ng-bind="candidateFormControl.profile.alternatephone"></div>
        </div>
        <div class="form-group col-md-6">
            <label>उमेदवाराचा परिचय</label>
            <div class="pro-text" ng-bind="candidateFormControl.profile.candidatedescription"></div>
        </div>

        <div class="clear"></div>
    </div>


     <h2 translate="addrdetails_label"></h2>
    <div>  
      <div class="form-group col-md-6">
           <label translate="addr1_label">*</label>
          <div class="pro-text" ng-bind="candidateFormControl.profile.lane1"></div>
      </div>
      <div class="form-group col-md-6">
          <label translate="addr2_label">*</label>
          <div class="pro-text" ng-bind="candidateFormControl.profile.lane2"></div>
         
      </div>
      <div class="form-group col-md-6">
          <label translate="state_label">*</label>
          <div class="pro-text" ng-bind="candidateFormControl.profile.state"></div>
      </div>
      <div class="form-group col-md-6">
         <label translate="dist_label">*</label>
          <div class="pro-text" ng-bind="candidateFormControl.profile.district"></div>
      </div>
      <div class="form-group col-md-6">
          <label translate="tal_label">*</label>
          <div class="pro-text" ng-bind="candidateFormControl.profile.taluka"></div>
      </div>
      <div class="form-group col-md-6">
          <label translate="area_label">:</label>
          <div class="pro-text" ng-bind="candidateFormControl.profile.area"></div>
      </div>
      <div class="form-group col-md-6">
         <label translate="pincode_label">*</label>
           <div class="pro-text" ng-bind="candidateFormControl.profile.pincode"></div>
      </div>
      <div class="clear"></div>
    </div>

    <h2 translate="otherdetails_label"></h2>
    <div>
      <div class="col-md-6 other-details">
        <div class="form-group">
        <label translate="profilephoto_label">:</label>
        <span class="uploaded-pic personal-pic">
          <img class="uploaded-pic thumb" ng-src="{{candidateFormControl.profile.image}}" alt="Profile Photo">
        </span>
        <div class="clear"></div>
      </div>

      <div class="form-group">
       <label translate="partyname_label">:*</label>
       <div class="pro-text" ng-bind="candidateFormControl.profile.partyname"></div>
     </div>
      <div class="form-group">
        <label translate="partysymbol_label">:</label>
        <span class="uploaded-pic personal-pic">
          <img ng-if="candidateFormControl.profile.partyid == '9'" class="uploaded-pic thumb" ng-src="{{candidateFormControl.profile.otherpartyimage}}" alt="Profile Photo">
          <img ng-if="candidateFormControl.profile.partyid != '9'" class="uploaded-pic thumb" ng-src="{{candidateFormControl.profile.partyimage}}" alt="Profile Photo">
        </span>
      </div>

      <div class="clear"></div>
    </div>

      
      <div class="form-group col-md-6 assembly">
         <label translate="assembly_label">:*</label>
        <div class="pro-text" ng-bind="candidateFormControl.profile.assembly"></div>
      </div>
      
      <div class="form-group col-md-6">
        <label translate="loksabha_label">:*</label>
        <div class="pro-text" ng-bind="candidateFormControl.profile.loksabha"></div>
      </div> 
      <div class="form-group col-md-6" ng-hide="candidateFormControl.profile.assembly == 'Loksabha'">
        <label translate="vidhansabha_label">:*</label>
        <div class="pro-text" ng-bind="candidateFormControl.profile.vidhansabha"></div>
      </div>
      <div class="form-group col-md-6" ng-show="candidateFormControl.profile.assembly == 'Localbody'">
        <label translate="wardname_label">:*</label>
        <div class="pro-text" ng-bind="candidateFormControl.profile.ward"></div>
      </div>

      <div class="clear"></div>

      <div class="form-group select-tabs">
          <label translate="subscription_label">:</label>
          <span class="radio-txt" ng-if="candidateFormControl.profile.subscription == 'NagariSuvidha'">Nagari Suvidha + Birthday Utility</span>
          <span class="radio-txt" ng-if="candidateFormControl.profile.subscription == 'Birthday'">Birthday Utility</span>
      </div>
       <div class="clear"></div>
      
      <div class="form-group select-tabs" ng-if="showVisibleTabOption">
          <label translate="visibletabs_label">:*</label>
          <ul class="visi-tabs">
            <li><input type="checkbox" ng-checked="candidateFormControl.profile.profilestatus == '1'" readonly disabled> <span> {{ 'profile_label' | translate}} </span> </li>
            <li><input type="checkbox" ng-checked="candidateFormControl.profile.partystatus == '1'" readonly disabled> <span> {{ 'partyprofile_label' | translate}} </span> </li>
            <li><input type="checkbox" ng-checked="candidateFormControl.profile.workstatus == '1'" readonly disabled> <span> {{ 'work_label' | translate}} </span> </li>
            <li><input type="checkbox" ng-checked="candidateFormControl.profile.jahirnamastatus == '1'" readonly disabled> <span> {{ 'jahirnama_label' | translate}} </span> </li>
            
          </ul>
      </div>
      <div class="clear"></div>

      
    </div>
  
</form>  