
  <div ng-if="matdarJagrutiListArray.length != 0">
    <table class="full-table">
       <tr>
          <th width="15%">Category Name</th>
          <th width="20%">Category Url</th>
          <th width="10%">Status</th>
          
       </tr>

       <tr ng-repeat="matdarJagruti in matdarJagrutiListArray"> <!-- servicecategoryid -->
          <td ng-bind="matdarJagruti.mjcategoryname"></td>
          <td ng-bind="matdarJagruti.mjurl"></td>
          <td ng-if="matdarJagruti.mjstatus == '1'">Enabled</td> 
          <td ng-if="matdarJagruti.mjstatus == '0'">Disabled</td>
          
       </tr>
       
    </table>
  </div>


    
  </div>
