<div ng-include="'./app/shared/menu/superadminmenu.html'"></div>
<section class="page add-candidates">
        <h1 >{{'viewcandidate_label' | translate}}  <button class="add-candidate" ng-click="goToEditCandidate()"> <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>&nbsp;{{'edit_label' | translate}}  </button></h1>
        
        <section>
          <div class="tabs tabs-style-flip">
            <nav>
              <ul>
                <li ng-click="tabClickHandler('profile',$event)" id="profile-li"><a data-target="profile-tab" class="icon icon-profile"><span>{{'profile_label' | translate}}</span></a></li>
                
                <li ng-if="candidateFormControl.profile.subscription == 'NagariSuvidha'"
                ng-click="tabClickHandler('partyprofile',$event)" id="party-profile-li"><a data-target="party-profile-tab" class="icon icon-profile" ><span>{{'partyprofile_label' | translate}}</span></a></li>
                
                <li ng-if="candidateFormControl.profile.subscription == 'NagariSuvidha'"
                ng-click="tabClickHandler('work',$event)" id="work-li"><a data-target="work-tab" class="icon icon-profile" ><span>{{'work_label' | translate}}</span></a></li>
                
                <li ng-if="candidateFormControl.profile.subscription == 'NagariSuvidha'"
                ng-click="tabClickHandler('jahirnama',$event)" id="jahirnama-li"><a  data-target="jahirnama-tab" class="icon icon-profile"><span>{{'jahirnama_label' | translate}}</span></a></li>

                <li ng-if="candidateFormControl.profile.subscription == 'NagariSuvidha'"
                ng-click="tabClickHandler('services',$event)" id="services-li"><a  data-target="services-tab" class="icon icon-profile"><span>{{'services_label' | translate}}</span></a></li>

                <li ng-if="candidateFormControl.profile.subscription == 'NagariSuvidha'"
                ng-click="tabClickHandler('helpinghand',$event)" id="services-li"><a  data-target="helpinghand-tab" class="icon icon-profile"><span>{{'helpinghand_label' | translate}}</span></a></li>

                <li ng-if="candidateFormControl.profile.subscription == 'NagariSuvidha'"
                ng-click="tabClickHandler('matdarjagruti',$event)" id="matdarjagruti-li"><a  data-target="matdarjagruti-tab" class="icon icon-profile"><span>{{'matdarjagruti_label' | translate}}</span></a></li> 

                <li ng-if="candidateFormControl.profile.subscription == 'NagariSuvidha'"
                ng-click="tabClickHandler('socialnet',$event)" id="socialnet-li"><a  data-target="socialnet-tab" class="icon icon-profile"><span>{{'soialnet_label' | translate}}</span></a></li> 
              </ul>
            </nav>


            <div class="content-wrap">
              <section id="profile-tab">
                <div ng-include="'./app/components/candidateManager/view-candidate/candidateprofiletab.html'"></div>
              </section>
              <section id="party-profile-tab">
                <div ng-include="'./app/components/candidateManager/view-candidate/candidatepartyprofiletab.html'"></div>
              </section>
              <section id="work-tab">
                <div ng-include="'./app/components/candidateManager/view-candidate/candidateworktab.html'"></div>
              </section>  
              <section id="jahirnama-tab">
                <div ng-include="'./app/components/candidateManager/view-candidate/candidatejahirnamatab.html'"></div>
              </section>
              <section id="services-tab">
                <div ng-include="'./app/components/candidateManager/view-candidate/candidateservicestab.html'"></div>
              </section>
              <section id="helpinghand-tab">
                <div ng-include="'./app/components/candidateManager/view-candidate/candidatehelpinghandstab.html'"></div>
              </section>
              <section id="matdarjagruti-tab">
                <div ng-include="'./app/components/candidateManager/view-candidate/candidatematdarjagrutitab.html'"></div>
              </section>

              <section id="socialnet-tab">
                <div ng-include="'./app/components/candidateManager/view-candidate/candidatesocialnettab.html'"></div>
              </section>
            </div><!-- /content -->
          </div><!-- /tabs -->
        </section>
      </section>