<div class="login-container">
          <h1 translate="karyakartalogin_label"></h1><br>
          <div class="validation-err" ng-if="loginErrMsg" ng-bind="loginErrMsg"></div>
          <form name="karyakartaloginform" novalidate>
            <input type="email" name="username" placeholder="{{ 'username_string' | translate }}" 
            ng-model="karyakartaloginControl.username" ng-class="{ 'has-error': karyakartaloginform.username.$touched && karyakartaloginform.username.$error }" required>
            <div ng-messages="karyakartaloginform.username.$error" ng-show="karyakartaloginform.username.$touched || isButtonClicked">
                <p ng-message="required" translate="username_required_error" class="validation-err"></p>
                <p ng-message="email" translate="username_invalid_error" class="validation-err"></p>
            </div>
            
            <input type="password" name="password" placeholder="{{ 'password_string' | translate }}" 
            ng-model="karyakartaloginControl.password" ng-class="{ 'has-error': karyakartaloginform.username.$touched && karyakartaloginform.username.$error }" required>
            <div ng-messages="karyakartaloginform.password.$error" ng-show="karyakartaloginform.password.$touched || isButtonClicked">
                <p ng-message="required" translate="password_required_error" class="validation-err"></p>
            </div>

            
            <input type="submit" name="login" class="login loginmodal-submit" ng-click="karyakartaLogin(karyakartaloginform)" 
            value="{{ 'login_heading' | translate }}">

            <button class="btn btn-primary new-citizen-reg" translate="forgot_password" type="button" ng-click="openForgotPassPopUp()"></button>
          </form>
          
</div> 