<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>Nagari Suvidha Kendra</title>

    <link href="./assets/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href="./assets/css/angular-datepicker.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href="./assets/css/jquery-ui.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="./assets/css/ngGallery.css">
    <link rel="stylesheet" type="text/css" href="./assets/css/ng-img-crop.css">
    

    <link href="./assets/css/fullcalendar.css" rel="stylesheet">
    <link href="./assets/css/app.css" rel="stylesheet">

    
    

  </head>
  
  <body ng-app="socialApp">
      <header>
          <span class="logo"><span class="logo-first">Nagari</span><span class="logo-sec">Suvidha</span></span>
          <span class="header-user-name global-menu hide"><strong> सूस्वागतम</strong> 
          <!-- <span class="user-icon"><img src="./assets/img/ums.png"> &nbsp;</span> <strong>Ganesh Patil</strong></span>  -->
          <span class="user-icon"><img ng-src="{{loggedInUserDetails.image}}"> &nbsp;</span> <strong ng-bind="loggedInUserDetails.name"></strong></span> 
          
      </header> 
      <!-- <nav class="left-nav global-menu" style="display:none;">
        <ul>
            <li><a href="#/dashboard"> {{ 'dashbord_label' | translate }}</a></li>
            <li><a href="#/candidates">{{ 'candidatesList_label' | translate }} </a></li>
            <li><a href="#">{{ 'viewProfile_label' | translate }}</a></li>
            <li><a href="#">{{ 'setting_label' | translate }}</a></li>
            <li><a href="#">{{ 'changePass_label' | translate }}</a></li>
            <li><a href="./nagari-suvidha/">{{ 'logout_label' | translate }}</a></li>
        </ul>
      </nav> -->

      

      <div ui-view ></div>

      <div class="loader-overlay"><span us-spinner="{radius:30, width:8, length: 20,color: '#5A5151'}" class="overlay-spinner" spinner-key="spinner-1"></span></div>
      <!--<div class="loader-overlay"></div>-->

     <!--Script for Dev-->
      <!-- <script src="./assets/libs/angular.min.js"></script>
    <script src="./assets/libs/jquery.min.js"></script>
     
    <script src="./assets/libs/ui-bootstrap-tpls-1.1.2.min.js"></script>
    
    <script src="./assets/libs/underscore-min.js"></script>
    <script src="./assets/libs/angular-ui-router.min.js"></script>
    <script src="./assets/libs/angular-sanitize.min.js"></script>
    <script src="./assets/libs/angular-messages.js"></script>
    <script src="./assets/libs/angular-translate.min.js"></script>
    <script src="./assets/libs/angular-datepicker.js"></script>  
    <script src="./assets/libs/ng-file-upload-all.js"></script>
    <script src="./assets/libs/dirPagination.js"></script>
    <script src="./assets/libs/ng-csv.min.js"></script>

   
    <script src="./assets/libs/modernizr.custom.js"></script>
    
    <script src="./assets/libs/spin.min.js"></script>
    <script src="./assets/libs/angular-spinner.min.js"></script>

      <script src="./assets/libs/cbpFWTabs.js"></script>
     
      <script type="text/javascript" src="./assets/libs/moment.min.js"></script>
      <script type="text/javascript" src="./assets/libs/calendar.js"></script>
      <script type="text/javascript" src="./assets/libs/fullcalendar.js"></script>
      <script type="text/javascript" src="./assets/libs/gcal.js"></script> -->
     
     <!--Script for prodcuation-->
    <script src="./app/core/libs_ns_main-v1.0.min.js?v=1.4"></script>
  
    
    <script src="./app/data/langStrings.js?v=1.4"></script>
    
     <script src="./app/core/ns_custom.min.js?v=1.4"></script>   

      <!-- <script src="./app/CONSTANTS.js"></script>
      <script src="./app/utilModule.js"></script>

     <script src="./app/socialApp.js"></script>
     <script src="./app/shared/utility/utilityDirectives.js"></script>
     <script src="./app/shared/utility/utilityService.js"></script>
      <script src="./app/shared/utility/utilityCtrl.js"></script>
      <script src="./app/shared/utility/mainCtrl.js"></script>
     <script src="./app/shared/popups/OTPmodalPopupCtrl.js"></script>
     <script src="./app/shared/popups/modalPopupCtrl.js"></script>
     <script src="./app/shared/popups/nsForgotPassPopupCtrl.js"></script>
     <script src="./app/shared/popups/UpdatePassPopupCtrl.js"></script>
      <script src="./app/components/login/loginCtrl.js"></script>
     <script src="./app/components/dashboard/dashboardCtrl.js"></script>
     
     
      <script src="./app/components/candidateManager/candidate-list/candidateListCtrl.js"></script>
     <script src="./app/components/candidateManager/manageCandidateCtrl.js"></script>
     <script src="./app/components/candidateManager/add-manager/addManagerCtrl.js"></script>
     <script src="./app/components/candidateManager/birthday-manager/birthdayModuleManagerCtrl.js"></script>
     
     <script src="./app/components/complaints/manageComplaintsCtrl.js"></script>
     <script src="./app/components/eventOfWeek/manageEventOfWeekCtrl.js"></script>
     <script src="./app/components/announcement/manageAnnouncementCtrl.js"></script>
     <script src="./app/components/importcsv/manageImportCsvCtrl.js"></script>  -->

     
     
 
    
     
  </body>
</html>
