
  <div class="clear-left" id="govtloanschemesformid">
    <button type="button" class="btn btn-info" ng-if="showHHAddButton" ng-click="enableHelpingHandForm('governmentloanschemesform','govtLoanSchemesFormControl')"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> {{'addnewcat_label' | translate }}</button>
  </div>
  <div ng-if="governmentloanschemesform">
  <form novalidate name="govtloanschemesformname" enctype="multipart/form-data" id="">
 
  <div class="col-md-6">
      
      <div class="form-group">
        <label translate="categoryname_label">*</label>
        <input type="text" name="hhcategoryname" ng-model="govtLoanSchemesFormControl.hhcategoryname" class="form-control" required>
         <div ng-messages="govtloanschemesformname.hhcategoryname.$error" ng-show="govtloanschemesformname.hhcategoryname.$touched || isButtonClicked">
              <p ng-message="required" translate="category_required" class="validation-err"></p>
        </div> 
      </div>

      <div class="form-group left-align">
            <label translate="uploadtype_label">*</label>
            <input name="uploadtype" value="Pdf" type="radio" ng-model="govtLoanSchemesFormControl.uploadtype" required>
            <span class="radio-label">{{'pdf_label' | translate}}</span>
            <input name="uploadtype" value="Url" type="radio" ng-model="govtLoanSchemesFormControl.uploadtype" required>
            <span class="radio-label">{{'url_label' | translate}}</span>   
      </div>

      <div class="form-group" ng-if="govtLoanSchemesFormControl.uploadtype == 'Pdf'">
        <label translate="uploadpdf_label">*</label>
        <div>
          <input type="file" 
                ngf-select 
                ngf-pattern="'application/pdf'",
                accept="application/pdf",
                ng-model="govtLoanSchemesFormControl.pdffiledata" ,
                name="pdffiledata"    
                ngf-model-invalid="errorFiles" required>
                <div ng-messages="govtloanschemesformname.pdffiledata.$error" ng-show="govtloanschemesformname.pdffiledata.$touched || isButtonClicked">
                  <p ng-message="required" translate="file_required_error" class="validation-err"></p>
                  <p ng-message="pattern" translate="unsupportedfile_required_error" class="validation-err"></p>
                </div>
        </div>
      </div>

      <div class="form-group" ng-if="govtLoanSchemesFormControl.uploadtype == 'Url'">
        <label translate="enterurl_label">*</label>
          <input type="text" name="categoryurl" placeholder="Url" ng-model="govtLoanSchemesFormControl.hhurl" class="form-control" required>
          <div ng-messages="govtloanschemesformname.categoryurl.$error" ng-show="govtloanschemesformname.categoryurl.$touched || isButtonClicked">
              <p ng-message="required" translate="url_required" class="validation-err"></p>
        </div> 
      </div>
      

      <div class="form-group col-md-6 assembly yes-no-redio">
          <label translate="enablecat_label"></label>
          <div class="btn-group">
            <label style="color: #fff;" class="btn btn-primary" ng-model="govtLoanSchemesFormControl.hhstatus" uib-btn-radio="'1'">{{'yes_label' | translate}}</label>
            <label style="color: #fff;" class="btn btn-primary" ng-model="govtLoanSchemesFormControl.hhstatus" uib-btn-radio="'0'">{{'cancel_label' | translate}}</label>
          </div>
        </div>

      
  </div>
  <div class="col-md-6">
    
  </div> 
  <div class="clear-center">
    <button type="button" class="btn btn-info" ng-click="addHelpingHandCategory(govtloanschemesformname ,'Government Loan Schemes','govtLoanSchemesFormControl','govtLoanSchemesListArray')">{{ 'save_label' | translate}}</button>
    <button type="button" class="btn btn-info" ng-click="disableHelpingHandForm('governmentloanschemesform')">{{'cancel_label' | translate}}</button>
  </div>
</form>
 </div>
  


  <div ng-if="govtLoanSchemesListArray.length != 0">
    <table class="full-table">
       <tr>
          <th width="25%">Category Name</th>
          <th width="45%">Category Url</th>
          <th width="16%">Enable/Disable</th>
          <th width="7%">Edit</th>
          <th width="7%">Delete</th>
       </tr>

       <tr ng-repeat="govtLoanSchemesHH in govtLoanSchemesListArray"> <!-- servicecategoryid -->
          <td ng-bind="govtLoanSchemesHH.hhcategoryname"></td>
          <td ng-bind="govtLoanSchemesHH.hhurl"></td>
          <td>
          <div class="btn-group">
              <label style="color: #fff;" class="btn btn-primary" ng-model="govtLoanSchemesHH.hhstatus" uib-btn-radio="'1'" ng-click="updateHelpingHandStatus('1','Government Loan Schemes',govtLoanSchemesHH,'govtLoanSchemesListArray')">Enable</label>
              <label style="color: #fff;" ng-click="updateHelpingHandStatus('0','Government Loan Schemes',govtLoanSchemesHH,'govtLoanSchemesListArray')" class="btn btn-primary" ng-model="govtLoanSchemesHH.hhstatus" uib-btn-radio="'0'">Disable</label>
            </div>
          </td>
          <td>
            <button class="btn btn-default edit-button" ng-click="goToeditHelpingHandCategory(govtLoanSchemesHH, 'govtLoanSchemesFormControl','governmentloanschemesform','govtloanschemesformid')"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></button>
          </td>
          <td class="delete-td delete-td-adjst"><span class="delete" ng-click="deleteHelpingHandCategory('Government Loan Schemes',govtLoanSchemesHH,'govtLoanSchemesListArray')">X</span></td>
       </tr>
       
    </table>
  </div>
