
  <div class="clear-left" id="pmcschemesformid">
    <button type="button" class="btn btn-info" ng-if="showHHAddButton" ng-click="enableHelpingHandForm('pmcschemesform','pmcSchemesFormControl')"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> {{'addnewcat_label' | translate }}</button>
  </div>
  <div ng-if="pmcschemesform">
  <form novalidate name="pmcschemesformname" enctype="multipart/form-data" id="">
 
  <div class="col-md-6">
      
      <div class="form-group">
        <label translate="categoryname_label">*</label>
        <input type="text" name="hhcategoryname" ng-model="pmcSchemesFormControl.hhcategoryname" class="form-control" required>
         <div ng-messages="pmcschemesformname.hhcategoryname.$error" ng-show="pmcschemesformname.hhcategoryname.$touched || isButtonClicked">
              <p ng-message="required" translate="category_required" class="validation-err"></p>
        </div> 
      </div>

      <div class="form-group left-align">
             <label translate="uploadtype_label">*</label>
            <input name="uploadtype" value="Pdf" type="radio" ng-model="pmcSchemesFormControl.uploadtype" required>
            <span class="radio-label">{{'pdf_label' | translate}}</span>
            <input name="uploadtype" value="Url" type="radio" ng-model="pmcSchemesFormControl.uploadtype" required>
            <span class="radio-label">{{'url_label' | translate}}</span>    
      </div>

      <div class="form-group" ng-if="pmcSchemesFormControl.uploadtype == 'Pdf'">
        <label translate="uploadpdf_label">*</label>
        <div>
          <input type="file" 
                ngf-select 
                ngf-pattern="'application/pdf'",
                accept="application/pdf",
                ng-model="pmcSchemesFormControl.pdffiledata" ,
                name="pdffiledata"    
                ngf-model-invalid="errorFiles" required>
                <div ng-messages="pmcschemesformname.pdffiledata.$error" ng-show="pmcschemesformname.pdffiledata.$touched || isButtonClicked">
                  <p ng-message="required" translate="file_required_error" class="validation-err"></p>
                  <p ng-message="pattern" translate="unsupportedfile_required_error" class="validation-err"></p>
                </div>
        </div>
      </div>

      <div class="form-group" ng-if="pmcSchemesFormControl.uploadtype == 'Url'">
        <label translate="enterurl_label">*</label>
          <input type="text" name="categoryurl" placeholder="Url" ng-model="pmcSchemesFormControl.hhurl" class="form-control" required>
          <div ng-messages="pmcschemesformname.categoryurl.$error" ng-show="pmcschemesformname.categoryurl.$touched || isButtonClicked">
              <p ng-message="required" translate="url_required" class="validation-err"></p>
        </div> 
      </div>

      <div class="form-group col-md-6 assembly yes-no-redio">
          <label translate="enablecat_label"></label>
          <div class="btn-group">
            <label style="color: #fff;" class="btn btn-primary" ng-model="pmcSchemesFormControl.hhstatus" uib-btn-radio="'1'">{{'yes_label' | translate}}</label>
            <label style="color: #fff;" class="btn btn-primary" ng-model="pmcSchemesFormControl.hhstatus" uib-btn-radio="'0'">{{'no_label' | translate}}</label>
          </div>
        </div>

      
  </div>
  <div class="col-md-6">
    
  </div> 
  <div class="clear-center">
    <button type="button" class="btn btn-info" ng-click="addHelpingHandCategory(pmcschemesformname ,'PMC Schemes','pmcSchemesFormControl','pmcSchemesListArray')">{{ 'save_label' | translate}}</button>
    <button type="button" class="btn btn-info" ng-click="disableHelpingHandForm('pmcschemesform')">{{'cancel_label' | translate}}</button>
  </div>
</form>
 </div>
  


  <div ng-if="pmcSchemesListArray.length != 0">
    <table class="full-table">
       <tr>
          <th width="15%">Category Name</th>
          <th width="20%">Category Url</th>
          <th width="10%">Enable/Disable</th>
          <th width="10%">Edit</th>
          <th width="10%">Delete</th>
       </tr>

       <tr ng-repeat="pmcSchemesHH in pmcSchemesListArray"> <!-- servicecategoryid -->
          <td ng-bind="pmcSchemesHH.hhcategoryname"></td>
          <td ng-bind="pmcSchemesHH.hhurl"></td>
          <td>
          <div class="btn-group">
              <label style="color: #fff;" class="btn btn-primary" ng-model="pmcSchemesHH.hhstatus" uib-btn-radio="'1'" ng-click="updateHelpingHandStatus('1','PMC Schemes',pmcSchemesHH,'pmcSchemesListArray')">Enable</label>
              <label style="color: #fff;" ng-click="updateHelpingHandStatus('0','PMC Schemes',pmcSchemesHH,'pmcSchemesListArray')" class="btn btn-primary" ng-model="pmcSchemesHH.hhstatus" uib-btn-radio="'0'">Disable</label>
            </div>
          </td>
          <td>
            <button class="btn btn-default edit-button" ng-click="goToeditHelpingHandCategory(pmcSchemesHH, 'pmcSchemesFormControl','pmcschemesform','pmcschemesformid')"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></button>
          </td>
          <td class="delete-td delete-td-adjst"><span class="delete" ng-click="deleteHelpingHandCategory('PMC Schemes',pmcSchemesHH,'pmcSchemesListArray')">X</span></td>
       </tr>
       
    </table>
  </div>
