
  <div class="clear-left" id="skilldevelopmentformid">
    <button type="button" class="btn btn-info" ng-if="showHHAddButton" ng-click="enableHelpingHandForm('skilldevelopmentform','skillDevelopmentFormControl')"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>{{'addnewcat_label' | translate }}</button>
  </div>
  <div ng-if="skilldevelopmentform">
  <form novalidate name="skilldevelopmentformname" enctype="multipart/form-data" id="">
 
  <div class="col-md-6">
      
      <div class="form-group">
         <label translate="categoryname_label">*</label>
        <input type="text" name="hhcategoryname" ng-model="skillDevelopmentFormControl.hhcategoryname" class="form-control" required>
         <div ng-messages="skilldevelopmentformname.hhcategoryname.$error" ng-show="skilldevelopmentformname.hhcategoryname.$touched || isButtonClicked">
              <p ng-message="required" translate="category_required" class="validation-err"></p>
        </div> 
      </div>

      <div class="form-group left-align">
           <label translate="uploadtype_label">*</label>
            <input name="uploadtype" value="Pdf" type="radio" ng-model="skillDevelopmentFormControl.uploadtype" required>
            <span class="radio-label">{{'pdf_label' | translate}}</span>
            <input name="uploadtype" value="Url" type="radio" ng-model="skillDevelopmentFormControl.uploadtype" required>
            <span class="radio-label">{{'url_label' | translate}}</span> 
      </div>

      <div class="form-group" ng-if="skillDevelopmentFormControl.uploadtype == 'Pdf'">
         <label translate="uploadpdf_label">*</label>
        <div>
          <input type="file" 
                ngf-select 
                ngf-pattern="'application/pdf'",
                accept="application/pdf",
                ng-model="skillDevelopmentFormControl.pdffiledata" ,
                name="pdffiledata"    
                ngf-model-invalid="errorFiles" required>
                <div ng-messages="skilldevelopmentformname.pdffiledata.$error" ng-show="skilldevelopmentformname.pdffiledata.$touched || isButtonClicked">
                  <p ng-message="required" translate="file_required_error" class="validation-err"></p>
                  <p ng-message="pattern" translate="unsupportedfile_required_error" class="validation-err"></p>
                </div>
        </div>
      </div>

      <div class="form-group" ng-if="skillDevelopmentFormControl.uploadtype == 'Url'">
        <label translate="enterurl_label">*</label>
          <input type="text" name="categoryurl" placeholder="Url" ng-model="skillDevelopmentFormControl.hhurl" class="form-control" required>
          <div ng-messages="skilldevelopmentformname.categoryurl.$error" ng-show="skilldevelopmentformname.categoryurl.$touched || isButtonClicked">
              <p ng-message="required" translate="url_required" class="validation-err"></p>
        </div> 
      </div>

      <div class="form-group col-md-6 assembly yes-no-redio">
          <label translate="enablecat_label"></label>
          <div class="btn-group">
            <label style="color: #fff;" class="btn btn-primary" ng-model="skillDevelopmentFormControl.hhstatus" uib-btn-radio="'1'">{{'yes_label' | translate}}</label>
            <label style="color: #fff;" class="btn btn-primary" ng-model="skillDevelopmentFormControl.hhstatus" uib-btn-radio="'0'">{{'no_label' | translate}}</label>
          </div>
        </div>

      
  </div>
  <div class="col-md-6">
    
  </div> 
  <div class="clear-center">
    <button type="button" class="btn btn-info" ng-click="addHelpingHandCategory(skilldevelopmentformname ,'Skill Development','skillDevelopmentFormControl','skillDevelopmentListArray')">{{ 'save_label' | translate}}</button>
    <button type="button" class="btn btn-info" ng-click="disableHelpingHandForm('skilldevelopmentform')">{{'cancel_label' | translate}}</button>
  </div>
</form>
 </div>
  


  <div ng-if="skillDevelopmentListArray.length != 0">
    <table class="full-table">
       <tr>
          <th width="15%">Category Name</th>
          <th width="20%">Category Url</th>
          <th width="10%">Enable/Disable</th>
          <th width="10%">Edit</th>
          <th width="10%">Delete</th>
       </tr>

       <tr ng-repeat="skillDevelopmentHH in skillDevelopmentListArray"> <!-- servicecategoryid -->
          <td ng-bind="skillDevelopmentHH.hhcategoryname"></td>
          <td ng-bind="skillDevelopmentHH.hhurl"></td>
          <td>
          <div class="btn-group">
              <label style="color: #fff;" class="btn btn-primary" ng-model="skillDevelopmentHH.hhstatus" uib-btn-radio="'1'" ng-click="updateHelpingHandStatus('1','Skill Development',skillDevelopmentHH,'skillDevelopmentListArray')">Enable</label>
              <label style="color: #fff;" ng-click="updateHelpingHandStatus('0','Skill Development',skillDevelopmentHH,'skillDevelopmentListArray')" class="btn btn-primary" ng-model="skillDevelopmentHH.hhstatus" uib-btn-radio="'0'">Disable</label>
            </div>
          </td>
          <td>
            <button class="btn btn-default edit-button" ng-click="goToeditHelpingHandCategory(skillDevelopmentHH, 'skillDevelopmentFormControl','skilldevelopmentform','skilldevelopmentformid')"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></button>
          </td>
          <td class="delete-td delete-td-adjst"><span class="delete" ng-click="deleteHelpingHandCategory('Skill Development',skillDevelopmentHH,'skillDevelopmentListArray')">X</span></td>
       </tr>
       
    </table>
  </div>
