<div ng-include="'./app/shared/menu/adminnagarisuvidhamenu.html'"></div>
<section class="page add-candidates bde-module">
<h1>
	<span class="bde-head" translate="birthdayAniUtility_label"></span> 
	<button ng-if="anniversaries.length != 0" class="add-candidate" ng-click="sendWishes('anniversary')"><span class="glyphicon glyphicon-envelope" ></span>&nbsp; लग्न वर्धापन दिन शुभेच्छा पाठवा</button>
	<button ng-if="birthdays.length != 0" class="add-candidate" ng-click="sendWishes('birthday')"><span class="glyphicon glyphicon-gift"></span>&nbsp; वाढदिवस शुभेच्छा पाठवा</button>
</h1>
<div class="calendar" ng-model="eventSources" calendar="myCalendar1" ui-calendar="uiConfig.calendar"></div>

</section>