<!--Candidate Panel-->
<nav class="left-nav global-cmenu" ng-controller="utilityCtrl" ng-init="getLoggedInUserDetails()">
<ul>
    <li><a ng-href="{{'#/birthday-manager?cid='+ loggedInUserId}}" href=""> <span class="glyphicon glyphicon-gift"></span> {{ 'BirthDayManager_label' | translate }}</a></li>
    <li><a ng-href="{{'#/add-manager-utility?cid='+ loggedInUserId}}" href=""> <span class="glyphicon glyphicon-plus"></span> {{ 'AddManager_label' | translate }}</a></li>
    <li><a href="" ng-click="openUpdatePassPopUp()"> <span class="glyphicon glyphicon-cog"></span> {{ 'updatepass_label' | translate }}</a></li>
    <li><a href="./"> <span class="glyphicon glyphicon-off"></span> {{ 'logout_label' | translate }}</a></li>

</ul>
</nav> 

