<!--Candidate Panel-->
<nav class="left-nav global-cmenu" ng-controller="utilityCtrl" ng-init="getLoggedInUserDetails()">
<ul>
    <li><a href="#/admin-dashboard"> <span class="glyphicon glyphicon-th-large"></span> {{ 'dashbord_label' | translate }}</a></li>
    <li><a href="#/complaints"> <span class="glyphicon glyphicon-list-alt"></span> {{ 'compliantList_label' | translate }} </a></li>
    <li><a ng-href="{{'#/view-profile?cid='+ loggedInUserId}}">  <span class="glyphicon glyphicon-user"></span> {{ 'myProfile_label' | translate }}</a></li>
    <li><a ng-href="{{'#/add-manager?cid='+ loggedInUserId}}" href="">  <span class="glyphicon glyphicon-plus"></span>  {{ 'AddManager_label' | translate }}</a></li>
    <li><a ng-href="{{'#/birthday-app?cid='+ loggedInUserId}}" href=""> <span class="glyphicon glyphicon-gift"></span> {{ 'BirthDayManager_label' | translate }}</a></li>
    <li><a ng-href="#/announcement" href=""> <span class="glyphicon glyphicon-envelope"></span> {{ 'messagener_label' | translate }}</a></li>
    <li><a ng-href="#/eventofweek" href=""> <span class="glyphicon glyphicon-bullhorn"></span> {{ 'eventofweek_label' | translate }} </a></li>
    <li><a href="" ng-click="openUpdatePassPopUp()"> <span class="glyphicon glyphicon-cog"></span> {{ 'updatepass_label' | translate }}</a></li>
    <li><a href="./"> <span class="glyphicon glyphicon-off"></span> {{ 'logout_label' | translate }}</a></li>
</ul>
</nav> 