<nav class="left-nav global-menu" ng-controller="mainCtrl" ng-init="getLoggedInUserDetails()">
        <ul>
            <li><a href="#/raise-complaints"> <span class="glyphicon glyphicon-pencil"></span> {{ 'raisecomplaints_label' | translate }} </a></li>
            <li><a href="#/my-complaints"> <span class="glyphicon glyphicon-folder-open"></span> {{ 'mycomplaints_label' | translate }} </a></li>
            <li><a ng-href="{{'#/main?cid='+ parentCandidateId}}"> <span class="glyphicon glyphicon-off"></span> {{ 'logout_label' | translate }}</a></li>
        </ul>
</nav>