<!--Candidate Panel-->
<nav class="left-nav global-cmenu" ng-controller="mainCtrl" ng-init="getLoggedInUserDetails()">
<ul>
    <li><a ng-href="{{'#/add-citizen?cid='+ parentCandidateId}}" href="">  <span class="glyphicon glyphicon-plus"></span> {{ 'addcitizen_label' | translate }} </a></li>
    <li><a href="" ng-click="openUpdatePassPopUp()"> <span class="glyphicon glyphicon-cog"></span> {{ 'updatepass_label' | translate }}</a></li>
    <li><a href="{{'#/login?cid='+ parentCandidateId}}"> <span class="glyphicon glyphicon-off"></span> {{ 'logout_label' | translate }}</a></li>
</ul>
</nav> 