<nav class="left-nav global-menu" ng-controller="utilityCtrl" ng-init="getLoggedInUserDetails()">
        <ul>
            <li><a href="#/dashboard"> <span class="glyphicon glyphicon-th-large"></span> {{ 'dashbord_label' | translate }}</a></li>
            <li><a href="#/candidates"> <span class="glyphicon glyphicon-th"></span> {{ 'candidatesList_label' | translate }} </a></li>
            <li><a href="#/import"> <span class="glyphicon glyphicon-import"></span> {{ 'importcitizen_label' | translate }} </a></li>
            <li><a href="" ng-click="openUpdatePassPopUp()"> <span class="glyphicon glyphicon-cog"></span> {{ 'updatepass_label' | translate }}</a></li>
            <li><a href="./"> <span class="glyphicon glyphicon-off"></span> {{ 'logout_label' | translate }}</a></li>
        </ul> 
</nav>