<div ng-include="'./app/shared/menu/adminnagarisuvidhamenu.html'"></div>
<section class="page candidates" >
	<h1 translate="eventofweek_label"></h1>
    <div>
    	
    	<form novalidate name="eventofweekform" id="">
	        <div class="form-group clear">
            	<div class="col-md-2">
            		<label translate="eventtitle_label">:*</label>
            	</div>
            	<div class="col-md-10">
		            <input type="text" ng-model="eventOfWeekFormControl.eventtitle" name="eventtitle" class="form-control ng-pristine ng-valid ng-touched" required>
		            <div ng-messages="eventofweekform.eventtitle.$error" ng-show="eventofweekform.eventtitle.$touched || isButtonClicked">
		              <p ng-message="required" translate="title_required_error" class="validation-err"></p>
		            </div>
	            </div>
            </div>
	        <div class="form-group clear">
            	<div class="col-md-2">
		        	<label translate="eventdesc_label">:*</label>
		        </div>
		        <div class="col-md-10 form-group-discription">
			        <textarea name="eventdescription" ng-model="eventOfWeekFormControl.eventdescription" class="discription-area" required></textarea>

			        <div ng-messages="eventofweekform.eventdescription.$error" ng-show="eventofweekform.eventdescription.$touched || isButtonClicked">
			            <p ng-message="required" translate="desc_rquired" class="validation-err"></p>
			        </div>
		        </div>
      		</div>
      		<div class="form-group clear">
            	<div class="col-md-2">
		        	<label translate="eventvenue_label">:*</label>
		        </div>
		        <div class="col-md-10">
		        	<input type="text" name="eventevenue" ng-model="eventOfWeekFormControl.eventevenue" class="form-control" required></input>

			        <div ng-messages="eventofweekform.eventevenue.$error" ng-show="eventofweekform.eventevenue.$touched || isButtonClicked">
			            <p ng-message="required" translate="venue_required" class="validation-err"></p>
			        </div>
		        </div>
      		</div>
      		<div class="form-group" style="clear:both">
            	<div class="col-md-2">
	            	<label translate="eventdate_label">:*</label> 
	            </div> 
	            <div class="col-md-10"> 
	            	<div style="width:250px" class="event-datepicker">  
			            <datepicker date-format="{{dateFormat}}" selector="form-control" date-max-limit="{{maxDateLimit.toString()}}" date-min-limit="{{minDateLimit.toString()}}">
			                <div class="input-group">
			                    <input class="form-control" name="eventdate" ng-model="eventOfWeekFormControl.eventdate"  placeholder="कृपया योग्य ती तारीख निवडा" readonly required/>
			                    <span class="input-group-addon" style="cursor: pointer">
			                    <i class="fa fa-lg fa-calendar"></i>
			                    </span>
			                </div>
			            </datepicker>
			            <div ng-messages="eventofweekform.eventdate.$error" ng-show="eventofweekform.eventdate.$touched || isButtonClicked">
			                <p ng-message="required" translate="date_required_error" class="validation-err"></p>
			            </div>
		            </div>
	            </div>
            </div>
            <div>&nbsp;</div>
      		<div class="form-group clear">
      			<div class="col-md-2">
		        	<label>&nbsp;</label>
		        </div>
		        <div class="col-md-10">
      				<button type="button" class="btn btn-info" ng-click="sendEventOfTheWeek(eventofweekform)">पाठवा</button>
    			</div>
    		</div>
	    </form>
    </div>    
</section>