<div ng-include="'./app/shared/menu/superadminmenu.html'"></div>
<section class="page candidates" ng-init="getCandidateList()">
	<h1>{{'candidatesList_label' | translate}}  <button class="add-candidate" ng-click="AddNewCandidate()"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> {{'addnewcandidates_label' | translate}} </button></h1>
    <div>
    	<div class="search-by" style="border-bottom: 1px solid #255386;padding: 15px 0 15px;">
			<form novalidate name="candidatesearchform" id="">
			<span class="search-by-span">{{'searchby_label' | translate }} </span> 
				<span class="search-inputs">
					<select ng-model="searchControl.searchMode">
				  		<option value="name" ng-selected="{{searchControl.searchMode == 'name'}}">Name</option>
				  		<option value="state" ng-selected="{{searchControl.searchMode == 'state'}}">State</option>
				  		<option value="district" ng-selected="{{searchControl.searchMode == 'district'}}">District</option>
				  		<option value="loksabha" ng-selected="{{searchControl.searchMode == 'loksabha'}}">Loksabha </option>
				  		<option value="vidhansabha" ng-selected="{{searchControl.searchMode == 'vidhansabha'}}">Vidhansabha </option>
				  		 <option value="localbody" ng-selected="{{searchControl.searchMode == 'localbody'}}">Localbody </option> 
				  		
					</select>
				</span>
				
				<!--Name Search Control-->
				<span class="search-inputs" ng-if="searchControl.searchMode == 'name'">
					<input class="input-search" name="firstname" ng-model="searchControl.firstname" placeholder="First name"/>
					<input class="input-search" name="middlename" ng-model="searchControl.middlename" placeholder="Middle name"/>
					<input class="input-search" name="lastname" ng-model="searchControl.lastname" placeholder="Last Name" />
				</span>

				<!--state Search Control-->
				<span class="search-inputs" ng-if="searchControl.searchMode == 'state'">
					<select name="state" ng-init="getAllStates()" ng-model="searchControl.state" required>
		              <option value="">Select State</option>
		              <option ng-if="(state != null)" value="{{state.state}}" ng-repeat="state in states" ng-selected="{{searchControl.state == state.state}}">{{state.state}}</option>
          			</select>
				</span>


				<!--district Search Control-->
				<span class="search-inputs" ng-if="searchControl.searchMode == 'district'">
					<select name="state" ng-init="getAllStates()" ng-model="searchControl.state" 
			          ng-change="getDistricts(searchControl.state)" required>
			              <option value="">Select State</option>
			              <option value="{{state.state}}" ng-repeat="state in states" ng-selected="{{searchControl.state == state.state}}">{{state.state}}</option>
			          </select>
					<select name="district" ng-model="searchControl.district" required>
			              <option value="">Select District</option>
			              <option value="{{district.district}}" ng-repeat="district in districts">{{district.district}}</option>
			        </select>
				</span>

				<!--Loksabha Search Control-->
				<span class="search-inputs" ng-if="searchControl.searchMode == 'loksabha'">
					<input class="input-search" name="loksabha" ng-model="searchControl.loksabha" placeholder="Lok Sabha" required/>
				</span>

				<!--VidhanSabha Search Control-->
				<span class="search-inputs" ng-if="searchControl.searchMode == 'vidhansabha'">
					<input class="input-search" name="vidhansabha" ng-model="searchControl.vidhansabha" placeholder="Vidhan Sabha" required/>
				</span>

				<!--Loksabha Search Control-->
				<span class="search-inputs" ng-if="searchControl.searchMode == 'localbody'">
					<input class="input-search" name="localbody" ng-model="searchControl.localbody" placeholder="Local Body" required/>
				</span>


				<span class="search-btn">
					<input type="submit" name="search" class="login loginmodal-submit" ng-click="searchHandler(candidatesearchform)" 
	            value="{{'searchby_label' | translate}}">
	            <input type="submit" name="remove" class="login loginmodal-submit" ng-click="removeSearchFilter()" 
	            value="{{'resetsearch_label' | translate}}">
				</span>
		    </form>
    	</div>

    	<div class="search-by" style="padding: 15px 0 15px;" ng-if="showFilterPanel">
			<form novalidate name="candidatefilterform" id="">
			<span class="search-by-span" style="padding: 0 10px;">{{'filterby_label' | translate }} </span> 
				<!--Name Search Control-->
				<span class="search-inputs">
					<input class="input-search" name="firstname" ng-model="filterControl.firstname" placeholder="First name"/>
					<input class="input-search" name="middlename" ng-model="filterControl.middlename" placeholder="Middle name"/>
					<input class="input-search" name="lastname" ng-model="filterControl.lastname" placeholder="Last Name" />
				</span>

				<span class="search-btn">
					<input type="submit" name="search" class="login loginmodal-submit" ng-click="filterHandler(candidatefilterform)" 
	            value="{{'filterby_label' | translate }}">
	            <input type="submit" name="remove" class="login loginmodal-submit" ng-click="removeFilter()" 
	            value="{{'restfilter_label' | translate }}">
				</span>
			</span>	
		    </form>
    	</div>
    	








    	<div>
			<table class="table">
				<tbody>
					<tr>
						<th width="10%">Candidate Id</th>
						<th class="candidate-name-sort" width="20%" ng-click="sortType = 'firstname'; sortReverse = !sortReverse">
							Candidate Name
							<span ng-show="sortType == 'firstname' && !sortReverse" class="fa fa-caret-down"></span>
        					<span ng-show="sortType == 'firstname' && sortReverse" class="fa fa-caret-up"></span>
						</th>
						<th width="17%">Party Name</th>
						<th width="36%">Assembly</th>	
						<th width="7%">Edit</th>
						<!-- <th width="10%">Share Link</th> -->
						<th width="7%">Delete</th>
					</tr>

					<tr dir-paginate ="candidate in candidateList | orderBy:sortType:sortReverse | itemsPerPage: itemsPerPage " current-page="currentPage" paginationid="candidates" class="{{candidate.subscription == 'NagariSuvidha' ? 'nagarisuvidha-row' : 'birthday-row'}}">
						<td>{{candidate.CID}}</td>
						<td class="candidate-name-list">
							<a ng-if="candidate.verified == '1'" ng-click="gotoCandidateProfile(candidate)">{{candidate.firstname +' ' + candidate.middlename +' '+ candidate.lastname}}</a>
							<span ng-if="candidate.verified == '0'">{{candidate.firstname +' ' + candidate.middlename +' '+ candidate.lastname}}</span>
						</td>
						<td>
							{{candidate.partyname}}
						</td>
						<td>{{candidate.assembly}} - 
							<span ng-if="candidate.assembly == 'Loksabha'">{{candidate.loksabha}}</span>
							<span ng-if="candidate.assembly == 'Vidhansabha'">{{candidate.vidhansabha}}</span>
							<span ng-if="candidate.assembly == 'Localbody'">{{candidate.ward}}</span>
						</td>
						
						<!-- <td>
							<button class="btn btn-default" ng-click="gotoComplaints(candidate)">Complaints</button>
							<button class="btn btn-default" ng-if="candidate.verified == '1' && candidate.subscription == 'NagariSuvidha'">Complaints</button>
						</td> -->
						<td>
							<button class="btn btn-default edit-button" ng-if="candidate.verified == '1'" ng-click="goToeditCandidate(candidate)"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> </button>

							<button class="btn btn-danger" ng-if="candidate.verified == '0'" ng-click="verifyCandidateRegi(candidate)">Verify</button>
							
							 <!-- <button class="btn btn-default">Edit</button> -->
						</td>			
						<!-- <td >
							<button class="btn btn-default" ng-if="candidate.verified == '1'" ng-click="getShareLink(candidate)">Share Link</button>
						</td> -->
						<td><span class="delete" ng-click="deleteCandidate(candidate)">X</span></td>
					</tr>
					
				</tbody>
			</table>
			<dir-pagination-controls paginationid="candidates" template-url="./app/shared/pagination/dirPagination.tpl.html"></dir-pagination-controls>

			 <button ng-if="candidateList && candidateList.length != 0" class="add-candidate"
              ng-csv="exportCandidateList" csv-header="getHeader()" filename="candidates.csv" field-separator="{{separator}}" decimal-separator="{{decimalSeparator}}"
              ><span class="glyphicon glyphicon-export" aria-hidden="true"></span>&nbsp;{{'exportcsvbtn_label' | translate}}</button>
	    
	    <div class="validation-err no-record" ng-if="candidateList.length == 0 && isSearchedClicked">
	    	{{'nosearchfound' | translate }}
	    </div>    
    	
    	</div>
    </div>    
</section>