<div ng-include="'./app/shared/menu/adminnagarisuvidhamenu.html'"></div>

<section class="page dashboard">
        <h1 >{{ 'admindash_label' | translate}}  <button class="add-candidate" ng-click="getShareLink()"><span class="glyphicon glyphicon-link" aria-hidden="true"></span> लिंक्स शेयर करा</button></h1>
        <!--<div class="clear-center"><img src="./assets/img/dashoard-banner.png" class="banner-img"></div>-->
        <div>
        	<ul class="dashboard-design">
        		<li class="yellow"><span ng-bind="dashboardData.registeredcitizen"></span> 
                              {{ 'totalcitizenregi_label' | translate }}   </li>
                        <li class="purple"><span ng-bind="dashboardData.citizenmanagers"></span>
                              {{ 'totalkarykartaregi_label' | translate }}   </li>
        		<li class="red"><span ng-bind="dashboardData.totalraisedcomplaints"></span> 
                              {{ 'totalraisedcomplaints_label' | translate }}    </li>
        		<li class="green"><span ng-bind="dashboardData.resolvedcomplaints"></span> 
                               {{ 'totalresolvedcomplaints_label' | translate }}  </li>
        		
        	</ul>
        </div>
</section>