<div ng-include="'./app/shared/menu/superadminmenu.html'"></div>

<section class="page dashboard">
        <h1 translate="dashbord_label"></h1>
        <!--<div class="clear-center"><img src="./assets/img/dashoard-banner.png" class="banner-img"></div>-->
        <div>
        	<ul class="dashboard-design">
        		<li class="green"><span ng-bind="dashboardData.registeredcandidates"></span> 
                                {{ 'totalcandiregi_label' | translate }}  </li>
        		<li class="red"><span ng-bind="dashboardData.verifiedcandidates"></span> 
                                {{ 'totalverifiedcandi_label' | translate }}  </li>
        		<li class="yellow"><span ng-bind="dashboardData.birthdaysubscribers"></span> 
                                {{ 'birthdaysubscribers_label' | translate }}  </li>
        		<li class="purple"><span ng-bind="dashboardData.nagarisuvidhasubscribers"></span> 
                                {{ 'nagarisubscribers_label' | translate }}  </li>
        	</ul>
        </div>
</section>