<div class="login-container">
          <h1 translate="login_heading"></h1><br>
          <div class="validation-err" ng-if="loginErrMsg" ng-bind="loginErrMsg"></div>
          <form name="superAdminForm" novalidate>
            <input type="email" name="username" placeholder="{{ 'username_string' | translate }}" 
            ng-model="superAdminFormControl.username" ng-class="{ 'has-error': superAdminForm.username.$touched && superAdminForm.username.$error }" required>
            <div ng-messages="superAdminForm.username.$error" ng-show="superAdminForm.username.$touched || isButtonClicked">
                <p ng-message="required" translate="username_required_error" class="validation-err"></p>
                <p ng-message="email" translate="username_invalid_error" class="validation-err"></p>
            </div>
            
            <input type="password" name="password" placeholder="{{ 'password_string' | translate }}" 
            ng-model="superAdminFormControl.password" ng-class="{ 'has-error': superAdminForm.username.$touched && superAdminForm.username.$error }" required>
            <div ng-messages="superAdminForm.password.$error" ng-show="superAdminForm.password.$touched || isButtonClicked">
                <p ng-message="required" translate="password_required_error" class="validation-err"></p>
            </div>

            <label class="btn active btn-default">
                  <input name="loginAs" value="superAdmin" type="radio" ng-model="superAdminFormControl.loginAs">
                  {{ 'superAdmin_label' | translate }} 
            </label>

             <label class="btn active btn-default">
                  <input name="loginAs" value="admin" type="radio" ng-model="superAdminFormControl.loginAs">
                  {{ 'admin_or_candidate_label' | translate }} 
            </label>

            
            
            <input type="submit" name="login" class="login loginmodal-submit" ng-click="superAdminLogin(superAdminForm)" 
            value="{{ 'login_heading' | translate }}">
          </form>

          
          
          <div class="login-help">
         <button class="btn btn-primary new-citizen-reg" translate="forgot_password" type="button" ng-click="openForgotPassPopUp()"></button>
          </div>
</div> 