<div ng-include="'../app/shared/menu/managermenu.html'"></div>
<section class="page add-candidates">
        <h1> {{'addcitizen_label' | translate}} </h1>
        <form novalidate name="addcitizenform" id="">
  <div class="row reg-form">
    <h2 translate="personalinfo_label"></h2>
    <div>
        <div class="form-group col-md-6">
            <label translate="firstname_label">*</label>
            <input type="text" ng-model="citizenFormControl.profile.firstname" name="firstname" class="form-control ng-pristine ng-valid ng-touched" required>
            <div ng-messages="addcitizenform.firstname.$error" ng-show="addcitizenform.firstname.$touched || isButtonClicked">
              <p ng-message="required" translate="firstname_required_error" class="validation-err"></p>
            </div>
        </div>
        <div class="form-group col-md-6">
            <label translate="middlename_label">*</label>
            <input type="text" name="middlename" ng-model="citizenFormControl.profile.middlename" class="form-control ng-pristine ng-valid ng-touched" required>
            <div ng-messages="addcitizenform.middlename.$error" ng-show="addcitizenform.middlename.$touched || isButtonClicked">
              <p ng-message="required" translate="middlename_required_error" class="validation-err"></p>
            </div>
        </div>
        <div class="form-group col-md-6">
          <label translate="lastname_label">*</label>
          <input type="text" name="lastname" ng-model="citizenFormControl.profile.lastname" class="form-control ng-pristine ng-valid ng-touched" required>
          <div ng-messages="addcitizenform.lastname.$error" ng-show="addcitizenform.lastname.$touched || isButtonClicked">
              <p ng-message="required" translate="lastname_required_error" class="validation-err"></p>
            </div>
        </div>
        <div class="form-group col-md-6">
          <label translate="mothername_label">:</label>
          <input type="text" name="mothername" ng-model="citizenFormControl.profile.mothername" class="form-control ng-pristine ng-valid ng-touched">
          <div ng-messages="addcitizenform.mothername.$error" ng-show="addcitizenform.mothername.$touched || isButtonClicked">
              <p ng-message="required" translate="mother_required_error" class="validation-err"></p>
            </div>
        </div>
        <div class="form-group  col-md-6">
          <label translate="selectgender_label">:*</label>
          <select name="gender" ng-model="citizenFormControl.profile.gender" required>
             <option value="">Select Gender</option> 
              <option value="Male">Male</option>
              <option value="Female">Female</option>
              <option value="Transgender">Transgender</option>
              
          </select>
          <div ng-messages="addcitizenform.gender.$error" ng-show="addcitizenform.gender.$touched || isButtonClicked">
              <p ng-message="required" translate="gender_required_error" class="validation-err"></p>
          </div>  
     
        </div>
        <div class="form-group  col-md-6">
          <label translate="selectcaste_label">:</label>
          <select name="cast" ng-init="getCastList()" ng-model="citizenFormControl.profile.caste">
             <option value="">Select Caste</option>
             <option value="{{caste.castename}}" ng-repeat="caste in casteList" ng-selected="{{citizenFormControl.profile.caste == caste.castename}}">{{caste.castename}}</option>
              
        </select>
          
     
        </div>
        <div class="form-group  col-md-6">
          <label translate="selectreligion_label">:</label>
          <select name="cast" ng-init="getReligionList()" ng-model="citizenFormControl.profile.religion">
             <option value="">Select Religion</option>
             <option value="{{religion.religion}}" ng-repeat="religion in religionList" ng-selected="{{citizenFormControl.profile.religion == religion.religion}}">{{religion.religion}}</option>
              
        </select>
        </div>
        <div class="form-group  col-md-6">
          <label translate="selectbloodgrp_label">:</label>
          <select name="cast" ng-model="citizenFormControl.profile.bloodgroup">
             <option value="">Select Bloodgroup</option>
             <option value="{{bg}}" ng-repeat="bg in bloodgrpList" ng-selected="{{citizenFormControl.profile.bloodgroup == bg}}">{{bg}}</option>
          </select>
        </div>
        <div class="form-group col-md-6">
          <label translate="emailid_label">*</label>
          <input type="email" name="email" ng-model="citizenFormControl.profile.email" class="form-control ng-pristine ng-valid ng-touched" required>
          <div ng-messages="addcitizenform.email.$error" ng-show="addcitizenform.email.$touched || isButtonClicked">
              <p ng-message="required" translate="email_required_error" class="validation-err"></p>
              <p ng-message="email" translate="email_invalid_error" class="validation-err"></p>
          </div>
        </div>
        <div class="form-group col-md-6">
            <label translate="dob_label">:*</label>    
            <datepicker date-format="{{dateFormat}}" selector="form-control" date-max-limit="{{maxDateLimit.toString()}}" date-min-limit="{{minDateLimit.toString()}}">
                <div class="input-group">
                    <input class="form-control" readonly name="dob" ng-model="citizenFormControl.profile.dob"  placeholder="Choose a date" required/>
                    <span class="input-group-addon" style="cursor: pointer">
                    <i class="fa fa-lg fa-calendar"></i>
                    </span>
                </div>
            </datepicker>
            <div ng-messages="addcitizenform.dob.$error" ng-show="addcitizenform.dob.$touched || isButtonClicked">
                <p ng-message="required" translate="dob_required_error" class="validation-err"></p>
            </div>
        </div>
        <div class="form-group col-md-6">
           <label translate="anniversarydate_label" >:</label>    
            <datepicker date-format="{{dateFormat}}" selector="form-control" >
                <div class="input-group">
                    <input class="form-control" readonly name="anniversary" ng-model="citizenFormControl.profile.anniversary"  placeholder="Choose a date"/>
                    <span class="input-group-addon" style="cursor: pointer">
                    <i class="fa fa-lg fa-calendar"></i>
                    </span>
                </div>
            </datepicker>
            
        </div>
        <div class="form-group col-md-6">
          <label translate="password_label">*</label>
          <input type="password" name="password" id="password" ng-model="citizenFormControl.profile.password" class="form-control ng-pristine ng-valid ng-touched" required>
          <div ng-messages="addcitizenform.password.$error" ng-show="addcitizenform.password.$touched || isButtonClicked">
              <p ng-message="required" translate="password_required_error" class="validation-err"></p>
          </div>
        </div>
        <div class="form-group col-md-6">
            <label translate="cnfpassword_label">:*</label>
            <input type="password" name="cfrmPassword" id="cfrmPassword" ng-model="citizenFormControl.profile.cfrmPassword" class="form-control ng-pristine ng-valid ng-touched" required pw-check="password">
            <div ng-messages="addcitizenform.cfrmPassword.$error" ng-show="addcitizenform.cfrmPassword.$touched || isButtonClicked">
                <p ng-message="required" translate="cnfPassword_required_error" class="validation-err"></p>
                <p ng-message="pwmatch" translate="cnfPassword_umatched_error" class="validation-err"></p>
            </div>
        </div>
        <div class="form-group col-md-6">
          <label translate="phone_label">:*</label>
          <input type="text" onkeypress="return numbersonly();" name="phone" ng-model="citizenFormControl.profile.phone" class="form-control ng-pristine ng-valid ng-touched" required>
          <div ng-messages="addcitizenform.phone.$error" ng-show="addcitizenform.phone.$touched || isButtonClicked">
              <p ng-message="required" translate="phone_required_error" class="validation-err"></p>
          </div>
        </div>
        <div class="form-group col-md-6">
            <label translate="landline_label">:</label>
            <input type="text" onkeypress="return numbersonly();" ng-model="citizenFormControl.profile.landline" class="form-control ng-pristine ng-valid ng-touched">
        </div>
        <div class="form-group col-md-6">
            <label translate="altphone_label">:</label>
            <input type="text" onkeypress="return numbersonly();" ng-model="citizenFormControl.profile.alternatephone" class="form-control ng-pristine ng-valid ng-touched">
        </div>
        <div class="form-group col-md-6">
            <label translate="secphone_label">:</label>
            <input type="text" onkeypress="return numbersonly();" ng-model="citizenFormControl.profile.secondaryphone" class="form-control ng-pristine ng-valid ng-touched">
        </div>
        <div class="form-group  col-md-6">
           <label translate="education_label">:*</label>
          <select name="education" ng-model="citizenFormControl.profile.education" required>
              <option value="">Select Education</option>
              <option value="{{edu}}" ng-repeat="edu in educationList" ng-selected="{{citizenFormControl.profile.education == edu}}">{{edu}}</option>
              
          </select>
          <div ng-messages="addcitizenform.gender.$error" ng-show="addcitizenform.gender.$touched || isButtonClicked">
              <p ng-message="required" translate="edu_required_error" class="validation-err"></p>
          </div>  
     
        </div>
        <div class="form-group  col-md-6">
          <label translate="profession_label">:*</label>
          <select name="profession" ng-model="citizenFormControl.profile.profession" required>
          	<option value="">Select Profession</option>
              <option value="{{prof}}" ng-repeat="prof in professionList" ng-selected="{{citizenFormControl.profile.profession == prof}}">{{prof}}</option>
              
              
          </select>
          <div ng-messages="addcitizenform.gender.$error" ng-show="addcitizenform.gender.$touched || isButtonClicked">
              <p ng-message="required" translate="profession_required_error" class="validation-err"></p>
          </div>  
     
        </div>
        <div class="form-group col-md-6 assembly yes-no-redio">
          <label translate="societychairman_label"></label>
          <div class="btn-group">
            <label style="color: #fff;" class="btn btn-primary" ng-model="citizenFormControl.profile.ischairman" uib-btn-radio="1">{{'yes_label' | translate}}</label>
            <label style="color: #fff;" class="btn btn-primary" ng-model="citizenFormControl.profile.ischairman" uib-btn-radio="0">{{'no_label' | translate}}</label>
          </div>
        </div>
        <div class="clear"></div>
        <div class="form-group col-md-6 assembly yes-no-redio">
          <label translate="voter_label"></label>
          <div class="btn-group">
            <label style="color: #fff;" class="btn btn-primary" ng-model="citizenFormControl.profile.isVoter" uib-btn-radio="1">{{'yes_label' | translate}}</label>
            <label style="color: #fff;" class="btn btn-primary" ng-model="citizenFormControl.profile.isVoter" uib-btn-radio="0">{{'no_label' | translate}}</label>
          </div>
      </div>
        <div class="clear"></div>
    </div>


    <h2 translate="addrdetails_label"></h2>
    <div>  
      <div class="form-group col-md-6">
          <label translate="flatno_label"></label>
          <input type="text" name="flathouseno" ng-model="citizenFormControl.profile.flathouseno" class="form-control ng-pristine ng-valid ng-touched">
          
      </div>
      <div class="form-group col-md-6">
          <label translate="flatname_label"></label>
          <input type="text" name="housename" ng-model="citizenFormControl.profile.housename" class="form-control ng-pristine ng-valid ng-touched" >
      </div>
      <div class="form-group col-md-6">
          <label translate="wing_label"></label>
          <input type="text" name="wing" ng-model="citizenFormControl.profile.wing" class="form-control ng-pristine ng-valid ng-touched" >
      </div>
      <div class="form-group col-md-6">
          <label translate="societyname_label"></label>
          <input type="text" name="society" ng-model="citizenFormControl.profile.society" class="form-control ng-pristine ng-valid ng-touched" >
          
      </div>
      <div class="form-group col-md-6">
          <label translate="surveyno_label"></label>
          <input type="text" name="surveyno" ng-model="citizenFormControl.profile.surveyno" class="form-control ng-pristine ng-valid ng-touched" >
          
      </div>
      <div class="form-group col-md-6">
         <label translate="addr1_label">*</label>
          <input type="text" name="lane1" ng-model="citizenFormControl.profile.lane1" class="form-control ng-pristine ng-valid ng-touched" required>
          <div ng-messages="addcitizenform.lane1.$error" ng-show="addcitizenform.lane1.$touched || isButtonClicked">
              <p ng-message="required" translate="addr1_required_error" class="validation-err"></p>
          </div>
      </div>
      <div class="form-group col-md-6">
           <label translate="addr2_label">*</label>
          <input type="text" name="lane2" ng-model="citizenFormControl.profile.lane2" class="form-control ng-pristine ng-valid ng-touched" required>
          <div ng-messages="addcitizenform.lane2.$error" ng-show="addcitizenform.lane2.$touched || isButtonClicked">
              <p ng-message="required" translate="addr2_required_error" class="validation-err"></p>
          </div>
      </div>
      <div class="form-group col-md-6">
          <label translate="state_label">*</label>
          <select name="state" ng-init="getAllStates()" ng-model="citizenFormControl.profile.state" 
          ng-change="getDistricts(citizenFormControl.profile.state)" required>
              <option value="">Select</option>
              <option value="{{state.state}}" ng-repeat="state in states" ng-selected="{{citizenFormControl.profile.state == state.state}}">{{state.state}}</option>
          </select>
          <div ng-messages="addcitizenform.state.$error" ng-show="addcitizenform.state.$touched || isButtonClicked">
              <p ng-message="required" translate="state_required_error" class="validation-err"></p>
          </div>
      </div>
      <div class="form-group col-md-6">
          <label translate="dist_label">*</label>
          <select name="district" ng-model="citizenFormControl.profile.district"
          ng-change="getTalukas(citizenFormControl.profile.district)" required>
              <option value="">Select</option>
              <option value="{{district.district}}" ng-repeat="district in districts" ng-selected="{{citizenFormControl.profile.district == district.district}}">{{district.district}}</option>
          </select>
          <div ng-messages="addcitizenform.district.$error" ng-show="addcitizenform.district.$touched || isButtonClicked">
              <p ng-message="required" translate="dist_required_error" class="validation-err"></p>
          </div>

      </div>
      <div class="form-group col-md-6">
          <label translate="tal_label">*</label>
          <select name="taluka"  ng-model="citizenFormControl.profile.taluka"
          ng-change="getPincodes(citizenFormControl.profile.taluka)" required>
              <option value="">Select</option>
             <!--  <option value="Karad">Karad</option> -->
             <option value="{{taluka.taluka}}" ng-repeat="taluka in talukas">{{taluka.taluka}}</option>
          </select>
          <div ng-messages="addcitizenform.taluka.$error" ng-show="addcitizenform.taluka.$touched || isButtonClicked">
              <p ng-message="required" translate="taluka_required_error" class="validation-err"></p>
          </div>
      </div>
      <div class="form-group col-md-6">
          <label translate="area_label">:</label>
          <input type="text" name="area" ng-model="citizenFormControl.profile.area" class="form-control ng-pristine ng-valid ng-touched">
      </div>
      <div class="form-group col-md-6">
          <label translate="pincode_label">*</label>
          <select ng-model="citizenFormControl.profile.pincode" name="pincode" 
           required>
              <option value="">Select Pincode</option>
              <!-- <option value="411001">411001</option> -->
              <option value="{{pincode.pincode}}" ng-repeat="pincode in pincodes">{{pincode.pincode}}</option>
          </select>
          <div ng-messages="addcitizenform.pincode.$error" ng-show="addcitizenform.pincode.$touched || isButtonClicked">
              <p ng-message="required" translate="pincode_required_error" class="validation-err"></p>
          </div>
      </div>
      <div class="clear"></div>
    </div>

  </div>
    <div class="clear-center"><button type="button" class="btn btn-info" ng-click="createCitizenProfile(addcitizenform)">{{'registerbtn_lable' | translate}}</button></div>
  </div>
</form>
        
        
      </section>