
  <div class="row reg-form">
    
  <div class="clear-left" id="socialnetformid">
    <button type="button" class="btn btn-info" ng-if="showSocailNetAddButton" ng-click="enableSocialNetForm('socialnetform','socialNetFormControl')"><span class="glyphicon glyphicon-link" aria-hidden="true"></span>{{'addnewurl_label' | translate }} </button>
  </div>
  <div ng-if="socialnetform">
  <form novalidate name="socialnetformname" id="">
 
  <div class="col-md-6">
      
      <div class="form-group">
        <label translate="socialurl_label">*</label>
        <input type="text" name="name" ng-model="socialNetFormControl.name" class="form-control" required>
         <div ng-messages="socialnetformname.name.$error" ng-show="socialnetformname.name.$touched || isButtonClicked">
              <p ng-message="required" translate="title_required_error" class="validation-err"></p>
        </div> 
      </div>

      <div class="form-group">
        <label translate="enterurl_label">*</label>
          <input type="text" name="url" placeholder="Url" ng-model="socialNetFormControl.url" class="form-control">
          <div ng-messages="socialnetformname.url.$error" ng-show="socialnetformname.url.$touched || isButtonClicked">
              <p ng-message="required" translate="url_required" class="validation-err"></p>
        </div> 
      </div>

      
      <div class="form-group col-md-6 assembly yes-no-redio">
          <label translate="enableurl_label"></label>
          <div class="btn-group">
            <label style="color: #fff;" class="btn btn-primary" ng-model="socialNetFormControl.status" uib-btn-radio="'1'">{{'yes_label' | translate}}</label>
            <label style="color: #fff;" class="btn btn-primary" ng-model="socialNetFormControl.status" uib-btn-radio="'0'">{{'no_label' | translate}}</label>
          </div>
        </div>

      
  </div>
  <div class="col-md-6">
     
    <div class="form-group">
          <label translate="pic_label"></label>
          <span class="uploaded-pic service-pic">
            <img class="uploaded-pic thumb" ng-src="{{socialNetFormControl.filedata}}" >
          </span>
          
          <div class="clear"></div>
          <input type="file" imagetype="filedata" ngf-select ng-model="socialNetFormControl.filedataTemp" name="filedataTemp"    
               accept="image/*"
               ngf-pattern="'image/*'"
               ngf-model-invalid="errorFiles"
               ng-change="handleFileSelect(socialNetFormControl.filedataTemp,'socialNetFormControl','filedata')">
          <div ng-messages="socialnetformname.filedataTemp.$error" ng-show="socialnetformname.filedataTemp.$touched || isButtonClicked">
              <!-- <p ng-message="required" translate="profile_required_error" class="validation-err"></p> -->
              <p ng-message="pattern" translate="unsupportedfile_required_error" class="validation-err"></p>
              
          </div>
    </div>
  </div> 
  <div class="clear-center">
    <button type="button" class="btn btn-info" ng-click="addSocialNetCategory(socialnetformname ,'Social Network','socialNetFormControl','socailNetListArray')">{{ 'save_label' | translate}}</button>
    <button type="button" class="btn btn-info" ng-click="disableSocialNetForm('socialnetform')">{{'cancel_label' | translate}}</button>
  </div>
</form>
 </div>
  


  <div ng-if="socailNetListArray.length != 0">
    <table class="full-table full-width-table">
       <tr>
          <th width="15%">Photo</th>
          <th width="25%">Social Url Name</th>
          <th width="35%">Url</th>
          <th width="15%">Enable/Disable</th>
          <th width="5%">Edit</th>
          <th width="5%">Delete</th>
       </tr>

       <tr ng-repeat="socialNet in socailNetListArray"> <!-- servicecategoryid -->
        <td><image class="tablelistpiccol" ng-src="{{socialNet.socialimage}}" 
          onerror="this.src='./assets/img/noimage.jpg'"/></td>
          <td ng-bind="socialNet.name"></td>
          <td ng-bind="socialNet.url"></td>
          <td>
          <div class="btn-group">
              <label style="color: #fff;" class="btn btn-primary" ng-model="socialNet.status" uib-btn-radio="'1'" ng-click="updateSocialNetStatus('1','Social Network',socialNet,'socailNetListArray')">Enable</label>
              <label style="color: #fff;" ng-click="updateSocialNetStatus('0','Social Network',socialNet,'socailNetListArray')" class="btn btn-primary" ng-model="socialNet.status" uib-btn-radio="'0'">Disable</label>
            </div>
          </td>
          <td>
            <button class="btn btn-default edit-button" ng-click="goToeditSocialNetCategory(socialNet, 'socialNetFormControl','socialnetform','socialnetformid')"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></button>
          </td>
          <td class="delete-td delete-td-adjst"><span class="delete" ng-click="deleteSocialNetCategory('Social Network',socialNet,'socailNetListArray')">X</span></td>
       </tr>
       
    </table>
  </div>


    
  </div>
