<form novalidate name="candidatejahirnamaform" id="">
      
      <div class="form-group-discription">

                    <button class="btn btn-primary start" ngf-select ng-model="jahirnamaimageTemp"
                      accept="image/*" ngf-max-size="3MB" ng-click="imageSelectorClickHandler('jahirnama')"
                      ng-change="handleFileSelect(jahirnamaimageTemp,null,'jahirnamaimage')">
                    {{'uploadphoto_label' | translate}}</button>

                    
                    <div class="jahirnama-block" ng-if="showImagePreview.jahirnama">  
                        <img class="uploaded-pic" ng-src="{{jahirnamaimage}}" class="thumb">
                        <textarea name="jahirnamadesc" placeholder="Add Description" ng-model="jahirnamadesc" class="discription-area" required></textarea>
                        <button type="button" class="btn btn-primary start" data-ng-click="saveJahirnama(jahirnamaimage,jahirnamadesc)" data-ng-hide="">
                        <i class="glyphicon glyphicon-upload"></i>
                        <span>{{ 'save_label' | translate}}</span>
                        </button>
                    </div>

                    <div class="jahirnama-block" ng-if="candidateFormControl.jahirnama" ng-repeat="jahirnama in candidateFormControl.jahirnama">    
                    <img class="uploaded-pic" ng-src="{{jahirnama.image}}" class="thumb">
                        <div ng-bind="jahirnama.description" class="jahirnama-text"></div>
                        <button type="button" class="btn btn-primary start" data-ng-click="deleteJahirnamaOrWork(jahirnama,'jahirnama')" data-ng-hide="">
                        <i class="glyphicon glyphicon-upload"></i>
                        <span>{{ 'delete_label' | translate}}</span>
                        </button>
                    </div>  
                        
                      
      </div>
</form>










  <!-- </button>
                        <button type="button" class="btn btn-primary start" data-ng-click="" data-ng-hide="">
                        <i class="glyphicon glyphicon-upload"></i>
                        <span>Delete</span>
                        </button> -->

                    <!-- </li> -->
                   
                    <!-- <label>Jahirnama Information:*</label>
                    <textarea name="jahirnamatext" ng-model="candidateFormControl.jahirnama.jahirnamatext" class="discription-area" required></textarea>

                    <div ng-messages="candidatejahirnamaform.jahirnamatext.$error" ng-show="candidatejahirnamaform.jahirnamatext.$touched || isButtonClicked">
                        <p ng-message="required" translate="jahirnama_desc_rquired" class="validation-err"></p>
                    </div>


                    <label>Upload Jarirnama:</label>
                    <ul class="upload-images-list">
                      <li>
                        <span class="uploaded-social-pic">
                          <img class="uploaded-pic" ngf-thumbnail="candidateFormControl.jahirnama.imageTemp1" class="thumb">
                        </span>
                        <input type="file" ngf-multiple="true" imagetype="jahirnama_image1" ngf-select ng-model="candidateFormControl.jahirnama.imageTemp1" name="imageTemp1[]" accept="image/*" ngf-model-invalid="errorFiles">
                        
                      </li>
                      <li>
                        <span class="uploaded-social-pic">
                          <img class="uploaded-pic" ngf-thumbnail="candidateFormControl.jahirnama.imageTemp2" class="thumb">
                        </span>
                        <input type="file" imagetype="jahirnama_image2" ngf-select ng-model="candidateFormControl.jahirnama.imageTemp2" name="imageTemp2" accept="image/*" ngf-model-invalid="errorFiles">
                        
                      </li>

                      <li>
                        <span class="uploaded-social-pic">
                          <img class="uploaded-pic" ngf-thumbnail="candidateFormControl.jahirnama.imageTemp3" class="thumb">
                        </span>
                        <input type="file" imagetype="jahirnama_image3" ngf-select ng-model="candidateFormControl.jahirnama.imageTemp3" name="imageTemp3" accept="image/*" ngf-model-invalid="errorFiles">
                        
                      </li>
                      
                    <div class="clear-center"><button type="button" class="btn btn-info" ng-click="saveCandidateJahirnama(candidatejahirnamaform)">Save</button></div> -->