<form novalidate name="candidateprofileform" id="">
  <div class="row reg-form">
    <h2 translate="personalinfo_label"></h2>
    <div>
        <div class="form-group col-md-6">
            <label translate="firstname_label">*</label>
            <input type="text" ng-model="candidateFormControl.profile.firstname" name="firstname" class="form-control ng-pristine ng-valid ng-touched" required>
            <div ng-messages="candidateprofileform.firstname.$error" ng-show="candidateprofileform.firstname.$touched || isButtonClicked">
              <p ng-message="required" translate="firstname_required_error" class="validation-err"></p>
            </div>
        </div>
        <div class="form-group col-md-6">
           <label translate="middlename_label">*</label>
            <input type="text" name="middlename" ng-model="candidateFormControl.profile.middlename" class="form-control ng-pristine ng-valid ng-touched" required>
            <div ng-messages="candidateprofileform.middlename.$error" ng-show="candidateprofileform.middlename.$touched || isButtonClicked">
              <p ng-message="required" translate="middlename_required_error" class="validation-err"></p>
            </div>
        </div>
        <div class="form-group col-md-6">
          <label translate="lastname_label">*</label>
          <input type="text" name="lastname" ng-model="candidateFormControl.profile.lastname" class="form-control ng-pristine ng-valid ng-touched" required>
          <div ng-messages="candidateprofileform.lastname.$error" ng-show="candidateprofileform.lastname.$touched || isButtonClicked">
              <p ng-message="required" translate="lastname_required_error" class="validation-err"></p>
            </div>
        </div>
         <div class="form-group  col-md-6">
          <label translate="selectgender_label">:*</label>
          <select name="gender" ng-model="candidateFormControl.profile.gender" required>
             <!--  <option value="">Select Gender</option> -->
              <option value="Male">Male</option>
              <option value="Female">Female</option>
              <option value="Transgender">Transgender</option>
              
          </select>
          <div ng-messages="candidateprofileform.gender.$error" ng-show="candidateprofileform.gender.$touched || isButtonClicked">
              <p ng-message="required" translate="gender_required_error" class="validation-err"></p>
          </div>  
     
        </div>
        <div class="form-group  col-md-6">
          <label translate="selectcaste_label">:</label>
          <select name="cast" ng-init="getCastList()" ng-model="candidateFormControl.profile.caste">
             <option value="">Select Caste</option>
             <option value="{{caste.castename}}" ng-repeat="caste in casteList" ng-selected="{{candidateFormControl.profile.caste == caste.castename}}">{{caste.castename}}</option>
              
          </select>
          
     
        </div>
        <div class="form-group  col-md-6">
           <label translate="selectreligion_label">:</label>
          <select name="cast" ng-init="getReligionList()" ng-model="candidateFormControl.profile.religion">
             <option value="">Select Religion</option>
             <option value="{{religion.religion}}" ng-repeat="religion in religionList" ng-selected="{{candidateFormControl.profile.religion == religion.religion}}">{{religion.religion}}</option>
              
           </select>
        </div>
        <div class="form-group col-md-6">
          <label translate="emailid_label">*</label>
          <input type="email" name="email" ng-model="candidateFormControl.profile.email" class="form-control ng-pristine ng-valid ng-touched" ng-disabled="!isProfileUndone" required>
          <div ng-messages="candidateprofileform.email.$error" ng-show="candidateprofileform.email.$touched || isButtonClicked">
              <p ng-message="required" translate="email_required_error" class="validation-err"></p>
              <p ng-message="email" translate="email_invalid_error" class="validation-err"></p>
          </div>
        </div>
        <div class="form-group col-md-6">
            <label translate="dob_label">:*</label>     
            <datepicker date-format="{{dateFormat}}" selector="form-control" date-max-limit="{{maxDateLimit.toString()}}" date-min-limit="{{minDateLimit.toString()}}">
                <div class="input-group">
                    <input class="form-control" name="dob" ng-model="candidateFormControl.profile.dob"  placeholder="Choose a date" readonly required/>
                    <span class="input-group-addon" style="cursor: pointer">
                    <i class="fa fa-lg fa-calendar"></i>
                    </span>
                </div>
            </datepicker>
            <div ng-messages="candidateprofileform.dob.$error" ng-show="candidateprofileform.dob.$touched || isButtonClicked">
                <p ng-message="required" translate="dob_required_error" class="validation-err"></p>
            </div>
        </div>
        <div class="form-group col-md-6" ng-if="isProfileUndone">
          <label translate="password_label">*</label>
          <input type="password" name="password" id="password" ng-model="candidateFormControl.profile.password" class="form-control ng-pristine ng-valid ng-touched" required>
          <div ng-messages="candidateprofileform.password.$error" ng-show="candidateprofileform.password.$touched || isButtonClicked">
              <p ng-message="required" translate="password_required_error" class="validation-err"></p>
          </div>
        </div>
        <div class="form-group col-md-6" ng-if="isProfileUndone">
            <label translate="cnfpassword_label">:*</label>
            <input type="password" name="cfrmPassword" id="cfrmPassword" ng-model="candidateFormControl.profile.cfrmPassword" class="form-control ng-pristine ng-valid ng-touched" required pw-check="password" >

            <div ng-messages="candidateprofileform.cfrmPassword.$error" ng-show="candidateprofileform.cfrmPassword.$touched || isButtonClicked">
                <p ng-message="required" translate="cnfPassword_required_error" class="validation-err"></p>
                <p ng-message="pwmatch" translate="cnfPassword_umatched_error" class="validation-err"></p>
            </div>
        </div>
        <div class="form-group col-md-6">
          <label translate="phone_label">:*</label>
          <input type="text" onkeypress="return numbersonly();" name="phone" ng-model="candidateFormControl.profile.phone" class="form-control ng-pristine ng-valid ng-touched" ng-disabled="!isProfileUndone" required>
          <div ng-messages="candidateprofileform.phone.$error" ng-show="candidateprofileform.phone.$touched || isButtonClicked">
              <p ng-message="required" translate="phone_required_error" class="validation-err"></p>
          </div>
        </div>
        <div class="form-group col-md-6">
            <label translate="landline_label">:</label>
            <input type="text" onkeypress="return numbersonly();" ng-model="candidateFormControl.profile.landline" class="form-control ng-pristine ng-valid ng-touched">
        </div>
        <div class="form-group col-md-6">
            <label translate="altphone_label">:</label>
            <input type="text" onkeypress="return numbersonly();" ng-model="candidateFormControl.profile.alternatephone" class="form-control ng-pristine ng-valid ng-touched">
        </div>
        <div class="form-group col-md-6">
            <label>उमेदवाराचा परिचय</label>
            <textarea ng-model="candidateFormControl.profile.candidatedescription" class="form-control ng-pristine ng-valid ng-touched"></textarea>
        </div>
        <div class="clear"></div>
    </div>


    <h2 translate="addrdetails_label"></h2>
    <div>  
      <div class="form-group col-md-6">
          <label translate="addr1_label">*</label>
          <input type="text" name="lane1" ng-model="candidateFormControl.profile.lane1" class="form-control ng-pristine ng-valid ng-touched" required>
          <div ng-messages="candidateprofileform.lane1.$error" ng-show="candidateprofileform.lane1.$touched || isButtonClicked">
              <p ng-message="required" translate="addr1_required_error" class="validation-err"></p>
          </div>
      </div>
      <div class="form-group col-md-6">
          <label translate="addr2_label">*</label>
          <input type="text" name="lane2" ng-model="candidateFormControl.profile.lane2" class="form-control ng-pristine ng-valid ng-touched" required>
          <div ng-messages="candidateprofileform.lane2.$error" ng-show="candidateprofileform.lane2.$touched || isButtonClicked">
              <p ng-message="required" translate="addr2_required_error" class="validation-err"></p>
          </div>
      </div>
      <div class="form-group col-md-6">
           <label translate="state_label">*</label>
          <select name="state" ng-init="getAllStates()" ng-model="candidateFormControl.profile.state" 
          ng-change="getDistricts(candidateFormControl.profile.state)" required>
              <option value="">Select</option>
              <option ng-if="state.state != null" value="{{state.state}}" ng-repeat="state in states" ng-selected="{{candidateFormControl.profile.state == state.state}}">{{state.state}}</option>
          </select>
          <div ng-messages="candidateprofileform.state.$error" ng-show="candidateprofileform.state.$touched || isButtonClicked">
              <p ng-message="required" translate="state_required_error" class="validation-err"></p>
          </div>
      </div>
      <div class="form-group col-md-6">
          <label translate="dist_label">*</label>
          <select name="district" ng-model="candidateFormControl.profile.district"
          ng-change="getTalukas(candidateFormControl.profile.district)" required>
              <option value="">Select</option>
              <option value="{{district.district}}" ng-repeat="district in districts" ng-selected="{{candidateFormControl.profile.district == district.district}}">{{district.district}}</option>
          </select>
          <div ng-messages="candidateprofileform.district.$error" ng-show="candidateprofileform.district.$touched || isButtonClicked">
              <p ng-message="required" translate="dist_required_error" class="validation-err"></p>
          </div>

      </div>
      <div class="form-group col-md-6">
          <label translate="tal_label">*</label>
          <select name="taluka"  ng-model="candidateFormControl.profile.taluka"
          ng-change="getPincodes(candidateFormControl.profile.taluka)" required>
              <option value="">Select</option>
             <!--  <option value="Karad">Karad</option> -->
             <option value="{{taluka.taluka}}" ng-repeat="taluka in talukas">{{taluka.taluka}}</option>
          </select>
          <div ng-messages="candidateprofileform.taluka.$error" ng-show="candidateprofileform.taluka.$touched || isButtonClicked">
              <p ng-message="required" translate="taluka_required_error" class="validation-err"></p>
          </div>
      </div>
      <div class="form-group col-md-6">
          <label translate="area_label">:</label>
          <input type="text" name="area" ng-model="candidateFormControl.profile.area" class="form-control ng-pristine ng-valid ng-touched">
      </div>
      <div class="form-group col-md-6">
          <label translate="pincode_label">*</label>
          <select ng-model="candidateFormControl.profile.pincode" name="pincode" 
           required>
              <option value="">Select Pincode</option>
              <!-- <option value="411001">411001</option> -->
              <option value="{{pincode.pincode}}" ng-repeat="pincode in pincodes">{{pincode.pincode}}</option>
          </select>
          <div ng-messages="candidateprofileform.pincode.$error" ng-show="candidateprofileform.pincode.$touched || isButtonClicked">
              <p ng-message="required" translate="pincode_required_error" class="validation-err"></p>
          </div>
      </div>
      <div class="clear"></div>
    </div>

    <h2 translate="otherdetails_label"></h2>
    <div>
      <div class="col-md-6 other-details">
        <div class="form-group">
        <label translate="addphoto_label">:*</label>
        <span class="uploaded-pic personal-pic">
          <img class="uploaded-pic thumb" ngf-thumbnail="candidateFormControl.profile.image" alt="Profile Photo">
        </span>
        <!-- <span class="uploaded-pic party-pic">
          <img class="uploaded-pic thumb" ng-src="{{partyImage}}" alt="Party Photo">
        </span> -->
        <span class="uploaded-pic party-pic">
          <img class="uploaded-pic thumb" ngf-thumbnail="candidateFormControl.profile.partyimage" alt="Party Photo">
        </span>
        
        <div class="clear"></div>
        <input type="file" imagetype="profilepic" ngf-select ng-model="candidateFormControl.profile.imageTemp" name="imageTemp"    
             accept="image/*"
             ngf-pattern="'image/*'"
             ngf-model-invalid="errorFiles"
             ng-change="handleFileSelect(candidateFormControl.profile.imageTemp,'candidateFormControl','image','profile')" >
        <div ng-messages="candidateprofileform.imageTemp.$error" ng-show="candidateprofileform.imageTemp.$touched || isButtonClicked">
            <!-- <p ng-message="required" translate="profile_required_error" class="validation-err"></p> -->
            <p ng-message="pattern" translate="unsupportedfile_required_error" class="validation-err"></p>
            
        </div>
      </div>
      <div class="form-group" ng-init="getPoliticalPartyList()">
        <label translate="partyname_label">:*</label>
        <select name="partyname" ng-model="candidateFormControl.profile.partyname"
         ng-change="setPartyImage(candidateFormControl.profile.partyname)" required>
            <option value="">Select Party Name</option>
            <!-- <option value="Others">Others</option> -->
            <option value="{{party.partyid}}" ng-repeat="party in politicalPartyList">{{party.partyshortname}}-{{party.partyname}}</option>
        </select>
        <div ng-messages="candidateprofileform.partyname.$error" ng-show="candidateprofileform.partyname.$touched || isButtonClicked">
              <p ng-message="required" translate="partyname_required_error" class="validation-err"></p>
          </div>
        
         <input type="file" imagetype="partypic" ngf-select ng-if="candidateFormControl.profile.partyname == '9'" ng-model="candidateFormControl.profile.partyImageTemp" name="partyImageTemp"    
             accept="image/*"
             ngf-pattern="'image/*'"
             ng-change="handleFileSelect(candidateFormControl.profile.partyImageTemp,'candidateFormControl','partyimage','profile')"
             ngf-model-invalid="errorFiles">
        <div ng-messages="candidateprofileform.partyImageTemp.$error" ng-show="candidateprofileform.partyImageTemp.$touched || isButtonClicked">
            <!-- <p ng-message="required" translate="partyImage_required_error" class="validation-err"></p> -->
             <p ng-message="pattern" translate="unsupportedfile_required_error" class="validation-err"></p>
        </div>
      </div>
      <!-- <div class="form-group">
          <label>Manage by:*</label>
          <select name="gender" ng-model="candidateFormControl.profile.managedby" required>
              <option value="0">Self</option>
              <option value="1">Super Admin</option>
          </select>
      </div> -->
      <div class="clear"></div>
    </div>

      
      <div class="form-group col-md-6 assembly">
        <label translate="assemblyselection_label">:*</label>
        <div class="btn-group three-btns">
            <label style="color: #fff;" class="btn btn-primary" ng-model="candidateFormControl.profile.assembly" uib-btn-radio="'Loksabha'">{{ 'loksabha_label' | translate}}</label>
            <label style="color: #fff;" class="btn btn-primary" ng-model="candidateFormControl.profile.assembly" uib-btn-radio="'Vidhansabha'">{{ 'vidhansabha_label' | translate}} </label>
            <label style="color: #fff;" class="btn btn-primary" ng-model="candidateFormControl.profile.assembly" uib-btn-radio="'Localbody'">{{ 'localbody_label' | translate}} </label>
        </div>
        <!-- <pre>{{candidateFormControl.profile.assembly || 'null'}}</pre> -->
      </div>
      <div class="form-group col-md-6" ng-if="isLoksabhaActive">
        <label translate="loksabha_label">:*</label>
        <select name="loksabha" ng-model="candidateFormControl.profile.loksabha"
          ng-change="getVidhanSabhas(candidateFormControl.profile.loksabha)" required>
            <option value="">Select Loksabha Name</option>
            <!-- <option value="Pune">Pune</option> -->
            <option value="{{loksabha.loksabha}}" ng-repeat="loksabha in loksabhas">{{loksabha.loksabha}}</option>
        </select>
        <div ng-messages="candidateprofileform.loksabha.$error" ng-show="candidateprofileform.loksabha.$touched || isButtonClicked">
            <p ng-message="required" translate="loksabha_required_error" class="validation-err"></p>
        </div>
      </div> 
      <div class="form-group col-md-6" ng-if="isVidhanSabhaActive">
        <label translate="vidhansabha_label">:*</label>
        <select name="vidhansabha" ng-model="candidateFormControl.profile.vidhansabha" 
        required>
            <option value="">Select Vidhan sabha Name</option>
           <!--  <option value="Pune">Pune</option> -->
           <option value="{{vidhansabha.vidhansabha}}" ng-repeat="vidhansabha in vidhansabhas">{{vidhansabha.vidhansabha}}</option>
        </select>
        <div ng-messages="candidateprofileform.vidhansabha.$error" ng-show="candidateprofileform.vidhansabha.$touched || isButtonClicked">
            <p ng-message="required" translate="vidhansabha_required_error" class="validation-err"></p>
        </div>
      </div>
      <div class="form-group col-md-6" ng-if="isLocalBodyActive">
        <label translate="wardname_label">:*</label>
         <input type="text" name="ward" ng-model="candidateFormControl.profile.ward" class="form-control ng-pristine ng-valid ng-touched" required>
        <div ng-messages="candidateprofileform.ward.$error" ng-show="candidateprofileform.ward.$touched || isButtonClicked">
            <p ng-message="required" translate="ward_required_error" class="validation-err"></p>
        </div>
      </div>

      <div class="clear"></div>
      
      

      <div class="form-group select-tabs">
          <label translate="subscription_label">:*</label>
                  <input name="subscription" value="NagariSuvidha" type="radio" ng-model="candidateFormControl.profile.subscription" required>
                  <span class="radio-txt">Nagari Suvidha + Birthday Utility</span>
                  <div>&nbsp;</div>
                  <input name="subscription" value="Birthday" type="radio" ng-model="candidateFormControl.profile.subscription" required>
                  <span class="radio-txt">Birthday Utility</span>
            <div ng-messages="candidateprofileform.subscription.$error" ng-show="candidateprofileform.subscription.$touched || isButtonClicked">
               <p ng-message="required"class="validation-err" translate="subscriptiontype_required_error"></p>
            </div>
      </div>
      <div class="clear"></div>

      <div class="form-group select-tabs" ng-if="showVisibleTabOption">
          <label translate="visibletabs_label">:*</label>
          <ul class="visi-tabs">
            <li><input type="checkbox" ng-model="candidateFormControl.profile.profilestatusTemp" > <span> 
              {{ 'profile_label' | translate}}  </span> </li>
            <li><input type="checkbox"  ng-model="candidateFormControl.profile.partystatusTemp"> <span> 
              {{ 'partyprofile_label' | translate}} </span></li> 
            <li> <input type="checkbox"  ng-model="candidateFormControl.profile.workstatusTemp"> <span> 
              {{ 'work_label' | translate}} </span> </li>
            <li><input type="checkbox"  ng-model="candidateFormControl.profile.jahirnamastatusTemp"> <span> 
              {{ 'jahirnama_label' | translate}} </span></li> 
            
          </ul>
      </div>
      <div class="clear"></div>
    </div>
  </div>
    <div class="clear-center"><button type="button" class="btn btn-info" ng-click="saveCandidateProfile(candidateprofileform)">{{ 'save_label' | translate}}</button></div>
  </div>
</form>  