<form novalidate name="candidatepartyprofileform" id="">
  <div class="row reg-form">
    <h2 >{{'partyprofile_label' | translate}}</h2>
    <div>
      <!-- <div class="col-md-6">
        <div class="form-group">
            <label>First Name:*</label>
            <span class="profile-text">Ramesh</span>
        </div>
        <div class="form-group">
            <label>Middle Name:*</label>
            <span class="profile-text">Suresh</span>
        </div>
        <div class="form-group">
          <label>Last Name:*</label>
          <span class="profile-text">Deshmukh</span>
        </div>
      </div> -->
      <div class="col-md-6">
        <div class="form-group">
          <label translate="partyname_label">: </label>
          <span class="profile-text">{{selectedPoliticalParty.partyname || candidateFormControl.partyProfile.partyname}}</span>
        </div>
        <div class="form-group">
            <label translate="partysymbol_label">:*</label>
            <span class="uploaded-pic party-pic">
              <img ng-if="candidateFormControl.partyProfile.partyname != 'Others'" class="uploaded-pic thumb" ng-src="{{selectedPoliticalParty.partysymbol || candidateFormControl.partyProfile.partyimage}}" alt="Party Photo">

              <img ng-if="candidateFormControl.partyProfile.partyname == 'Others'" class="uploaded-pic thumb" ng-src="{{selectedPoliticalParty.partysymbol || candidateFormControl.partyProfile.otherpartyimage}}" alt="Party Photo">
            </span>
        </div>
      </div>
      <div class="clear"></div>
      <div class="form-group-discription">
        <label translate="partydesc_label">:*</label>
        <textarea name="partydetails" ng-model="candidateFormControl.partyProfile.partydetails" class="discription-area" required></textarea>

        <div ng-messages="candidatepartyprofileform.partydetails.$error" ng-show="candidatepartyprofileform.partydetails.$touched || isButtonClicked">
            <p ng-message="required" translate="party_desc_rquired" class="validation-err"></p>
        </div>
      </div>
    </div>   
    <div class="clear-center">
      <button type="button" class="btn btn-info" ng-click="savePartyDetails(candidatepartyprofileform)">{{ 'save_label' | translate}}</button>
    </div>
  </div>
</form>  