
  <div class="row reg-form">
    
    <div>
      <uib-accordion close-others="oneAtATime">
        <uib-accordion-group is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
          <uib-accordion-heading >
                <div ng-click="accordionClickHandler('Emergency Services','emergencyServicesArray',$event)">
                {{'emergencyservices_label' | translate}}    
                </div>
          </uib-accordion-heading>
          <!-- <div uib-accordion-header ng-click="accordionClickHandler('Emergency Services','emergencyServicesArray')">
              Emergency Services
          </div> -->
          <div class="row">
            <div ng-include="'./app/components/candidateManager/create-candidate/services-accordion/emergencyservice.html'"></div>
          </div>
        </uib-accordion-group>

        <uib-accordion-group is-disabled="status.isFirstDisabled">
          <uib-accordion-heading >
                <div ng-click="accordionClickHandler('Municipal Services','municipalServicesArray',$event)">
                {{'municorpser_label' | translate}}  
                </div>
          </uib-accordion-heading>
          <div class="row">
            <div ng-include="'./app/components/candidateManager/create-candidate/services-accordion/muncipalcorpservices.html'"></div>
          </div>
        </uib-accordion-group> 

        <uib-accordion-group is-disabled="status.isFirstDisabled">
          <uib-accordion-heading >
                <div ng-click="accordionClickHandler('Commercial Services','commercialServicesArray',$event)">
                {{'commercial_label' | translate}}   
                </div>
          </uib-accordion-heading>
          <div class="row">
            <div ng-include="'./app/components/candidateManager/create-candidate/services-accordion/commercialservice.html'"></div>
          </div>
        </uib-accordion-group>
 
        <!-- <uib-accordion-group heading="Commercial services" is-disabled="status.isFirstDisabled">
          <div ng-include="'./app/components/candidateManager/create-candidate/services-accordion/commercialservice.html'"></div>
        </uib-accordion-group> -->

        <uib-accordion-group is-disabled="status.isFirstDisabled">
          <uib-accordion-heading >
                <div ng-click="accordionClickHandler('Important Information','importantInfoServicesArray',$event)">
                {{'ipminfo_label' | translate}}   
                </div>
          </uib-accordion-heading>
          <div class="row">
            <div ng-include="'./app/components/candidateManager/create-candidate/services-accordion/importantinfo.html'"></div>
          </div>
        </uib-accordion-group>

        
        <uib-accordion-group is-disabled="status.isFirstDisabled">
          <uib-accordion-heading >
                <div ng-click="accordionClickHandler('Medical Assistance Services','medicalassistanceServicesArray',$event)">
                {{'medicalassis_label' | translate}}    

                </div>
          </uib-accordion-heading>
          <div class="row">
            <div ng-include="'./app/components/candidateManager/create-candidate/services-accordion/medicalassistance.html'"></div>
          </div>
        </uib-accordion-group>

      </uib-accordion>
      
    </div>   
    
  </div>
