
  <div class="row reg-form">
    
    <div>
      <uib-accordion close-others="oneAtATime">
        <uib-accordion-group is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
          <uib-accordion-heading >
                <div ng-click="HHAccordionClickHandler('New Businessmen','newBusinessMenListArray',$event)">
                {{'newbussinessmen_label' | translate}} 
                </div>
          </uib-accordion-heading>
          <div class="row">
            <div ng-include="'./app/components/candidateManager/create-candidate/helpinghand-accordion/newbussinessmen.html'"></div>
          </div>
        </uib-accordion-group>

        <uib-accordion-group is-disabled="status.isFirstDisabled">
          <uib-accordion-heading >
                <div ng-click="HHAccordionClickHandler('Skill Development','skillDevelopmentListArray',$event)">
                {{'skilldev_label' | translate}}  
                </div>
          </uib-accordion-heading>
          <div class="row">
            <div ng-include="'./app/components/candidateManager/create-candidate/helpinghand-accordion/skilldevelopment.html'"></div>
          </div>
        </uib-accordion-group> 

        <uib-accordion-group is-disabled="status.isFirstDisabled">
          <uib-accordion-heading >
                <div ng-click="HHAccordionClickHandler('Government Loan Schemes','govtLoanSchemesListArray',$event)">
                {{'govtLoans_label' | translate}}   
                </div>
          </uib-accordion-heading>
          <div class="row">
            <div ng-include="'./app/components/candidateManager/create-candidate/helpinghand-accordion/govtloanschemes.html'"></div>
          </div>
        </uib-accordion-group>
 
        <uib-accordion-group is-disabled="status.isFirstDisabled">
          <uib-accordion-heading >
                <div ng-click="HHAccordionClickHandler('PMC Schemes','pmcSchemesListArray',$event)">
                 {{'pmcschemes_label' | translate}}    
                </div>
          </uib-accordion-heading>
          <div class="row">
            <div ng-include="'./app/components/candidateManager/create-candidate/helpinghand-accordion/pmcschemes.html'"></div>
          </div>
        </uib-accordion-group>

        <uib-accordion-group is-disabled="status.isFirstDisabled">
          <uib-accordion-heading >
                <div ng-click="HHAccordionClickHandler('Utility Bills','utilityBillsListArray' ,$event)">
                {{'utilitybills_label' | translate}}    
                </div>
          </uib-accordion-heading>
          <div class="row">
            <div ng-include="'./app/components/candidateManager/create-candidate/helpinghand-accordion/utilitybills.html'"></div>
          </div>
        </uib-accordion-group>


      </uib-accordion>
      
    </div>   
    
  </div>
