<uib-accordion close-others="oneAtATime">

                        <uib-accordion-group is-open="true">
                            <uib-accordion-heading>
                              {{'socialwork_label' | translate}}  <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                            </uib-accordion-heading>
                            <form novalidate name="candidatesocialworkform" id="">
                              <div class="form-group-discription">

                                <button class="btn btn-primary start" ngf-select ng-model="socialworkimageTemp"
                                  accept="image/*" ngf-max-size="3MB" ng-click="imageSelectorClickHandler('social')"
                                  ng-change="handleFileSelect(socialworkimageTemp,null,'socialworkimage')">
                                {{'uploadphoto_label' | translate}}</button>

                                
                                <div class="jahirnama-block" ng-if="showImagePreview.social">  
                                    <img class="uploaded-pic" ng-src="{{socialworkimage}}" >
                                    
                                    <textarea name="socialworkdesc" placeholder="Add Description" ng-model="socialworkdesc" class="discription-area" required></textarea>
                                    <button type="button" class="btn btn-primary start" data-ng-click="saveWorkDetails(socialworkimage,socialworkdesc,'Social Work','social')" data-ng-hide="">
                                    <i class="glyphicon glyphicon-upload"></i>
                                    <span>{{ 'save_label' | translate}}</span>
                                    </button>
                                </div>

                                <div class="jahirnama-block" ng-if="candidateFormControl.works.social" ng-repeat="socialwork in candidateFormControl.works.social">    
                                <img class="uploaded-pic" ng-src="{{socialwork.image}}" class="thumb">
                                    <div ng-bind="socialwork.description" class="jahirnama-text"></div>
                                    <button type="button" class="btn btn-primary start" data-ng-click="deleteJahirnamaOrWork(socialwork,'work','social')" data-ng-hide="">
                                    <i class="glyphicon glyphicon-upload"></i>
                                    <span>{{ 'delete_label' | translate}}</span>
                                    </button>
                                </div>  
                              </div>
                              

                          </form>
                        </uib-accordion-group>


                        

                        

                        <uib-accordion-group>
                          <uib-accordion-heading>
                            {{'devwork_label' | translate}}  <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                          </uib-accordion-heading>
                          <form novalidate name="candidatedevworkform" id="">
                              <div class="form-group-discription">

                                <button class="btn btn-primary start" ngf-select ng-model="devworkimageTemp"
                                  accept="image/*" ngf-max-size="3MB" ng-click="imageSelectorClickHandler('development')"
                                  ng-change="handleFileSelect(devworkimageTemp,null,'devworkimage')">
                                {{'uploadphoto_label' | translate}}</button>

                                
                                <div class="jahirnama-block" ng-if="showImagePreview.development">  
                                    <img class="uploaded-pic" ng-src="{{devworkimage}}" class="thumb">
                                    <textarea name="devworkdesc" ng-model="devworkdesc" class="discription-area" required></textarea>
                                    <button type="button" class="btn btn-primary start" data-ng-click="saveWorkDetails(devworkimage,devworkdesc,'Development Work','development')" data-ng-hide="">
                                    <i class="glyphicon glyphicon-upload"></i>
                                    <span>{{ 'save_label' | translate}}</span>
                                    </button>
                                </div>

                                <div class="jahirnama-block" ng-if="candidateFormControl.works.development" ng-repeat="devwork in candidateFormControl.works.development">    
                                <img class="uploaded-pic" ng-src="{{devwork.image}}" class="thumb">
                                    <div ng-bind="devwork.description" class="jahirnama-text"></div>
                                    <button type="button" class="btn btn-primary start" data-ng-click="deleteJahirnamaOrWork(devwork,'work','development')" data-ng-hide="">
                                    <i class="glyphicon glyphicon-upload"></i>
                                    <span>{{ 'delete_label' | translate}}</span>
                                    </button>
                                </div> 
                              </div>
                              
                          </form>
                        </uib-accordion-group>


                        <uib-accordion-group>
                          <uib-accordion-heading>
                            {{'religiouswork_label' | translate}}  <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                          </uib-accordion-heading>
                          <form novalidate name="candidatereligiousworkform" id="">
                              <div class="form-group-discription">

                                <button class="btn btn-primary start" ngf-select ng-model="religiousworkimageTemp"
                                  accept="image/*" ngf-max-size="3MB" ng-click="imageSelectorClickHandler('religious')"
                                  ng-change="handleFileSelect(religiousworkimageTemp,null,'religiousworkimage')">
                                {{'uploadphoto_label' | translate}}</button>

                                
                                <div class="jahirnama-block" ng-if="showImagePreview.religious">  
                                    <img class="uploaded-pic" ng-src="{{religiousworkimage}}" class="thumb">
                                    <textarea name="religiousworkdesc" ng-model="religiousworkdesc" class="discription-area" required></textarea>
                                    <button type="button" class="btn btn-primary start" data-ng-click="saveWorkDetails(religiousworkimage,religiousworkdesc,'Religious Work','religious')" data-ng-hide="">
                                    <i class="glyphicon glyphicon-upload"></i>
                                    <span>{{ 'save_label' | translate}}</span>
                                    </button>
                                </div>

                                <div class="jahirnama-block" ng-if="candidateFormControl.works.religious" ng-repeat="religiouswork in candidateFormControl.works.religious">    
                                <img class="uploaded-pic" ng-src="{{religiouswork.image}}" class="thumb">
                                    <div ng-bind="religiouswork.description" class="jahirnama-text"></div>
                                    <button type="button" class="btn btn-primary start" data-ng-click="deleteJahirnamaOrWork(religiouswork,'work','religious')" data-ng-hide="">
                                    <i class="glyphicon glyphicon-upload"></i>
                                    <span>{{ 'delete_label' | translate}}</span>
                                    </button>
                                </div> 
                              </div>
                          </form>
                        </uib-accordion-group>


                        <uib-accordion-group>
                          <uib-accordion-heading>
                            {{'sportwork_label' | translate}}  <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                          </uib-accordion-heading>
                          <form novalidate name="candidatesportworkform" id="">
                              <div class="form-group-discription">

                                <button class="btn btn-primary start" ngf-select ng-model="sportworkimageTemp"
                                  accept="image/*" ngf-max-size="3MB" ng-click="imageSelectorClickHandler('sport')"
                                  ng-change="handleFileSelect(sportworkimageTemp,null,'sportworkimage')">
                                {{'uploadphoto_label' | translate}}</button>

                                
                                <div class="jahirnama-block" ng-if="showImagePreview.sport">  
                                    <img class="uploaded-pic" ng-src="{{sportworkimage}}" class="thumb">
                                    <textarea name="sportworkdesc" ng-model="sportworkdesc" class="discription-area" required></textarea>
                                    <button type="button" class="btn btn-primary start" data-ng-click="saveWorkDetails(sportworkimage,sportworkdesc,'Sport Work','sport')" data-ng-hide="">
                                    <i class="glyphicon glyphicon-upload"></i>
                                    <span>{{ 'save_label' | translate}}</span>
                                    </button>
                                </div>

                                <div class="jahirnama-block" ng-if="candidateFormControl.works.sport" ng-repeat="sportwork in candidateFormControl.works.sport">    
                                <img class="uploaded-pic" ng-src="{{sportwork.image}}" class="thumb">
                                    <div ng-bind="sportwork.description" class="jahirnama-text"></div>
                                    <button type="button" class="btn btn-primary start" data-ng-click="deleteJahirnamaOrWork(sportwork,'work','sport')" data-ng-hide="">
                                    <i class="glyphicon glyphicon-upload"></i>
                                    <span>{{ 'delete_label' | translate}}</span>
                                    </button>
                                </div> 
                              </div>
                              
                          </form>
                        </uib-accordion-group>

                        

                        
                  </uib-accordion>
              </section>