
  <div class="row reg-form">
    
    
  
  <div class="clear-left" id="matdarjagrutiformid">
    <button type="button" class="btn btn-info" ng-if="showMatdarJagrutiAddButton" ng-click="enableMatdarJagrutiForm('matdarjagrutiform','matdarJagrutiFormControl')"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> {{'addnewcat_label' | translate }}</button>
  </div>
  <div ng-if="matdarjagrutiform">
  <form novalidate name="matdarjagrutiformname" id="">
 
  <div class="col-md-6">
      
      <div class="form-group">
         <label translate="categoryname_label">*</label>
        <input type="text" name="mjcategoryname" ng-model="matdarJagrutiFormControl.mjcategoryname" class="form-control" required>
         <div ng-messages="matdarjagrutiformname.mjcategoryname.$error" ng-show="matdarjagrutiformname.mjcategoryname.$touched || isButtonClicked">
              <p ng-message="required" translate="category_required" class="validation-err"></p>
        </div> 
      </div>

      <div class="form-group left-align">
            <label translate="uploadtype_label">*</label>
            <input name="uploadtype" value="Pdf" type="radio" ng-model="matdarJagrutiFormControl.uploadtype" required>
            <span class="radio-label">{{'pdf_label' | translate}}</span>
            <input name="uploadtype" value="Url" type="radio" ng-model="matdarJagrutiFormControl.uploadtype" required>
            <span class="radio-label">{{'url_label' | translate}}</span>   
      </div>

      <div class="form-group" ng-if="matdarJagrutiFormControl.uploadtype == 'Pdf'">
        <label translate="uploadpdf_label">*</label>
        <div>
          <input type="file" 
                ngf-select 
                ngf-pattern="'application/pdf'",
                accept="application/pdf",
                ng-model="matdarJagrutiFormControl.pdffiledata" ,
                name="pdffiledata"    
                ngf-model-invalid="errorFiles" required>
                <div ng-messages="matdarjagrutiformname.pdffiledata.$error" ng-show="matdarjagrutiformname.pdffiledata.$touched || isButtonClicked">
                  <p ng-message="required" translate="file_required_error" class="validation-err"></p>
                  <p ng-message="pattern" translate="unsupportedfile_required_error" class="validation-err"></p>
                </div>
        </div>
      </div>

      <div class="form-group" ng-if="matdarJagrutiFormControl.uploadtype == 'Url'">
        <label translate="enterurl_label">*</label>
          <input type="text" name="mjurl" placeholder="Url" ng-model="matdarJagrutiFormControl.mjurl" class="form-control">
      </div>

      
      <div class="form-group col-md-6 assembly yes-no-redio">
          <label translate="enablecat_label"></label>
          <div class="btn-group">
            <label style="color: #fff;" class="btn btn-primary" ng-model="matdarJagrutiFormControl.mjstatus" uib-btn-radio="'1'">{{'yes_label' | translate}}</label>
            <label style="color: #fff;" class="btn btn-primary" ng-model="matdarJagrutiFormControl.mjstatus" uib-btn-radio="'0'">{{'no_label' | translate}}</label>
          </div>
        </div>

      
  </div>
  <div class="col-md-6">
    
  </div> 
  <div class="clear-center">
    <button type="button" class="btn btn-info" ng-click="addMatdarJagrutiCategory(matdarjagrutiformname ,'Matdar Jagruti','matdarJagrutiFormControl','matdarJagrutiListArray')">{{ 'save_label' | translate}}</button>
    <button type="button" class="btn btn-info" ng-click="disableMatdarJagrutiForm('matdarjagrutiform')">{{'cancel_label' | translate}}</button>
  </div>
</form>
 </div>
  


  <div ng-if="matdarJagrutiListArray.length != 0">
    <table class="full-table full-width-table">
       <tr>
          <th width="25%">Category Name</th>
          <th width="40%">Category Url</th>
          <th width="19%">Enable/Disable</th>
          <th width="8%">Edit</th>
          <th width="8%">Delete</th>
       </tr>

       <tr ng-repeat="matdarJagruti in matdarJagrutiListArray"> <!-- servicecategoryid -->
          <td ng-bind="matdarJagruti.mjcategoryname"></td>
          <td ng-bind="matdarJagruti.mjurl"></td>
          <td>
          <div class="btn-group">
              <label style="color: #fff;" class="btn btn-primary" ng-model="matdarJagruti.mjstatus" uib-btn-radio="'1'" ng-click="updateMatdarJagrutiStatus('1','Matdar Jagruti',matdarJagruti,'matdarJagrutiListArray')">Enable</label>
              <label style="color: #fff;" ng-click="updateMatdarJagrutiStatus('0','Matdar Jagruti',matdarJagruti,'matdarJagrutiListArray')" class="btn btn-primary" ng-model="matdarJagruti.mjstatus" uib-btn-radio="'0'">Disable</label>
            </div>
          </td>
          <td>
            <button class="btn btn-default edit-button" ng-click="goToeditMatdarJagrutiCategory(matdarJagruti, 'matdarJagrutiFormControl','matdarjagrutiform','matdarjagrutiformid')"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></button>
          </td>
          <td class="delete-td delete-td-adjst"><span class="delete" ng-click="deleteMatdarJagrutiCategory('Matdar Jagruti',matdarJagruti,'matdarJagrutiListArray')">X</span></td>
       </tr>
       
    </table>
  </div>


    
  </div>
