<div ng-include="'./app/shared/menu/adminnagarisuvidhamenu.html'"></div>
<section class="page add-candidates">
        <h1 >{{'editmyprofile_label' | translate}} </h1>
        <section>
          <div class="tabs tabs-style-flip">
            <nav>
              <ul>
                <li ng-click="tabClickHandler('profile',$event)" locked="false" id="profile-li"><a locked="false" data-target="profile-tab" class="icon icon-profile"><span>{{'profile_label' | translate}}</span></a></li>
                
                <li ng-if="candidateFormControl.profile.subscription == 'NagariSuvidha'"
                ng-click="tabClickHandler('partyprofile',$event)" locked="{{isProfileUndone}}" id="party-profile-li"><a locked="{{isProfileUndone}}" data-target="party-profile-tab" class="icon icon-profile" ><span>{{'partyprofile_label' | translate}} </span></a></li>

                <li ng-if="candidateFormControl.profile.subscription == 'NagariSuvidha'"
                ng-click="tabClickHandler('work',$event)" locked="{{isProfileUndone}}" id="work-li"><a locked="{{isProfileUndone}}" data-target="work-tab" class="icon icon-profile" ><span>{{'work_label' | translate}}</span></a></li>
                
                <li ng-if="candidateFormControl.profile.subscription == 'NagariSuvidha'"
                ng-click="tabClickHandler('jahirnama',$event)" locked="{{isProfileUndone}}" id="jahirnama-li"><a locked="{{isProfileUndone}}" data-target="jahirnama-tab" class="icon icon-profile"><span>{{'jahirnama_label' | translate}}</span></a></li>

                 <li ng-if="candidateFormControl.profile.subscription == 'NagariSuvidha'"
                ng-click="tabClickHandler('services',$event)" locked="{{isProfileUndone}}" id="services-li"><a  data-target="services-tab" class="icon icon-profile" locked="{{isProfileUndone}}"><span>{{'services_label' | translate}}</span></a></li>

                <li ng-if="candidateFormControl.profile.subscription == 'NagariSuvidha'"
                ng-click="tabClickHandler('helpinghand',$event)" id="helpinghand-li"><a  data-target="helpinghand-tab" class="icon icon-profile"><span>{{'helpinghand_label' | translate}}</span></a></li>  

                <li ng-if="candidateFormControl.profile.subscription == 'NagariSuvidha'"
                ng-click="tabClickHandler('matdarjagruti',$event)" id="matdarjagruti-li"><a  data-target="matdarjagruti-tab" class="icon icon-profile"><span>{{'matdarjagruti_label' | translate}} </span></a></li> 

                <li ng-if="candidateFormControl.profile.subscription == 'NagariSuvidha'"
                ng-click="tabClickHandler('socialnet',$event)" id="socialnet-li"><a  data-target="socialnet-tab" class="icon icon-profile"><span>{{'soialnet_label' | translate}}</span></a></li> 

                
              </ul>
            </nav>
            <div class="content-wrap">
              <section id="profile-tab">
                <div ng-include="'./app/components/candidateManager/create-candidate/candidateprofiletab.html'"></div>
              </section>
              <section id="party-profile-tab">
                <div ng-include="'./app/components/candidateManager/create-candidate/candidatepartyprofiletab.html'"></div>
              </section>
              <section id="work-tab">
                <div ng-include="'./app/components/candidateManager/create-candidate/candidateworktab.html'"></div>
              </section>  
              <section id="jahirnama-tab">
                <div ng-include="'./app/components/candidateManager/create-candidate/candidatejahirnamatab.html'"></div>
              </section>
              <section id="services-tab">
                <div ng-include="'./app/components/candidateManager/create-candidate/candidateservicestab.html'"></div>
              </section>
              <section id="helpinghand-tab">
                <div ng-include="'./app/components/candidateManager/create-candidate/candidatehelpinghandstab.html'"></div>
              </section>

              <section id="matdarjagruti-tab">
                <div ng-include="'./app/components/candidateManager/create-candidate/candidatematdarjagrutitab.html'"></div>
              </section>

              <section id="socialnet-tab">
                <div ng-include="'./app/components/candidateManager/create-candidate/candidatesocialnettab.html'"></div>
              </section>

              

            </div><!-- /content -->
          </div><!-- /tabs -->
        </section>
      </section>