<div ng-include="'./app/shared/menu/adminnagarisuvidhamenu.html'"></div>
<section class="page candidates" >
	<h1> संदेशक (मॅसेंजर)</h1>
    <div>
    	
    	<form novalidate name="announcementform" enctype="multipart/form-data"  id="">
	        <div class="form-group clear">
            	<div class="col-md-2">
	        		<label translate="message_title_label">*</label>
	        	</div>
            	<div class="col-md-9">
		            <input type="text" ng-model="announcementFormControl.announcementtitle" name="announcementtitle" class="form-control ng-pristine ng-valid ng-touched" required>
		            <div ng-messages="announcementform.announcementtitle.$error" ng-show="announcementform.announcementtitle.$touched || isButtonClicked">
		              <p ng-message="required" translate="title_required_error" class="validation-err"></p>
		            </div>
	            </div>
            </div>
	        <div class="form-group clear">
            	<div class="col-md-2">
		        	<label translate="message_desc_label">*</label>
		        </div>
            	<div class="col-md-9 form-group-discription">
		        	<textarea name="announcementdescription" ng-model="announcementFormControl.announcementdescription" class="discription-area" required></textarea>
		        	<div ng-messages="announcementform.announcementdescription.$error" ng-show="announcementform.announcementdescription.$touched || isButtonClicked">
		            	<p ng-message="required" translate="desc_rquired" class="validation-err"></p>
		        	</div>
		        </div>
      		</div>

      		<div class="form-group clear">
            	<div class="col-md-2">
      				<label translate="choosetyoeofMessage_label"></label>
      			</div>
      			<div class="col-md-10">
		      		<input name="announcementfiletype" value="Image" type="radio" ng-model="announcementFormControl.announcementfiletype">
		            <span class="radio-label">छायाचित्र (फोटो)</span>
		            <input name="announcementfiletype" value="Video" type="radio" ng-model="announcementFormControl.announcementfiletype">
		            <span class="radio-label">ध्वनिचित्रफित (व्हिडीयो)</span>
		            <input name="announcementfiletype" value="Audio" type="radio" ng-model="announcementFormControl.announcementfiletype">
		            <span class="radio-label">ध्वनिफित (ऑडियो)</span>
	                <input name="announcementfiletype" value="Simple_Text" type="radio" ng-model="announcementFormControl.announcementfiletype">
	                <span class="radio-label"> मजकूर (टेक्स्ट)</span>
                </div>
        	</div>

            

            <div class="form-group clear" ng-if="announcementFormControl.announcementfiletype == 'Image'">
		        <div class="col-md-2">
		        	<label translate="uploadimage_label"></label>
		        </div>
		        <div class="col-md-10">
		          <input type="file" 
		                ngf-select 
		                ngf-pattern="'image/*'",
		                accept="image/*",
		                ng-model="announcementFormControl.announcementfiledata" ,
		                name="announcementfiledata"    
		                ngf-model-invalid="errorFiles" required>
		            <div ng-messages="announcementform.announcementfiledata.$error" ng-show="announcementform.announcementfiledata.$touched || isButtonClicked">
            			<p ng-message="required" translate="file_required_error" class="validation-err"></p>
            			<p ng-message="pattern" translate="unsupportedfile_required_error" class="validation-err"></p>
            		</div>
		        </div>
      		</div>

      		<div class="form-group clear" ng-if="announcementFormControl.announcementfiletype == 'Video'">
		        <div class="col-md-2">
		        	<label translate="uploadvideo_label"></label>
		        </div>
		        <div class="col-md-10">
		          <input type="file" 
		                ngf-select 
		                ngf-pattern="'video/*'",
		                accept="video/*",
		                ng-model="announcementFormControl.announcementfiledata" ,
		                name="announcementfiledata"    
		                ngf-model-invalid="errorFiles" required>
		            <div ng-messages="announcementform.announcementfiledata.$error" ng-show="announcementform.announcementfiledata.$touched || isButtonClicked">
            			<p ng-message="required" translate="file_required_error" class="validation-err"></p>
            			<p ng-message="pattern" translate="unsupportedfile_required_error" class="validation-err"></p>
            		</div>
		        </div>
      		</div>

      		<div class="form-group clear" ng-if="announcementFormControl.announcementfiletype == 'Audio'">
		        <div class="col-md-2">
		        	<label translate="uploadaudio_label">*</label>
		        </div>
		        <div class="col-md-10">
		          <input type="file" 
		                ngf-select 
		                ngf-pattern="'audio/*'",
		                accept="audio/*",
		                ng-model="announcementFormControl.announcementfiledata" ,
		                name="announcementfiledata"    
		                ngf-model-invalid="errorFiles" required>
		            <div ng-messages="announcementform.announcementfiledata.$error" ng-show="announcementform.announcementfiledata.$touched || isButtonClicked">
            			<p ng-message="required" translate="file_required_error" class="validation-err"></p>
            			<p ng-message="pattern" translate="unsupportedfile_required_error" class="validation-err"></p>
            		</div>
		        </div>
      		</div>
      		<div class="form-group clear">
      			<div class="col-md-2">
		        	<label>&nbsp;</label>
		        </div>
		        <div class="col-md-10">
      				<button type="button" class="btn btn-info" ng-click="sendAnnouncement(announcementform)"> मॅसेज पाठवा</button>
      			</div>
    		</div>
	    </form>
    </div>    
</section>