/* app css stylesheet */
body{
  font-size: 12px;
}
.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}
/***/

*{
    -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body{
  background: #E1F1FF url("../img/social.png") no-repeat top; 
  background-size: auto 130%;
  font-family: arial!important;
  overflow-y: scroll; 
}

.login-container {
  padding: 70px 30px 30px;
  max-width: 400px;
  width: 100% !important;
  background-color: #F7F7F7;
  margin: 150px auto;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  position: relative;
}
.login-container .btn-default, .login-container .btn-default.active:hover{
  background: #F7F7F7;
  border: 0;
  box-shadow: none;
  -webkit-box-shadow: none;
}

.login-container h1 {
  text-align: center;
  font-size: 18px;
  position: absolute;
  display: block;
  top: 0;
  width: 100%;
  left: 0;
  margin: 0;
  padding-top: 17px;
  background-color: #337AB7;
  color: #fff;
  height: 50px;
}

.login-container input[type=submit] {
  width: 100%;
  display: block;
  margin: 10px 0;
  position: relative;
  font-family: arial;
  background-color: #AD0303;
    border-color: #791616;
    font-weight: bold;
}
.btn-warning, .btn-warning:hover, .btn-warning:active, .btn-warning:target, .btn-warning:active:focus {
  color: #fff;
  background-color: #636363;
  border-color: #535353;
}
.login-container input[type=text], input[type=password] ,input[type=email] {
  font-size: 16px; 
  width: 100%;
  /*margin-bottom: 10px;*/
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #CCCCCC;
  /* border-radius: 2px; */
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
}
.login-container input[type=password], .login-container input[type=email]{
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 2px;
}

.login-container input[type=text]:hover, input[type=password]:hover, input[type=email]:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.has-error {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.loginmodal {
  text-align: center;
  font-size: 14px;
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;
/* border-radius: 3px; */
/* -webkit-user-select: none;
  user-select: none; */
}

.loginmodal-submit {
  /* border: 1px solid #3079ed; */
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1); 
  background-color: #5A5151;
  padding: 12px 5px;
  font-size: 13px;
  border-radius: 5px;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

.loginmodal-submit:hover {
  /* border: 1px solid #2f5bb7; */
  border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #403C3C;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.login-container a {
  text-decoration: none;
  color: #666;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  opacity: 0.6;
  transition: opacity ease 0.5s;
} 

.login-help{
  font-size: 12px;
}
.validation-err{
  color:red!important;
  font-size: 12px!important;
  text-align: left;
}

header{
  position: fixed;
  display: block;
  width: 100%;
  height: 52px;
  background: #32465b;
  top: 0;
  left: 0;
  z-index: 3;
}
nav.left-nav{
  width: 200px;
  position: fixed;
  height: 100%;
  /*background: #337ab7;*/
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#337ab7+0,337ab7+36,337ab7+52,1b2733+100 */
background: #337ab7; /* Old browsers */
background: -moz-linear-gradient(top,  #337ab7 0%, #337ab7 36%, #337ab7 52%, #1b2733 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #337ab7 0%,#337ab7 36%,#337ab7 52%,#1b2733 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #337ab7 0%,#337ab7 36%,#337ab7 52%,#1b2733 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#337ab7', endColorstr='#1b2733',GradientType=0 ); /* IE6-9 */

  top: 0;
  left: 0;
  z-index: 2;
  padding-top: 54px; 
}
nav.left-nav ul, nav.left-nav ul li{
  list-style: none;
  padding: 0;
  margin: 0;
}
nav.left-nav ul li a {
    display: block;
    padding: 12px 15px 12px 20px;
    border-bottom: 1px solid #6D9AC1;
    color: #C4DFF7;
    background: #16568D;
}
nav.left-nav ul li a:hover {
    text-decoration: none;
    background: #1A4366;
    color: #fff;
}
nav.left-nav ul li a span{
  font-size: 14px;
  left: -5px;
  top: 2px;
}
.page{
  position: absolute;
  min-height: 100%;
  width:100%;
  background: #f1f2f3;
  top: 0;
  left: 0;
  z-index: 1;
  padding: 50px 10px 0 220px;
}
.reg-page{
  background: rgba(230, 230, 230, 0.8); 
  padding: 60px 30px 50px 30px;
  width: 98%;
  margin: 0px auto !important
}
.reg-page .reg-form h2{
  margin: 20px 0;
}
.reg-page .clear-center button{
  margin-top: 40px;
  padding: 18px 45px;
  font-size: 18px;
  background-color: #C27605;
  border: 1px solid #C27605;
}
.reg-page .reg-form > div{
  border: 1px solid #E2DFDF;
  background-color: rgba(255, 255, 255, 0.66);
  padding: 25px 15px;
  border-radius: 10px;
}
.reg-page .reg-form h2{
  margin: 25px 0 10px;
}
h1{
  font-size: 21px;
  border-bottom: 1px solid #255386;
  padding: 15px 0 15px;
  margin-bottom: 22px;
  font-family: verdana;
  font-weight: bold;
  color: #03254B;
}
.candidate-name-sort, .candidate-name-list a{
  cursor: pointer;
}

/***/
/* Default tab style */

@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: 'stroke7pixeden';
  src:url('../fonts/stroke7pixeden/stroke7pixeden.eot?u58ytb');
  src:url('../fonts/stroke7pixeden/stroke7pixeden.eot?#iefixu58ytb') format('embedded-opentype'),
    url('../fonts/stroke7pixeden/stroke7pixeden.woff?u58ytb') format('woff'),
    url('../fonts/stroke7pixeden/stroke7pixeden.ttf?u58ytb') format('truetype'),
    url('../fonts/stroke7pixeden/stroke7pixeden.svg?u58ytb#stroke7pixeden') format('svg');
}

.tabs {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  width: 100%;
  font-weight: 300;
  font-size: 1.25em;
}

/* Nav */
.tabs nav {
  margin-bottom: -1px;
  text-align: center;
}

.tabs nav ul {
  position: relative;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  margin: 0;
  padding: 0;
  max-width: 1200px;
  list-style: none;
  -ms-box-orient: horizontal;
  -ms-box-pack: center;
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;

}

.tabs nav ul li {
  cursor: pointer;
  position: relative;
  z-index: 1;
  display: inline-block;
  margin: 0;
  text-align: center;
  padding: 0 18px;
  /*background: #D4CFCF;*/
  border: 1px solid rgba(0,0,0,.12);
  border-radius: 10px 10px 0 0;
  margin-right: 2px;

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a9e4f7+0,0fb4e7+100;Ble+3D+%235 */
  background: #a9e4f7; /* Old browsers */
  background: -moz-linear-gradient(top,  #a9e4f7 0%, #0fb4e7 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #a9e4f7 0%,#0fb4e7 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #a9e4f7 0%,#0fb4e7 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a9e4f7', endColorstr='#0fb4e7',GradientType=0 ); /* IE6-9 */

}

.tabs nav ul li.tab-current {
  /*background: #fff;*/
  border: 1px solid #26B1E7;
  border-bottom: 0;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a9e4f7+0,ffffff+100 */
background: #a9e4f7; /* Old browsers */
background: -moz-linear-gradient(top,  #a9e4f7 0%, #ffffff 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #a9e4f7 0%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #a9e4f7 0%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a9e4f7', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

}

.tabs nav a {
  position: relative;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 30px;
}

.tabs nav a span {
  vertical-align: middle;
  font-size: 0.75em;
}

.tabs nav li.tab-current a {
  color: #74777b;
}

.tabs nav a:focus {
  outline: none;
}

/* Icons */
.icon::before {
  z-index: 10;
  display: none;
 /* display: inline-block;*/
  /*margin: 0 0.4em 0 0;*/
  vertical-align: middle;
  text-transform: none;
  font-weight: normal;
  font-variant: normal;
  font-size: 1.3em;
  font-family: 'stroke7pixeden';
  line-height: 1;
  speak: none;
  -webkit-backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-profile::before {
  content: "\e605";
}
.icon-work::before {
  content: "\e65d";
}

/* Content */
.content-wrap {
  position: relative;
}

.content-wrap section {
  display: none;
  margin: 0 auto;
  padding: 1em;
  max-width: 1200px;
  text-align: center;
}

.content-wrap section.content-current {
  display: block;
  clear: both;
  overflow: auto;
}

.content-wrap section p {
  margin: 0;
  padding: 0.75em 0;
  color: rgba(40,44,42,0.05);
  font-weight: 900;
  font-size: 4em;
  line-height: 1;
}

/* Fallback */
.no-js .content-wrap section {
  display: block;
  padding-bottom: 2em;
  border-bottom: 1px solid rgba(255,255,255,0.6);
}

.no-flexbox nav ul {
  display: block;
}

.no-flexbox nav ul li {
  min-width: 15%;
  display: inline-block;
}

@media screen and (max-width: 58em) {
  .tabs nav a.icon span {
    display: none;
  }
  .tabs nav a:before {
    margin-right: 0;
  }
}

/***/

/*****************************/
/* Flip */
/*****************************/

.tabs-style-flip {
  max-width: 1200px;
}

.tabs-style-flip nav a {
  padding: 0.5em 0;
  color: #05435C;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
.tabs-style-flip nav a:hover,
.tabs-style-flip nav a:focus{
  color: #05435C;
}

.tabs-style-flip nav li.tab-current a {
  color: #05435C;
}

.tabs-style-flip nav a span {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  font-size: 12px;
  cursor: pointer;
  font-family: verdana;
}

.tabs-style-flip nav a::after {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: #f0f0f0;
  content: '';
  -webkit-transition: -webkit-transform 0.3s, background-color 0.3s;
  transition: transform 0.3s, background-color 0.3s;
  -webkit-transform: perspective(900px) rotate3d(1,0,0,90deg);
  transform: perspective(900px) rotate3d(1,0,0,90deg);
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-perspective-origin: 50% 100%;
  perspective-origin: 50% 100%;
}

.tabs-style-flip nav li.tab-current a::after {
  background-color: transparent;
  -webkit-transform: perspective(900px) rotate3d(1,0,0,0deg);
  transform: perspective(900px) rotate3d(1,0,0,0deg);
}

.tabs-style-flip .content-wrap {
  background: #fff;
  border: 1px solid #26B1E7;
}
/***/
.row.reg-form > div{
  padding: 15px 20px;
}
.reg-form .form-group{
  position: relative;
  padding: 5px 0; 
  padding-left: 170px;
  padding-right: 30px;
  min-height: 46px;
}
.reg-form .form-group label{
  font-size: 13px;
  text-align: left;
  display: block;
  position: absolute;
  left: 0;
  top: 10px;
  color: #757474;
  width: 150px;
}
.reg-form .form-group.assembly .btn-group label{
  width: auto;
}
.reg-form .form-group.assembly .btn-group label{
  position: static;
}
.reg-form .form-group.assembly .btn-group{
  width: 100%;
  margin-bottom: 10px;
}
.clear-center button{
  margin-bottom: 30px;
}
.row.reg-form{
  margin: 0px !important;
}
.reg-form .form-group.assembly pre{
  text-align: left;
  font-weight: bold;
  font-family: arial; 
}
input[type=file].apaksha-file{
  margin: 15px 0 0 0;
  display: none;
}
.form-group.col-md-6.assembly{
  margin-bottom: 0;
}
.reg-form .form-group textarea{
  height: 100px;
  width: 100%;
  border: 1px solid #ccc;
  font-size: 14px;
  padding: 5px 10px; 
  border-radius: 3px;
}
.reg-form h2{
  font: bold 22px arial;
  border-bottom: 1px solid #0484E9;
  margin: 20px;
  text-align: left;
  padding-bottom: 10px;
  color: #0075AC;
}
.reg-form .form-group select{
  width: 100%;
  border: 1px solid #ccc;
  font-size: 14px;
  padding: 6px 10px; 
  border-radius: 3px;
}
.uploaded-pic{
  display:block;
  height: 120px;
  width: 120px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}
.upload-input{
  font-size: 14px;  
}
.col-md-6.other-details{
  padding-left: 0;
}
.logo{
  font-size: 30px;
  font-weight: bold;
  display: inline-block;
  padding: 6px 10px;
  color: #fff;
  letter-spacing: -2px;
}
.logo-first{
  color: #9ECCF3;
}
.logo-sec{
  color: #F3B448;
}
.header-user-name{
  float:right;
  padding: 11px 20px 0 0;
  display: inline-block;
  color: #C4DFF7;
}
.right-menu{
  float:right;
  color: #F5B2B2;
  padding: 17px 20px 0 0;
  display: inline-block;
}
.right-menu li{
  display: inline-block;
  padding: 0 9px;
  list-style: none;
  border-left: 1px solid #AD4D50;
  cursor: pointer;
}
.right-menu li:first-child{
  border-left: 0;
}
.clear-center{
  clear: both;
  text-align: center;
}
.clear-left{
  clear: both;
  text-align: left; 
  padding: 10px 15px 20px;
}
.clear{
  clear: both;
  overflow: hidden;
}
.btn-info, .btn-info:hover {
    color: #fff;
    background-color: #AD0303;
    border-color: #791616;
    padding: 8px 18px;
}
.btn-info:hover, .btn-info:active, .btn-info:target, .btn-info:active:focus, 
.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:target, .btn-primary:active:focus {
    background-color: #AD0303;
    border-color: #791616;
}
.nammer-img{
      max-width: 1000px;
    width: 100%;
}
.content-wrap section p.validation-err{
  position: absolute;
  bottom: -17px;
}
._720kb-datepicker-calendar._720kb-datepicker-open, 
._720kb-datepicker-calendar-day, 
._720kb-datepicker-calendar-days-header div, 
._720kb-datepicker-calendar-month{
  font-family: arial;
}
._720kb-datepicker-calendar._720kb-datepicker-open{
  margin-top: 35px;
}
button.add-candidate{
  font-size: 14px;
  background: #AD0303;
  border: #791616;
  padding: 10px 15px;
  float: right;
  color: #FFFFFF;
  border-radius: 3px;
  font-family: arial;
  font-weight: normal;
}
.table{
    width: 100%;
    border: 1px solid #ccc;
    background: #F3F3F3;
    margin: 20px 0;
}
.table th{
    background: #14619E;
    color: #fff;
}
.table tr:nth-child(even) {background: #FFF}
.table tr:nth-child(odd) {background: #F3F3F3}
.delete{
    font-size: 14px;
    background: #585656;
    border: #545454;
    padding: 0;
    color: #D8D8D8;
    border-radius: 100px;
    cursor: pointer;
    margin-top: 0px;
    position: absolute;
    height: 32px;
    width: 32px;
    text-align: center;
    padding-top: 6px;
}
.delete:hover{
  color: red;
}
.table>tbody>tr>td{
  padding: 11px 8px;
}
select{
  padding: 8px;
  border-radius: 3px;
  border: 1px solid #ccc;
}
.search-btn input.loginmodal-submit{
  padding: 8px;
}
.search-by span{
  display: inline-block;
  padding: 0 5px;
}
.input-search{
  border: 1px solid #ccc;
  padding: 8px;
  border-radius: 3px;
  width: 300px;
}
.loader-overlay{
  display: none;
  background: rgba(238, 238, 238, 0.81);
  height: 100%;
  width: 100%;
  z-index: 21;
  position: fixed;
  top: 0;
  overflow: hidden;
}
.overlay-spinner{
  position:absolute;left:50%; top:45%
}
.panel-title a{
  text-align: left;
  display: block;
  font-weight: bold;
}
.form-group-discription{
  text-align: left;
}
.form-group-discription label{
  font-size: 15px;
  display: block;
  padding-bottom: 5px;
}
.form-group-discription .discription-area, .form-group-discription .discription-area{
  width: 100%;
  height: 150px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 20px;
}
.uploaded-social-pic{
    display: block;
    height: 120px;
    width: 230px;
    border: 1px solid #ccc;
    margin: 0 0 20px;
}
.uploaded-social-pic .uploaded-pic{
    width: 230px;
}
.upload-images-list{
  padding: 0;
  margin: 0;
}
.upload-images-list li{
  display: inline-block;
}
.upload-images-list li input[type=file]{
  width: 260px; 
  overflow: hidden;
  font-size: 16px;
}
a,a:focus, a:hover {outline : none;}

.form-group-discription button{
  margin: 20px 0;
}
.inner-container{
  max-width: 1000px;
  margin: 0 auto;
}
/*.about-us{
  position: absolute;
  display: block;
  min-height: 100%;
  padding: 55px 20px 20px 20px;
  top: 0;
  left: 0;
  background: #ECDCDD;
  width: 100%;
}
h3{
    font-size: 24px;
    font-weight: bold;
    color: #802319;
    letter-spacing: -1px;
    padding-bottom: 8px;
    border-bottom: 1px solid #802319;
    margin-bottom: 15px;
    margin-top: 20px;
}
.about-us p, .about-us li{
  color: #7F7273;
}
.about-us li{
  padding-bottom: 5px;
}*/
.personal-pic, .party-pic, .service-pic{
  float: left;
  margin-right: 20px;
}
.personal-pic{
  background: url("../img/profile-photo.jpg") no-repeat top; 
}
.party-pic{
  background: url("../img/party-photo.jpg") no-repeat top; 
}
.service-pic{
  background: url("../img/noimage.jpg") no-repeat top;  
}
.select-tabs{
  text-align: left;
}
.select-tabs span{
  display: inline-block;
  margin-right: 15px;
  font-size: 14px;
  font-weight: bold;
}
.profile-text{
  text-align: left;
  display: block;
}
.pro-text{
  text-align: left;
  font-size: 14px;
  font-weight: bold;
}
.search-inputs .input-search, .search-inputs select{
  width: 175px;
}
.jahirnama-block{
  position: relative;
  padding-left: 220px;
  margin-bottom: 25px;
  min-height: 160px;
  border-bottom: 1px solid #ccc;
}
.form-group-discription .jahirnama-block button{
    margin-top: 0; 
}
.jahirnama-block .uploaded-pic{
    position: absolute;
    width: 200px;
    height: 150px;
    display: block;
    left: 0;
    top: 0;
}
.jahirnama-block textarea{
  font-size: 14px;
  padding: 5px;
}
.jahirnama-text{
  font-size: 14px;
  padding-bottom: 20px;
  word-wrap: break-word;  
  position: relative;
  padding-top: 30px;
}
.jahirnama-text:before{
  content: 'Description:';
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  font-weight: bold;
}
.radio-txt{
  font-size: 12px;
}
.reg-form .form-group.assembly.yes-no-redio .btn-group{
    width: 120px;  
}
.reg-form .form-group.assembly.yes-no-redio .btn-group label{
    width: 60px;
    text-align: center;
}
.datepicker, .datepicker, [datepicker], ._720kb-datepicker-calendar-header, ._720kb-datepicker-calendar-body, ._720kb-datepicker-calendar-days-header, ._720kb-datepicker-calendar-years-pagination-pages{
  font-family: arial;
}
.datepicker .input-group .form-control{
  background: #fff;
}
.fc-day-grid-event .fc-time{
  display: none!important;
}
.bde-aniversary{
  list-style: none;
  padding: 0;
  margin: 0;
  height: 250px;
  overflow-y: scroll;
}
.bde-aniversary li{
  border-bottom: 1px solid #ccc;
  padding: 5px 0 5px 10px;
}
.bde-aniversary div{
  padding: 5px 0;
}
.bde-name{
  font-weight: bold;
}
.bde-mobile{
  float:left;
  font-size: 12px;
}
.bde-email{
  float:right;
  font-size: 12px;
  color: #969292;
  font-style: italic;
  display: inline-block;
  padding-right: 10px;
}
.bde-address{
  clear: both;
  font-size: 12px;
  color: #969292;
}
.fc th, .fc td{
 /* background: #fff;*/
  background: rgba(255, 255, 255, .4);
}
.fc th{
  color: #fff;
}
.fc-day-header.fc-widget-header{
  padding: 10px 0;
}
.fc th.fc-sun{
  /*background: #FF6C5C;*/
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#9dd53a+0,a1d54f+50,80c217+51,7cbc0a+100;Green+Gloss+%231 */
background: #9dd53a; /* Old browsers */
background: -moz-linear-gradient(top,  #9dd53a 0%, #a1d54f 50%, #80c217 51%, #7cbc0a 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #9dd53a 0%,#a1d54f 50%,#80c217 51%,#7cbc0a 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #9dd53a 0%,#a1d54f 50%,#80c217 51%,#7cbc0a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9dd53a', endColorstr='#7cbc0a',GradientType=0 ); /* IE6-9 */

}
.fc th.fc-mon{
  /*background: #2ECC71;*/
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f85032+0,f16f5c+50,f6290c+51,f02f17+71,e73827+100;Red+Gloss+%231 */
background: #f85032; /* Old browsers */
background: -moz-linear-gradient(top,  #f85032 0%, #f16f5c 50%, #f6290c 51%, #f02f17 71%, #e73827 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #f85032 0%,#f16f5c 50%,#f6290c 51%,#f02f17 71%,#e73827 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #f85032 0%,#f16f5c 50%,#f6290c 51%,#f02f17 71%,#e73827 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f85032', endColorstr='#e73827',GradientType=0 ); /* IE6-9 */

}
.fc th.fc-tue{
  /*background: #EA4C88;*/
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,2989d8+50,207cca+51,7db9e8+100;Blue+Gloss+Default */
background: #1e5799; /* Old browsers */
background: -moz-linear-gradient(top,  #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */

}
.fc th.fc-wed{
  /*background: #9B59B6;*/
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f9c94f+0,fccd4d+50,f8b500+51,fbdf93+100 */
background: #f9c94f; /* Old browsers */
background: -moz-linear-gradient(top,  #f9c94f 0%, #fccd4d 50%, #f8b500 51%, #fbdf93 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #f9c94f 0%,#fccd4d 50%,#f8b500 51%,#fbdf93 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #f9c94f 0%,#fccd4d 50%,#f8b500 51%,#fbdf93 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9c94f', endColorstr='#fbdf93',GradientType=0 ); /* IE6-9 */

}
.fc th.fc-thu{
  /*background: #F39C12;*/
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#cb60b3+0,c146a1+50,a80077+51,db36a4+100;Pink+Gloss */
background: #cb60b3; /* Old browsers */
background: -moz-linear-gradient(top,  #cb60b3 0%, #c146a1 50%, #a80077 51%, #db36a4 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #cb60b3 0%,#c146a1 50%,#a80077 51%,#db36a4 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #cb60b3 0%,#c146a1 50%,#a80077 51%,#db36a4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cb60b3', endColorstr='#db36a4',GradientType=0 ); /* IE6-9 */

}
.fc th.fc-fri{
  /*background: #07ABA0;*/
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fc772f+1,f17432+50,ea5507+51,fb955e+100 */
background: #fc772f; /* Old browsers */
background: -moz-linear-gradient(top,  #fc772f 1%, #f17432 50%, #ea5507 51%, #fb955e 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #fc772f 1%,#f17432 50%,#ea5507 51%,#fb955e 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #fc772f 1%,#f17432 50%,#ea5507 51%,#fb955e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fc772f', endColorstr='#fb955e',GradientType=0 ); /* IE6-9 */

}
.fc th.fc-sat{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ef7143+0,8c3310+50,752201+51,bf6e4e+100 */
background: #ef7143; /* Old browsers */
background: -moz-linear-gradient(top,  #ef7143 0%, #8c3310 50%, #752201 51%, #bf6e4e 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #ef7143 0%,#8c3310 50%,#752201 51%,#bf6e4e 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #ef7143 0%,#8c3310 50%,#752201 51%,#bf6e4e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ef7143', endColorstr='#bf6e4e',GradientType=0 ); /* IE6-9 */

}
.fc-ltr .fc-basic-view .fc-day-number {
  text-align: right;
  padding-right: 10px;
  font-size: 18px;
  font-weight: bold;
}
.fc-content{
  cursor: pointer;
}
.fc-unthemed .fc-today {
    background: rgba(190, 131, 223, 0.77);
    font-size: 36px!important;
    color: #fff;
}
.admin-dashboard-popup > div{
  padding: 8px 0 5px;
  line-height: 30px;
}
.bde-module{
  padding-bottom: 150px;
  background: url("../img/hbd-1.jpg") no-repeat top; 
  background-size: 100% 100%;
}
.fc-day-grid-event .fc-content{
  padding: 3px;
}
.bde-module h1{
  text-align: left;
}
.bde-module h1 button{
  margin: 0 5px;
}
.bde-module h1 span.bde-head{
  display: inline-block;
  padding: 10px 15px;
  color: #fff;
  background-color: #B108C9;
  font-weight: bold;
  border-radius: 0 15px;
  border: 2px solid #E9D6F3;
}
.bde-module h2 span.bde-head{
  background-color: #fff;
  color: #B108C9;
  padding: 5px 10px;
  font-size: 20px;
  
}
.otp-box{
  width: 400px;
  margin: 150px auto;
  background: rgba(255, 255, 255, 0.91);
  padding: 10px 15px;
  border-radius: 10px;
}
.otp-heading{
  font-size: 20px;
  font-weight: bold;
  padding: 10px 0 5px;
}
.otp-text{
  padding: 5px 0 20px;
}
.otp-box input{
  margin: 0 0 20px;
}
.otp-buttons{
  padding-bottom: 20px;
}
._720kb-datepicker-calendar-header-right a, ._720kb-datepicker-calendar-header-right a:hover{
  background: transparent url(../img/rightArrow.png) no-repeat center;
  text-indent: -1000px;
  font-size: 0px;
  height: 30px;
  width: 30px;
  display: block;
  background-size: 100%;
  margin: 8px 0 0 15px;
 }
 ._720kb-datepicker-calendar-header-left a, ._720kb-datepicker-calendar-header-left a:hover{
  background: transparent url(../img/leftArrow.png) no-repeat center;
  text-indent: -1000px;
  font-size: 0px;
  height: 30px;
  width: 30px;
  display: block;
  background-size: 100%;
  margin: 8px 0px 0 5px;
 }

 ._720kb-datepicker-calendar-month span{
  font-size: 17px!important;
 }
 ._720kb-datepicker-calendar-month a span i{
  font-size: 25px!important;
 }

._720kb-datepicker-calendar-years-pagination-pages a:first-child{
background: transparent url(../img/leftArrow.png) no-repeat center;
  text-indent: -1000px;
  font-size: 0px;
  height: 30px;
  width: 30px;
  background-size: auto 100%;
}
._720kb-datepicker-calendar-years-pagination-pages a:last-child{
background: transparent url(../img/rightArrow.png) no-repeat center;
  text-indent: -1000px;
  font-size: 0px;
  height: 30px;
  width: 30px;
  background-size: auto 100%;
}
._720kb-datepicker-calendar-years-pagination-pages a, ._720kb-datepicker-calendar-years-pagination-pages a:hover{
  padding: 16px;
}
._720kb-datepicker-calendar-header:nth-child(even){
  background: #fff;
}
._720kb-datepicker-calendar-month a span i {
  font-size: 0px!important;
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid #fff;
  margin-left: 10px;
}
._720kb-datepicker-calendar-years-pagination a, ._720kb-datepicker-calendar-years-pagination a:hover, ._720kb-datepicker-calendar-month{
  font-weight: bold;
  font-size: 14px;
}
._720kb-datepicker-calendar-month span{
  color: #fff!important;
}
.user-icon{
 display: inline-block;
height: 35px;
width: 35px;
border-radius: 100%;
border: 1px solid blue;
vertical-align: middle;
overflow: hidden;
margin-top: -3px;
}
.user-icon img{
  width: 100%;
  height: 100%;
}
.full-table{
  border: 1px solid #ccc;
  font-size: 13px;
  margin: 0 auto;
  width: 96%;
}

.full-table th{
  padding: 12px 10px;
  text-align: left;
  font-weight:bold; 
  border: 1px solid #eee;
  background: #ccc;
  color: #000;
}
.full-table td{
  padding:12px 10px;
  text-align: left;
  border: 1px solid #ccc;
}
.delete-td{
  position: relative;
}
.delete-td .delete{
  top: -5px;
  left: 15px;
}
.delete-td.delete-td-adjst .delete{
  top: -10px;
  left: 5px;
}
.left-align{
  text-align: left;
}
.radio-label{
  display: inline-block;
  padding-right: 15px;
  font-size: 14px;
}
.panel.ng-scope.ng-isolate-scope.panel-default.panel-open .panel-title a.accordion-toggle,
.panel.ng-scope.ng-isolate-scope.panel-default .panel-title a.accordion-toggle{
  position: relative;
}
.panel.ng-scope.ng-isolate-scope.panel-default.panel-open .panel-title a.accordion-toggle:before,
.panel.ng-scope.ng-isolate-scope.panel-default .panel-title a.accordion-toggle:before{
  position: absolute;
  display: block;
  content: "\e114";
  height: 10px;
  width: 10px;
  right: 0;
  top: 0;
  font-family: 'Glyphicons Halflings';
}
.panel.ng-scope.ng-isolate-scope.panel-default.panel-open  .panel-title a.accordion-toggle:before{
  content: "\e113";
}
.panel.ng-scope.ng-isolate-scope.panel-default .panel-title a.accordion-toggle .pull-right,
.panel.ng-scope.ng-isolate-scope.panel-default.panel-open  .panel-title a.accordion-toggle .pull-right{
  display: none;
}
.btn-group .btn{
  padding: 6px 8px 4px!important;
    font-size: 12px;
}
.panel-title{
  font-size: 14px;
}
.btn.btn-primary.new-citizen-reg{
  background: none;
  color: #286090;
  border: 0px;
  font-size: 12px;
  text-decoration: underline;
}
.delete{
  position: relative;
  background: none;
  font-size: 0;
}
.delete:before{
  position: absolute;
  display: block;
  content: "\e114";
  height: 10px;
  width: 10px;
  left: 7px;
  top: -4px;
  font-family: 'Glyphicons Halflings';
  content: "\e020";
  font-size: 18px;
  color: #000;
}
.delete:hover:before{
  color: red;
}
.btn.btn-default.edit-button{
  border: 0px;
  background: none;
  font-size: 18px; 
  color: #16568D;
  padding: 3px 1px 10px;
}
.search-by-span{
  display: inline-block;
  font-weight: bold;
}
.panel-default>.panel-heading {
  color: #246E97;
  background-color: #D2EEF8;
  border-color: #6CD5F0;
}
.full-width-table{
  width: 100%;
}
.event-datepicker ._720kb-datepicker-calendar-header-right a, 
.event-datepicker ._720kb-datepicker-calendar-header-right a:hover{
  margin: 8px 0 0 0px;
}
ul.dashboard-design li{
  list-style: none;
  display:block;
  font-size: 25px;
  width: 450px;
  float: left;
  color: #fff;
  margin: 25px 30px;
  border: 1px solid #aaa;
  text-align: center;
  padding: 30px 30px 50px;
  border-radius: 10px 0;
  -webkit-box-shadow: 0px 0px 4px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 4px -1px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 4px -1px rgba(0,0,0,0.75);
  min-height: 240px;
}
ul.dashboard-design li span{
  font-size: 60px;
  display:block;
  font-weight: bold;
}
ul.dashboard-design li.green{
  background-color: #5cb85c!important;
  border: 1px solid #1E7A1E;
}
ul.dashboard-design li.red{
  background-color: #d9534f!important;
  border: 1px solid #B3302C;
}
ul.dashboard-design li.yellow{
  background-color: #f0ad4e!important;
  border: 1px solid #92611B;
}
ul.dashboard-design li.purple{
  background-color: #C95BDE!important;
  border: 1px solid #842596;
}
.new-cp{
  padding-bottom: 15px;
}
.modal-title {
  font-size: 18px;
  font-weight: bold;
  color: #054488;
  font-family: verdana;
}
.forgot-pass{
  padding: 5px 0 10px; 
}
.modal-header {
  border-bottom: 1px solid #1276A5;
  background: #E7F7FC;
  border-radius: 7px 7px 0 0;
}
.modal-footer{
  border-top: 1px solid #E78F8F;  
  background: #FDDDDD;
    border-radius: 0 0 7px 7px;
}
.visi-tabs{
  padding: 0;
  margin: 0;
}
.visi-tabs li{
  list-style: none;
  padding: 0 0 10px 0;
  margin: 0;
  display: inline-block;
  width: 180px;
}
.three-btns .btn-primary{
  background-color: #747474;
  border-color: #5D5D5D;
}
.three-btns .btn-primary.active{
  background-color: #286090;
  border-color: #204d74;
}
.no-record{
  text-align: center;
}

.fc-today-button{
text-transform: capitalize!important;
}

.modal-open {
    overflow-y : scroll;
}

.complaint-stat-table th{
    text-align: center;
}

.complaint-stat-total-row td{
    font-weight: bold;
}
.new-filter-parent{
    position: relative;
    padding-left: 65px
}
.new-filter{
  position: absolute;
  display: block;
  left: 0;
  top: 7px;
}
.pending-row{
  background: #FFDDC0!important;
}
.resolved-row{
  background: #DDFFDE!important;
}
.birthday-row{
  border-left: 10px solid #BD0EB8
}
.nagarisuvidha-row{
  border-left: 10px solid #F3B448;
}
.ng-gallery-content > span.info-text{
  display: none;
}
.ng-gallery-content > a.nav-left {
  left: 225px;
}
.ng-gallery-content {
  padding-left: 200px;
}
.ng-gallery-content > a.close-popup {
  top: 50px;
}

.tablelistpiccol{
  height: 120px;
  width: 120px;
}
.search-by-updated{
  display: block;
}
.search-by-updated .col-lg-12{
  padding: 0px!important;
}
.search-by-updated .col-lg-6{
  padding: 0px!important; 
}
.search-by-updated .col-lg-6 label{
  width: 180px;
  text-align: right;
  display: inline-block;
  padding-right: 10px;
  font-weight: normal;
}
.search-by-updated #todatepicker, .search-by-updated #fromdatepicker{
  min-width: 180px;
  padding: 7px 5px;
  border: 1px solid #ccc;
  border-radius: 2px;
  margin-left: -5px;
}

.cropArea {
      background: #E7F7FC;
      overflow: hidden;
      width:581px;
      height:350px;
}

img-crop canvas{
  margin-top: -117px!important;
}

