<div>
        <div class="modal-header">
            <h3 class="modal-title">
                  Message
            </h3>
        </div>
        <div class="modal-body">
            {{message}}
            
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()">ओके</button>
            <!-- <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button> -->
        </div>
</div>