<div>
        <div class="modal-header">
            <h3 class="modal-title" ng-if="message.type == 'birthdays'">
                  Birthdays of {{message.month}}
            </h3>
            <h3 class="modal-title" ng-if="message.type == 'anniversaries'">
                  Anniversaries of {{message.month}}
            </h3>
        </div>
        <div class="modal-body">
            <ul class="bde-aniversary">
                <li ng-repeat="item in message.list"> 
                    <div class="bde-name">{{item.firstname +' '+ item.middlename +' '+ item.lastname}}</div>
                    <div><span class="bde-mobile">{{item.phone}}</span><span class="bde-email"> {{item.email}}</span></div>
                    <div class="bde-address">
                         {{item.address}}
                    </div>
                </li>
                <!-- <li> 
                    <div class="bde-name">Mr. Krisnat B Raut </div>
                    <div><span class="bde-mobile">9876543210</span><span class="bde-email">kbraut007@gmail.com</span></div>
                    <div class="bde-address">Shivajinagar, Pune</div>
                </li> -->
            </ul>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()">ओके</button>
            <!-- <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button> -->
        </div>
</div>