<div>
        <div class="modal-header">
            <h3 class="modal-title">
                  Warning!
            </h3>
        </div>
        <div class="modal-body">
            {{message}}
            
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()">{{'yes_label' | translate }}</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">{{'no_label' | translate }}</button>
        </div>
</div>