<div>
        <div class="modal-header">
            <h3 class="modal-title">
                 क्रॉप करा
            </h3>
        </div>
        <div class="modal-body" style="background: #E7F7FC;">
            
            <div>
             <!-- <canvas width="500" height="300" id="canvas" image-cropper image="image" cropped-image="croppedImage" crop-width="400" crop-height="200" keep-aspect="true" touch-radius="30" crop-area-bounds="bounds"></canvas> -->

             <div class="cropArea">
                <img-crop image="image" area-type="square" result-image="croppedImage"></img-crop>
             </div>
            </div>
            
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="doneCropping(croppedImage)">क्रॉप करा</button>
            <button class="btn btn-warning" type="button" ng-click="doNotCropping()">क्रॉप नकोय</button>
            <button class="btn btn-warning" type="button" ng-click="unDoneCropping()">रद्द (कँन्सल) करा</button>
        </div>
</div>