<div>
        <div class="modal-header">
            <h3 class="modal-title">
                लिंक्स शेयर करा
            </h3>
        </div>
        <div class="modal-body admin-dashboard-popup">
            <div>
                वाढदिवस व्यवस्थापक (मॅनेजर) / कार्यकर्ता लॉगिन लिंक
                <input type="text" class="form-control" readonly="readonly" ng-model="message.managerLogin" select-on-click/>
            </div>
            <div ng-if="message.citizenRegi">
                नागरिक लॉगिन लिंक
                <input type="text" class="form-control" readonly="readonly" ng-model="message.citizenRegi" select-on-click/>
            </div>

        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()">ओके</button>
        </div>
</div>