<div>
    <div class="modal-header">
        <h3 class="modal-title">
            {{ 'forgot_password' | translate }} 
        </h3>
    </div>
    <div class="modal-body">
        <div class="forgot-pass"> {{ 'forgotpasspopmsg1' | translate }} </div>
        <div class="forgot-pass">
            <input class="input-search" type="text" onkeypress="return numbersonly();" name="phone" ng-model="forgotControl.phone" required/>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-if="forgotControl.phone" ng-click="SendPassword()">पाठवा</button>
        <button class="btn btn-warning" type="button" ng-click="cancelForgotModal()">रद्द (कँन्सल) करा</button>
    </div>
</div>