<div>
        <div class="modal-header">
            <h3 class="modal-title">
                  OTP Verification
            </h3>
        </div>
        <div class="modal-body">
            <div>
                    Please enter six digit verification code / OTP (One Time Password) which we have sent at your registered mobile number - '{{$parent.OTPForm.phoneNumber}}'
            </div>
            
            <div>
                <input class="input-search" name="OTP" ng-model="OTPControl.OTP" placeholder="Enter OTP" required/>
            </div>
        </div>
        

        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-if="OTPControl.OTP" ng-click="SubmitOTP()">पाठवा</button>
            <button class="btn btn-warning" type="button" ng-click="cancelOTPModal()">रद्द (कँन्सल) करा</button>
            <button class="btn btn-warning" type="button" ng-click="ResendOTP()">OTP परत पाठवा</button>
        </div>
</div>