<div>
        <div class="modal-header">
            <h3 class="modal-title">
                  {{ 'updatepass_label' | translate }}
            </h3>
        </div>
        <form name="updatepassform">
            <div class="modal-body">
                    <div class="new-cp">
                        <label>नविन पासवर्ड*</label>
                        <input class="input-search"  type="password" id="newpassword" name="newpassword" ng-model="updatePassControl.newpassword" required/>
                         <div ng-messages="updatepassform.newpassword.$error" ng-show="updatepassform.newpassword.$touched || isButtonClicked">
                           <p ng-message="required" translate="password_required_error" class="validation-err"></p>
                      </div>
                    </div>
                    <div class="new-cp">
                        <label>नविन पासवर्ड पून्हा प्रविष्ट करा*</label>
                        <input class="input-search" type="password" id="confNewpassword"  name="confNewpassword" ng-model="updatePassControl.confNewpassword" pw-check="newpassword" required/>
                            <div ng-messages="updatepassform.confNewpassword.$error" ng-show="updatepassform.confNewpassword.$touched || isButtonClicked">
                            <p ng-message="required" translate="cnfPassword_required_error" class="validation-err"></p>
                            <p ng-message="pwmatch" translate="cnfPassword_umatched_error" class="validation-err"></p>
                        </div>
                    </div>
            </div>
                

            <div class="modal-footer">
                <button class="btn btn-primary" type="button" ng-if="updatePassControl.newpassword && updatePassControl.confNewpassword" ng-click="ChangePassword(updatepassform)">जतन करा</button>
                <button class="btn btn-warning" type="button" ng-click="cancelModal()">रद्द (कँन्सल) करा</button>
                
            </div>
        </form>
</div>