
  
  <div ng-if="commercialServicesArray.length != 0">
    <table class="full-table">
       <tr>
          <th width="15%">Photo</th>
          <th width="15%">Service</th>
          <th width="15%">Contact Person</th>
          <th width="15%">Designation</th>
          <th width="10%">Contact number</th>
          <th width="20%">Address</th>
          <th width="10%">Status</th>
          
       </tr>

       <tr ng-repeat="commercialService in commercialServicesArray"> <!-- servicecategoryid -->
          <td><image class="tablelistpiccol" ng-src="{{commercialService.serviceimage}}" onerror="this.src='./assets/img/noimage.jpg'"/></td>
          <td ng-bind="commercialService.servicename"></td>
          <td ng-bind="commercialService.servicecontactperson"></td>
          <td ng-bind="commercialService.servicedesignation"></td>
          <td ng-bind="commercialService.servicephone"></td>
          <!-- <td >
                <li ng-repeat="phone in commercialService.servicephone" ng-bind="phone"></li>
          </td> -->
          <td ng-bind="commercialService.serviceaddress"></td>
          <td ng-if="commercialService.servicestatus == '1'">Enabled</td> 
          <td ng-if="commercialService.servicestatus == '0'">Disabled</td>
       </tr>
       
    </table>
  </div>
