
  


  <div ng-if="emergencyServicesArray.length != 0">
    <table class="full-table">
       <tr>
          <th width="15%">Photo</th>
          <th width="15%">Service</th>
          <th width="15%">Contact Person</th>
          <th width="15%">Designation</th>
          <th width="10%">Contact number</th>
          <th width="20%">Address</th>
          <th width="10%">Status</th>
         
       </tr>

       <tr ng-repeat="emergencyService in emergencyServicesArray"> <!-- servicecategoryid -->
          <td><image class="tablelistpiccol" ng-src="{{emergencyService.serviceimage}}" onerror="this.src='./assets/img/noimage.jpg'"/></td>
          <td ng-bind="emergencyService.servicename"></td>
          <td ng-bind="emergencyService.servicecontactperson"></td>
          <td ng-bind="emergencyService.servicedesignation"></td>
          <td ng-bind="emergencyService.servicephone"></td>
          <!-- <td >
                <li ng-repeat="phone in emergencyService.servicephone" ng-bind="phone"></li>
          </td> -->
          <td ng-bind="emergencyService.serviceaddress"></td>
          <td ng-if="emergencyService.servicestatus == '1'">Enabled</td> 
          <td ng-if="emergencyService.servicestatus == '0'">Disabled</td>
       </tr>
       
    </table>
  </div>
