
  <div ng-if="importantInfoServicesArray.length != 0">
    <table class="full-table">
       <tr>
           <th width="15%">Photo</th>
          <th width="15%">Service</th>
          <th width="30%">Service Url</th>
          <th width="10%">Status</th>
          
       </tr>

       <tr ng-repeat="importantInfoService in importantInfoServicesArray"> <!-- servicecategoryid -->
        <td><image class="tablelistpiccol" ng-src="{{importantInfoService.serviceimage}}" onerror="this.src='./assets/img/noimage.jpg'"/></td>
          <td ng-bind="importantInfoService.servicename"></td>
          <td ng-bind="importantInfoService.serviceurl"></td>
          <td ng-if="importantInfoService.servicestatus == '1'">Enabled</td> 
          <td ng-if="importantInfoService.servicestatus == '0'">Disabled</td> 
          
       </tr>
       
    </table>
  </div>
