  <div ng-if="medicalassistanceServicesArray.length != 0">
    <table class="full-table">
       <tr>
          <th width="20%">Photo</th>
          <th width="60%">Service</th>
          <th width="20%">Status</th>
       </tr>

       <tr ng-repeat="medicalassistanceService in medicalassistanceServicesArray"> <!-- servicecategoryid -->
        <td><image class="tablelistpiccol" ng-src="{{medicalassistanceService.serviceimage}}" onerror="this.src='./assets/img/noimage.jpg'"/></td>
          <td ng-bind="medicalassistanceService.servicename"></td>
          <td ng-if="medicalassistanceService.servicestatus == '1'">Enabled</td> 
          <td ng-if="medicalassistanceService.servicestatus == '0'">Disabled</td> 
          </td>
       </tr>
       
    </table>
  </div>
