
  
  <div ng-if="municipalServicesArray.length != 0">
    <table class="full-table">
       <tr>
          <th width="15%">Photo</th>
          <th width="15%">Service</th>
          <th width="15%">Contact Person</th>
          <th width="15%">Designation</th>
          <th width="10%">Contact number</th>
          <th width="20%">Address</th>
          <th width="10%">Status</th>
       </tr>

       <tr ng-repeat="municipalService in municipalServicesArray"> <!-- servicecategoryid -->
        <td><image class="tablelistpiccol" ng-src="{{municipalService.serviceimage}}" onerror="this.src='./assets/img/noimage.jpg'"/></td>
          <td ng-bind="municipalService.servicename"></td>
          <td ng-bind="municipalService.servicecontactperson"></td>
          <td ng-bind="municipalService.servicedesignation"></td>
          <td ng-bind="municipalService.servicephone"></td>
          <!-- <td>
              <li ng-repeat="phone in municipalService.servicephone" ng-bind="phone"></li>
          </td> -->
          <td ng-bind="municipalService.serviceaddress"></td>
          <td ng-if="municipalService.servicestatus == '1'">Enabled</td> 
          <td ng-if="municipalService.servicestatus == '0'">Disabled</td>
       </tr>
       
    </table>
  </div>
