<div ng-include="'./app/shared/menu/superadminmenu.html'"></div>
<section class="page candidates" >
	<h1 translate="importcitizencsv_label"></h1>
    <div>
    	
    	<form novalidate name="importform" enctype="multipart/form-data"  id="">
	        <div class="form-group clear">
		        <div class="col-md-2">
		        	<label translate="importcitizencsv_label">*</label>
		        </div>
		        <div class="col-md-10">
		          <input type="file" 
		                ngf-select 
		                ngf-pattern="'.xlsx,.xls,.csv'",
		                accept=".csv,.xlsx,.xls",
		                ng-model="importFormControl.csv" ,
		                name="csv"    
		                ngf-model-invalid="errorFiles" required>
		            <div ng-messages="importform.csv.$error" ng-show="importform.csv.$touched || isButtonClicked">
            			<p ng-message="required" translate="file_required_error" class="validation-err"></p>
            			<p ng-message="pattern" translate="unsupportedfile_required_error" class="validation-err"></p>
            		</div>
		        </div>
      		</div>

      		<div class="form-group clear">
      			<div class="col-md-2">
		        	<label>&nbsp;</label>
		        </div>
		        <div class="col-md-10">
      				<button type="button" class="btn btn-info" ng-click="importFile(importform)">{{'uploadtext_label' | translate}}</button>
      			</div>
    		</div>
	    </form>
    </div>    
</section>