
    <div ng-if="govtLoanSchemesListArray.length != 0">
    <table class="full-table">
       <tr>
          <th width="15%">Category Name</th>
          <th width="20%">Category Url</th>
          <th width="10%">Status</th>
       </tr>

       <tr ng-repeat="govtLoanSchemesHH in govtLoanSchemesListArray"> <!-- servicecategoryid -->
          <td ng-bind="govtLoanSchemesHH.hhcategoryname"></td>
          <td ng-bind="govtLoanSchemesHH.hhurl"></td>
          <td ng-if="govtLoanSchemesHH.hhstatus == '1'">Enabled</td> 
          <td ng-if="govtLoanSchemesHH.hhstatus == '0'">Disabled</td>
       </tr>
       
    </table>
  </div>
