<div ng-if="newBusinessMenListArray.length != 0">
    <table class="full-table">
       <tr>
          <th width="15%">Category Name</th>
          <th width="20%">Category Url</th>
          <th width="10%">Status</th>
          
       </tr>

       <tr ng-repeat="newBusinessMenHH in newBusinessMenListArray"> <!-- servicecategoryid -->
          <td ng-bind="newBusinessMenHH.hhcategoryname"></td>
          <td ng-bind="newBusinessMenHH.hhurl"></td>
          <td ng-if="newBusinessMenHH.hhstatus == '1'">Enabled</td> 
          <td ng-if="newBusinessMenHH.hhstatus == '0'">Disabled</td>
       </tr>
       
    </table>
  </div>