
  <div ng-if="pmcSchemesListArray.length != 0">
    <table class="full-table">
       <tr>
          <th width="15%">Category Name</th>
          <th width="20%">Category Url</th>
          <th width="10%">Status</th>
       </tr>

       <tr ng-repeat="pmcSchemesHH in pmcSchemesListArray"> <!-- servicecategoryid -->
          <td ng-bind="pmcSchemesHH.hhcategoryname"></td>
          <td ng-bind="pmcSchemesHH.hhurl"></td>
          <td ng-if="pmcSchemesHH.hhstatus == '1'">Enabled</td> 
          <td ng-if="pmcSchemesHH.hhstatus == '0'">Disabled</td>
       </tr>
       
    </table>
  </div>
