
  <div ng-if="skillDevelopmentListArray.length != 0">
    <table class="full-table">
       <tr>
          <th width="15%">Category Name</th>
          <th width="20%">Category Url</th>
          <th width="10%">Status</th>
       </tr>

       <tr ng-repeat="skillDevelopmentHH in skillDevelopmentListArray"> <!-- servicecategoryid -->
          <td ng-bind="skillDevelopmentHH.hhcategoryname"></td>
          <td ng-bind="skillDevelopmentHH.hhurl"></td>
          <td ng-if="skillDevelopmentHH.hhstatus == '1'">Enabled</td> 
          <td ng-if="skillDevelopmentHH.hhstatus == '0'">Disabled</td>
       </tr>
       
    </table>
  </div>
