

  <div ng-if="utilityBillsListArray.length != 0">
    <table class="full-table">
       <tr>
          <th width="15%">Category Name</th>
          <th width="20%">Category Url</th>
          <th width="10%">Status</th>
       </tr>

       <tr ng-repeat="utilityBillsHH in utilityBillsListArray"> <!-- servicecategoryid -->
          <td ng-bind="utilityBillsHH.hhcategoryname"></td>
          <td ng-bind="utilityBillsHH.hhurl"></td>
          <td ng-if="utilityBillsHH.hhstatus == '1'">Enabled</td> 
          <td ng-if="utilityBillsHH.hhstatus == '0'">Disabled</td>
       </tr>
       
    </table>
  </div>
