<div ng-include="'./app/shared/menu/adminnagarisuvidhamenu.html'"></div>
<section class="page candidates" >
	<h1 translate="compliantList_label"></h1>
    

	<section>
      <div class="tabs tabs-style-flip">
        <nav>
          <ul>
            <li><a data-target="complaint-dashboard-tab" class="icon icon-profile"><span translate="complaintdash_label"></span></a></li>
            
            <li ><a data-target="complaint-list-tab" class="icon icon-profile" ><span translate="allcomplaints_label"></span></a></li>
            
            

          </ul>
        </nav>
        <div class="content-wrap" ng-init="getComplaintStatistics()">
          <section id="complaint-dashboard-tab">
            		<div >
    		
			<table class="table">
				<tbody>
					<tr class="complaint-stat-table">
						<th width="10%">अनु. क्र.</th>
						<th width="30%">तक्रार  / सेवा विनंती प्रकार</th>
						<th width="30%">प्रलंबित (पेंडींग)</th>
						<th width="30%">सोडविलेल्या (रिझॉल्व्हड) </th>
					</tr>
					<tr ng-repeat="stats in complainStatisticsList">
						<td ng-bind="$index+1">Water</td>
						<td ng-bind="stats.complaintcategory">cyds  sfhsdf sdgdjsghdsjhg sdgdsgdhs</td>
						<td ng-bind="stats.pendingCount"></td>
						<td ng-bind="stats.resolvedCount"></td>
						
					</tr>
					<tr class="complaint-stat-total-row" ng-if="complainStatisticsList.length != 0">
						<td></td>
						<td>Total</td>
						<td ng-bind="totalComplaintsCnt.totalPending">0</td>
						<td ng-bind="totalComplaintsCnt.totalResolved">0</td>
					</tr>
					
				</tbody>
			</table>
			    
    	</div>
          </section>
          <section id="complaint-list-tab">
            	<div style="text-align:left!important;">
    	
    	


    	<div class="search-by new-filter-parent row" style="padding-left: 0px">
    		<!-- <span class="new-filter col-lg-6" >{{'filterby_label' | translate }} </span> --> 
			
			<span class="search-by-updated">
			<form novalidate name="" id="">
				<div class="col-lg-9">
					<div class="col-lg-12" style="margin-top: 15px;">
						<div class="col-lg-6">
							<label style="font-weight: normal">तक्रार  / सेवा विनंती प्रकार</label>
							<span class="search-btn">
								<select style="min-width:180px;" name="complaintcategory" ng-init="getComplaintCategories()" ng-model="complaintListFilterFormControl.complaintcategory" required style="width: 100%">
				             	<option value="">All</option>
				             	<option value="{{complaintlist.complaintcategory}}" ng-repeat="complaintlist in complaintcategoryList">{{complaintlist.complaintcategory}}</option>
				        	  </select>
							</span>
						</div>
						<div class="col-lg-6">
							<span>
								<label style="font-weight: normal">तक्रार  सद्य स्थिती </label>
								<select style="min-width:180px;" ng-model="complaintListFilterFormControl.filterBy">
									<!-- <option value="">Select Filter By</option> -->
									<option value="">All</option>
							  		<option value="1">Pending Complaints</option>
							  		<option value="0">Resolved Complaints</option>
							  		<!-- <option value="category">Complaint Category</option> -->
							  		<!-- <option value="date">Date</option> -->
							  	</select>
							</span>
						</div>	
			    	</div>
					<div class="col-lg-12" style="margin-top: 15px;">
						
							<div class="col-lg-6">
								<span class="search-btn">
								<span><label>{{'fromdate_label' | translate }}:</label> <input type="text" id="fromdatepicker" ng-model="complaintListDateFilterFormControl.fromDate" style="width: 100px;"></span>
							</span>
							</div>
							<div class="col-lg-6">
								<span class="search-btn">
								<span><label>{{'todate_label' | translate }}:</label> <input type="text" id="todatepicker" ng-model="complaintListDateFilterFormControl.toDate" style="width: 100px;"></span>
							</span>
								</div>
						
					</div>
				</div>
				<div class="col-lg-3"  style="margin-top: 40px;">
				<span class="search-btn">
					<input type="submit" name="search" class="login loginmodal-submit" ng-click="listFilterHandler()" value="{{'filterby_label' | translate }}">
	            <input type="submit" name="remove" class="login loginmodal-submit" ng-click="removeListFilterHandler()" 
	            value="{{'restfilter_label' | translate }}">
				</span>
			</div>
		    </form>
		    </span>
    	</div>

    	<div class="search-by row" style="margin-top:1%;margin-bottom:1%;">
    		<!-- <form novalidate name="" id="">
				<span class="search-btn">
					<span>{{'fromdate_label' | translate }}: <input type="text" id="fromdatepicker" ng-model="complaintListDateFilterFormControl.fromDate" style="width: 100px;"></span>
					<span>{{'todate_label' | translate }}: <input type="text" id="todatepicker" ng-model="complaintListDateFilterFormControl.toDate" style="width: 100px;"></span>
				</span>

				<span class="search-btn">
					<button ng-click="listDateFilterHandler()">
						<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
						
					</button>
					<button ng-click="removeListFilterHandler()">
						<span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
					</button>

				</span>
		    </form> -->
    	</div>




    	

    	<div ng-init="getComplaints()">
    		
			<table class="table">
				<tbody>
					<tr>
						<th width="15%">तक्रार  / सेवा विनंती प्रकार</th>
						<th width="15%">तक्रार / सेवा विनंती अर्जकर्त्याचे नांव </th>
						<th width="25%">तक्रार  / सेवा विनंती शीर्षक</th>
						<th width="15%">तक्रार  / सेवा विनंती नोंदविल्याची तारीख </th>
						<th width="10%">सद्य स्थिती </th>
						<th width="20%"> कारवाई / उपाययोजना </th>
					</tr>
					<tr dir-paginate ="myComplaint in myComplaintList | itemsPerPage: itemsPerPage " current-page="currentPage" paginationid="complaintlist" class="{{myComplaint.complaintstatus == '1' ? 'pending-row' : 'resolved-row'}}">
						<td ng-bind="myComplaint.complaintcategory">Water</td>
						<td ng-bind="myComplaint.firstname +' '+myComplaint.lastname ">cyds  sfhsdf sdgdjsghdsjhg sdgdsgdhs</td>
						<td ng-bind="myComplaint.complainttitle"></td>
						<td ng-bind="myComplaint.created | formatDate"></td>
						<td ng-if="myComplaint.complaintstatus == '1'">Pending</td>
						<td ng-if="myComplaint.complaintstatus == '0'">Resolved</td>
						<td><button class="btn btn-default" ng-click="goToViewComplaint(myComplaint)">पहा / सोडवा</button></td>
					</tr>
					
				</tbody>
			</table>
			<dir-pagination-controls paginationid="complaintlist" template-url="./app/shared/pagination/dirPagination.tpl.html"></dir-pagination-controls>

			  <button ng-if="myComplaintList && myComplaintList.length != 0" class="add-candidate"
              ng-csv="exportComplaintList" csv-header="getHeader()" filename="complaints.csv" field-separator="{{separator}}" decimal-separator="{{decimalSeparator}}"
              ><span class="glyphicon glyphicon-export" aria-hidden="true"></span>&nbsp; {{'exportcsvbtn_label' | translate}}</button>
	    
			    <div class="validation-err no-record" ng-if="myComplaintList.length == 0 && isSearchedClicked">
			    	{{'nosearchfound' | translate }}
			    </div>    
	            
    	</div>
    </div>  
          </section>
          
        </div><!-- /content -->
      </div><!-- /tabs -->
    </section>








      
</section>