<div ng-include="'./app/shared/menu/adminnagarisuvidhamenu.html'"></div>
<section class="page candidates" >
	<h1>{{'complaintdetails_label' | translate}} </h1>
    <div ng-init="getComplaintDetails()">
    	<form novalidate name="resolvecomplaintform">
        <div class="form-group clear">
            <div class="col-md-2"><label translate="complainttype_label">:*</label></div>
            <div class="pro-text col-md-10" ng-bind="resolveFormControl.category"></div>
        </div>
        <div class="form-group clear">
            <div class="col-md-2"><label translate="complainttitle_label">:*</label></div>
            <div class="pro-text col-md-10" ng-bind="resolveFormControl.complainttitle"></div>
        </div>
        <div class="form-group clear">
            <div class="col-md-2"><label translate="complaintdesc_label">:</label></div>
            <div class="pro-text col-md-10" ng-bind="resolveFormControl.complaintdescription"></div>
        </div>
        <div class="form-group clear" ng-if="complaintImages.length != 0">
            <div class="col-md-2"><label translate="complaintimages_label">:</label></div>
            <div class="pro-text col-md-10"><ng-gallery images="complaintImages"></ng-gallery></div>
        </div>
        
        <div class="form-group clear">
            <div class="col-md-2"><label translate="complaintstatus_label">:</label></div>
            <div class="col-md-10">
                <select name="complaintstatus" ng-model="resolveFormControl.complaintstatus" style="width:200px" required>
                    <option value="1">Pending</option>
                    <option value="0">Resolved</option>
                </select>
          	     <div ng-messages="resolvecomplaintform.complaintstatus.$error" ng-show="candidateprofileform.gender.$touched || isButtonClicked">
                    <p ng-message="required" class="validation-err"></p>
          	     </div>  
            </div>
        </div>
        <div class="form-group clear">
            <div class="col-md-2">
                <label>निराकरण टिप्पणी</label>
            </div>
            <div class="col-md-10 form-group-discription">
                <textarea name="resolvedcomments" ng-model="resolveFormControl.resolvedcomments" class="discription-area" required></textarea>
                <div ng-messages="resolvecomplaintform.resolvedcomments.$error" ng-show="resolvecomplaintform.resolvedcomments.$touched || isButtonClicked">
                    <p ng-message="required" class="validation-err" translate="resolvedcomment_error"></p>
          	    </div>  
            </div>
            </div>
        <div class="form-group clear">
            <div class="col-md-2">&nbsp;</div>
            <div class="col-md-10"><button type="button" class="btn btn-info" ng-click="resolveComplaint(resolvecomplaintform)">{{ 'save_label' | translate}}</button></div>
        </div>
    </div>    
</section>