<div ng-include="'../app/shared/menu/endusermenu.html'"></div>

<section class="page dashboard">
        <h1 translate="citizenhome_label"></h1>
        <div class="clear-center"><img src="../assets/img/dashoard-banner.png" class="banner-img"></div>
</section>