<div ng-include="'../app/shared/menu/endusermenu.html'"></div>
<section class="page candidates">
	<h1 translate="mycomplaintslist_label"> </h1>
    <div>
    	<div ng-init="getComplaints()">
    		
			<table class="table">
				<tbody>
					<tr>
						<th width="12%">तक्रार  / सेवा विनंती प्रकार</th>
						<th width="15%">तक्रार  / सेवा विनंती शीर्षक</th>
						<th width="20%">
							तक्रार  / सेवा विनंती वर्णन
						</th>
						<th width="20%">
							निराकरण टिप्पणी
						</th>
						<th width="15%">सद्य स्थिती</th>
						<!-- <th width="10%">Delete</th> -->
					</tr>
					<tr dir-paginate ="myComplaint in myComplaintList | itemsPerPage: itemsPerPage " current-page="currentPage" paginationid="complaintlist">
					<!-- <tr ng-repeat="myComplaint in myComplaintList"> -->
						<td ng-bind="myComplaint.complaintcategory">Water</td>
						<td ng-bind="myComplaint.complainttitle">cyds  sfhsdf sdgdjsghdsjhg sdgdsgdhs</td>
						<td ng-bind="myComplaint.complaintdescription">cyds  sfhsdf sdgdjsghdsjhg sdgdsgdhs</td>
						<td ng-bind="myComplaint.resolvedcomments">Water</td>
						<td ng-if="myComplaint.complaintstatus == '1'">Pending</td>
						<td ng-if="myComplaint.complaintstatus == '0'">Resolved</td>
						
						<!-- <td><span class="delete" ng-click="deleteCandidate(candidate)">X</span></td> -->
					</tr>
					
				</tbody>
			</table>
			<dir-pagination-controls paginationid="mycomplaints" template-url="../app/shared/pagination/dirPagination.tpl.html"></dir-pagination-controls>

			 <!-- <button ng-if="candidateList && candidateList.length != 0" class="add-candidate"
              ng-csv="exportCandidateList" csv-header="getHeader()" filename="candidates.csv" field-separator="{{separator}}" decimal-separator="{{decimalSeparator}}"
              >Export to CSV</button> -->
	            
    	</div>
    </div>    
</section>