<div ng-include="'../app/shared/menu/endusermenu.html'"></div>

<section class="page dashboard">
        <h1 translate="raisecomplaints_label"></h1>
        <form novalidate name="raisecomplaintsform" id="">
	        <div class="form-group  col-md-6">
	          <label translate="complainttype_label">:*</label><br>
	          <select name="complaintcategory" ng-init="getComplaintCategories()" ng-model="raiseComplaintsFormControl.complaintcategory" required style="width: 100%">
             	<option value="">Select Complaint type</option>
             	<option value="{{complaintlist.complaintcategory}}" ng-repeat="complaintlist in complaintcategoryList">{{complaintlist.complaintcategory}}</option>
        	  </select>

	          <div ng-messages="raisecomplaintsform.complaintcategory.$error" ng-show="raisecomplaintsform.complaintcategory.$touched || isButtonClicked">
	              <p ng-message="required" translate="complainttype_required_error" class="validation-err"></p>
	          </div>  
	     
	        </div>
	        <div class="form-group col-md-6">
            	<label translate="complainttitle_label">:*</label>
	            <input type="text" ng-model="raiseComplaintsFormControl.complainttitle" name="complainttitle" class="form-control ng-pristine ng-valid ng-touched" required>
	            <div ng-messages="raisecomplaintsform.complainttitle.$error" ng-show="raisecomplaintsform.complainttitle.$touched || isButtonClicked">
	              <p ng-message="required" translate="title_required_error" class="validation-err"></p>
	            </div>
            </div>
	        <div class="form-group form-group-discription clear col-md-12">
		        <label style="font-size: 12px" translate="complaintdesc_label">:*</label>
		        <textarea name="complaintdescription" ng-model="raiseComplaintsFormControl.complaintdescription" class="discription-area" required></textarea>

		        <div ng-messages="raisecomplaintsform.complaintdescription.$error" ng-show="raisecomplaintsform.complaintdescription.$touched || isButtonClicked">
		            <p ng-message="required" translate="desc_rquired" class="validation-err"></p>
		        </div>
      		</div>

      		<div class="clear-center">
      			<button type="button" class="btn btn-info" ng-click="raiseCompalint(raisecomplaintsform)">{{'raiseComplaintbtn_label' | translate}}</button>
    		</div>
	    </form>    
</section>